/* Modelo Vacio Prontus          */
/* CSS Generales para Tags HTML  */


/* subtits */
.subtit1 {width:100%; margin:0; padding:0 0 4px 10px;}
.subtit2 {width:100%; margin:0; padding:0 0 2px 30px;}
.subtit a {font-size:12px; font-weight:bold; color:#3d4b65;}
.subtit1 a {font-size:14px;font-weight:bold; color:#3d4b65;}
.subtit2 a {font-size:11px; font-weight:normal; color:#3d4b65;}
.contSubtit .subtit,  .contSubtit .subtit1, .contSubtit .subtit2 {width:100%; margin:5px 0 0 0; padding:0 0 8px 0; font-size:14px; font-weight:bold; color:#3d4b65; border-bottom:1px solid #e0e0e0;}
.contSubtit div.linkSubtit {float:right; margin:5px 0 0 0; padding:0 0 8px 0; font-size:10px; font-weight:bold; color:#3d4b65;}




/*vtxt*/
.CUERPO .subtit1 /* subtitulos */        {margin:0; padding:5px 0 8px 0; font-size:18px; font-weight:bold;}
.CUERPO .subtit2 /* subtitulos */        {display:block; width:100%; margin:0; padding:0 0 8px 0; font-size:14px; font-weight:bold; color:#3d4b65; border-bottom:1px solid #e0e0e0;}
.CUERPO .subtit /* subtitulos */        {display:block; width:100%; margin:0; padding:0 0 8px 0; font-size:14px; font-weight:bold; color:#3d4b65; border-bottom:1px solid #e0e0e0;}
.titulos  /* titulos */         {display:table; width:100%; margin:0; padding:0; font-size:14px; font-weight:bold; color:#B32305;}
.piefoto  /* pies de fotos */   {color:#191919; font-size:10px;}
.resalta /* texto resaltado */  {font-weight:bold; font-size:14px; color:#1c5ba2;}
.azulbold /* texto azul bold */ {font-weight:bold; color:#1c5ba2;}
.amarillo /* texto amarillo */  {color:#F8DA07;}
.azul     /* texto azul */      {color:#1c5ba2;}
.blanco   /* texto blanco */    {color:#FCFCFC;}
.negro    /* texto negro */     {color:#000000;}
.rojo     /* texto rojo */      {color:#B32305;}
.naranjo  /* texto naranjo */   {color:#FF6000;}
.verde    /* texto verde */     {color:#339900;}
.gris     /* texto gris */      {color:#5C5C5C;}
.nombre   /* nombre recuadro */ {font-size:11px; font-weight:bold; color:#B32305; margin:0;}
.cargo    /* cargo recuadro */  {font-size:10px; font-weight:bold; color:#282828; margin:0;}
.datos    /* datos recuadro */  {font-size:10px; color:#282828; margin:0;}
/*/vtxt*/
