/* Modelo Vacio Prontus */
body{margin:0; padding:0; border:0; font-family:Arial,Tahoma,Arial,Helvetica,Sans-Serif;}
html>body {margin:0; padding:0;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
a:hover * {text-decoration:none;}
form{margin:0; padding:0;}
.separa, .spacer {clear:both;}


/* sociales */
.sociales a {
    color: #217CC2;
    float: left;
    font-size: 11px;
    margin: 5px 3px 0 0;
    overflow: hidden;
}
.sociales a img {
    vertical-align:middle;
}
a, a:hover {
    text-decoration: none;
}
/* sociales */

