/*-------------------oo------------------------*/

/*COMUNES*/
.titular-tax a:hover, .cliente-right h1.cliente a:hover, .cliente-left h1.cliente a:hover, #content-art h4 a:hover, .lista-solucion .item .vermas a:hover, .lista-solucion .subir a:hover, .lista-solucion .item .titular a:hover, .lista-productos .subir a:hover, .bread-crumbs a:hover, .botones-tabs div a:hover, .subir a:hover, .subtitulos a:hover, .contSubtit .linkSubtit a:hover, .col-rel .vermas a:hover, .col-rel .texto a:hover, .col-rel .texto .texto-link a:hover {color:#CC0000; text-decoration:none;}

/*-------------------oo------------------------*/

/*AUXILIARES*/
.volver-top {float:right;}
.subir {margin:10px 0; padding:0; font-size:11px; color:#999999; text-align:right;}
.subir a {font-size:11px; color:#999999;}

/*-------------------oo------------------------*/

/* sociales */
.sociales a {
    color: #217CC2;
    float: left;
    font-size: 11px;
    margin: 5px 3px 0 0;
    overflow: hidden;
}
.sociales a img {
    vertical-align:middle;
}
/* sociales */

/*ESTILOS ESTRUCTURALES*/
#head-art {width:925px; margin:0 auto; color:#ffffff; font-size:11px;}
#content-art {width:925px; margin:0 auto 0; background:url(/modelo_minimo/imag/back/back_right.jpg) no-repeat left top; background-color:#ffffff;}
.no-bg{background: #FFF !important; }
#content-art-alt {width:925px; margin:0 auto 0; background-color:#ffffff;}
#content-art-form {width:925px; margin:0 auto 0; background-color:#ffffff;}
#content-art-form .cont-right  {width:855px; float:none; margin:0 auto; padding:0px 0 0;}
.cont-right {padding:10px;}
.cont-left {width:275px; float:left; padding:10px; }
#content-art-form .cont-right .cont-auxi {margin:0;}
.box-recuadro {width:249px; float:left; clear:both; padding:10px; border:1px solid #ccc; background:#FFFFFF; text-align: center;}
.box-recuadro p {margin-top:5px;color:#666;}
.sep {height:7px;}

/*-------------------oo------------------------*/

/*MIGAS DE PAN - USTED ESTÁ*/
.bread-crumbs {width:925px; margin:25px auto 0;}
.bread-crumbs a {margin:0; font-family:Tahoma,Verdana; font-size:11px; color:#999999;}
.bread-crumbs img, .bread-crumbs .ruta {float:left;}
.bread-crumbs .ruta {margin:8px 0 0; font-family:Tahoma,Verdana; font-size:11px; color:#999999;}

/*-------------------oo------------------------*/

/*ESTILOS CONTENIDO*/
#content-art .cont-right h1.titular{margin:10px 0 0 0; font-size:30px; line-height:100%; color:#006699; font-weight:bold;}
#content-art .cont-right h2.bajada {font-size:15px; color:#666; font-weight:bold; margin:0 0 15px 0;  text-align:left;}
#content-art .cont-right h3.epigrafe {font-size:11px; color:#999999; font-weight:bold;}
#content-art .cont-right h4, #content-art h4 a {margin:0; font-size:12px; color:#20638e; font-weight:bold;}
#content-art .cont-right .fecha {font-size:11px; color:#999999;}
#content-art .cont-right .separa-titular {width:100%; border-bottom:1px solid #f0f0f0; margin:0 0 15px 0; padding:0 0 10px 0;}
#content-art .cont-right #herramientas {border-top: 1px solid #e7e7e7; text-align: center;}

/*ESTILOS CONTENIDO*/
#content-art-form .cont-right h1{font-size:30px; line-height:30px; color:#006699; font-weight:bold; margin:5px 0 0 0;}
#content-art-form .cont-right h2 {font-size:14px; color:#666; font-weight:normal; margin:0 0 15px 0; line-height:170%; text-align:justify;}
#content-art-form .cont-right h3 {font-size:11px; color:#999999; font-weight:bold;}
#content-art-form .cont-right h4, #content-art h4 a {margin:0; font-size:12px; color:#20638e; font-weight:bold;}
#content-art-form .cont-right .fecha {font-size:11px; color:#999999;}
#content-art-form .cont-right .separa-titular {width:100%; border-bottom:1px solid #f0f0f0; margin:0 0 15px 0; padding:0 0 10px 0;}

/*-------------------oo-------------------------*/

/* ESTILOS RESULTADO DEL BUSCADOR */
#content-art .cont-right .separa-titular h1.titular-search {font-size:30px; line-height:100%; color:#006699; font-weight:bold;}
#content-art .cont-right .separa-titular h2.titular-search,
#content-art .cont-right .separa-titular h3.titular-search {font-size:15px; color:#666; font-weight:bold; margin:0 0 15px 0;  text-align:left;}
#content-art .cont-right .taxport-cont .titular-tax-search .num, 
#content-art .cont-right .taxport-cont .titular-tax-search a{font-size:12px; line-height:15px; margin:0; padding:0; font-weight:bold; color:#003366;}
#content-art .cont-right .taxport-cont .titular-tax-search a:hover {color:#CC0000;}
#content-art .cont-right .taxport-cont .bajada-tax-search {color:#666666;font-size:12px;font-weight:normal;margin:3px 0 0;}
#content-art .cont-right .taxport-cont .foto-search img {border:2px solid #CCCCCC;}

/*-------------------oo-------------------------*/

/*-------------------oo------------------------*/

/*ARTICULO FORMULARIO*/
.form-tabla {margin:0 0 10px;}
.form-tabla-reg {margin:auto;}
.form-tabla td, .form-tabla-reg td {padding:4px; font-size:12px; color:#666;}
#content-art-form .cont-right td.form-left {text-align:right;}
.form-tabla .campo, .form-tabla .box {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif;width:280px; padding:3px; border:1px solid #CCC; background-color:#f2f2f2; 
                    font-size:12px; color:#666; width:350px;}
.form-tabla .campomedium{font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif;padding:3px; border:1px solid #CCC; background-color:#f2f2f2; 
                    font-size:12px; color:#666;width:150px;}
                    
.form-tabla-reg .campo-reg {width:150px; padding:3px; border:1px solid #CCC; background-color:#f2f2f2; font-size:12px; color:#666;}
.form-tabla .boton {margin:10px 0 0; width:86px; height:25px; background:url(/prontus_altavoz/imag/auxi/boton_enviar.gif) no-repeat left top; border:none; font-weight:bold; font-size:12px; color:#fff; cursor:pointer;}
/*segunda parte*/
td.form-enc, .form-enc {margin:0; padding:20px 0 10px 0; font-size:14px; color:#003366; font-weight:bold; border-bottom:1px solid #ccc; text-align:justify;}
td.form-enc-dos, .form-enc-dos {margin:0; padding:20px 0 8px 0; font-size:12px; color:#666; text-align:justify; font-weight:bold;}
.form-tabla-dos {margin:10px 0 0; font-size:11px; font-weight:normal; color:#666; border:1px solid #ccc;}
.form-tabla-dos .td-color, .form-tabla-dos .td-color td {font-size:11px; font-weight:bold; color:#ac2f2f; background-color:#f8eded;}
.form-tabla-dos .td-blanco {font-size:11px; font-weight:normal; color:#999; background-color:#FFF;}
.form-tabla-dos .td-celeste {background-color:#EFEDED;}
.form-tabla-dos .td-celeste table td {font-size:11px; color:#666;}
.form-tabla-dos .td-blanco table td {font-size:11px; color:#666;}
.hint{font-size: 11px; display:block; clear:both;}

.field2 {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; width:80%; padding:3px; border:1px solid #CCC; background-color:#f2f2f2; font-size:12px; color:#666;}
.field {padding:3px; border:1px solid #CCC; background-color:#f2f2f2; font-size:12px; color:#666;}

/*-------------------oo------------------------*/

/* SUBTITULOS */
/*ancore*/
.subtitulos {margin:0 0 5px 5px; padding:0; font-size:12px; color:#006699; font-weight:normal; text-align:left; background:url(/prontus_altavoz/imag/auxi/flecha_azul.gif) no-repeat left top;}
.subtitulos a {margin:0 5px 0 12px; font-size:11px; color:#006699; font-weight:normal;}
/*subtítulo en el cuerpo*/
.contSubtit {margin:0 0 10px 0; padding:18px 0 4px 0; border-bottom:1px solid #e0e0e0;}
.contSubtit .titSubtit {margin:0; padding:0; font-size:16px; font-weight:bold; color:#0099cc; float:left; width:82%;}
.contSubtit .titSubtit div, .contSubtit .titSubtit a, .contSubtit .titSubtit a:hover {font-size:16px; font-weight:bold; color:#0099cc; text-decoration:none;}
.contSubtit .linkSubtit {margin:0 6px 0 0; padding:0; font-size:11px; font-weight:normal; color:#0099cc; text-align:right;}
.contSubtit .linkSubtit a {margin:0; font-size:11px; color:#0099cc; text-align:right;}

/*-------------------oo------------------------*/

/* RELACIONADOS*/
.list-tax {width:230px; margin:65px 0 25px 0;}
.list-tax .rotulo {font-size:22px; color:#999; margin:0 0 20px;}
.list-tax .item {margin:0 0 15px; background:url(/prontus_altavoz/imag/auxi/mas.gif) no-repeat left top;}
.list-tax .titular {font-size:13px; color:#666; margin:0;}
.list-tax .bajada {color:#999999; font-size:12px;}
.list-tax .titular a {font-size:11px; color:#8c8c8c; font-weight:bold; margin:0 0 0 15px;}
.list-tax .titular a:hover, .list-tax .vermas a:hover {text-decoration:underline;}
.list-tax .vermas {float:right; font-size:12px; color:#51a3e7; margin:6px 0 0;}
.list-tax .vermas a {font-size:12px; color:#51a3e7;}

.head-art {margin:14px auto; width:925px;}
.head-art .rotulo {font-size:22px; color:#fff; float:left; margin:0 25px 0 0;}
.head-art .titular {float:left; font-size:12px; color:#bdcad7; border-right:1px solid #bdcad7; margin:8px 10px 0 0; padding:0 10px 0 0;}
.head-art .titular a {font-size:12px; color:#bdcad7;}
.head-art .titular a:hover, .head-art .vermas a:hover {text-decoration:underline;}
.head-art .vermas {float:right; font-size:11px; color:#fff; margin:8px 0 0 15px;}
.head-art .vermas a {font-size:11px; color:#fff;}

/*-------------------oo------------------------*/

/* BLOQUE ADJUNTOS*/
.col-rel {width:100%; margin:15px 0; padding:15px 0; font-size:11px; background-color:#e5eaef;}
.col-rel .auxi {margin:0 15px;}
.col-rel .rot {font-family:"Myriad Web", Myriad, Arial, Helvetica, Sans-Serif; font-size:16px; font-weight:bold; color:#006699; margin:0 0 15px; padding:0 0 5px; border-bottom:1px solid #d6d6d6;}
.col-rel .texto {margin:0 0 5px; font-size:13px; color:#333333;}
.col-rel .texto a {font-family:"Myriad Web", Myriad, Arial, Helvetica,Sans-Serif; font-size:13px; color:#333333;}
.col-rel .vermas {float:right; clear:both; margin:5px 0 0;}
.col-rel .vermas a {font-family:Tahoma,Verdana; font-size:11px; color:#006699; font-weight:normal;}
/**/
.col-rel .texto .icon {float:left; margin:0 6px 0 0;}
.col-rel .texto .icon img {border:none;}
.col-rel .texto .texto-link, .col-des .texto .texto-link a {font-family:"Myriad Web",Myriad,Arial,Helvetica,Sans-Serif; margin:0; font-size:11px; color:#333333;}

/* MAPA DEL SITIO */
.mapa_around {padding:0; text-align:left; margin:0 0 35px 0;}

li.mapa_item1 {font-size:16px; font-weight:bold; color:#003366; line-height:20px; list-style-type:square; margin:10px 0; text-align:left;}
li.mapa_item2 {font-weight:bold; color:#666; font-size:12px; list-style-type:square; margin:0 0 8px 30px; text-align:left;}
li.mapa_item3 {list-style-type:square; margin:0 0 5px 60px; text-align:left; color:#999;}
li.mapa_item4 {list-style-type:square; margin-left:90px; text-align:left; color:#999;}

li.mapa_item1 * {font-size:16px; font-weight:bold; color:#003366;}
li.mapa_item2 * {font-weight:bold; color:#666; font-size:12px;}
li.mapa_item3 * {font-weight:normal; color:#999; font-size:12px;}
li.mapa_item4 * {font-weight:normal; color:#999; font-size:11px;}

li.mapa_item1 *:hover {color:#000;}
li.mapa_item2 *:hover {color:#CC0000;}
li.mapa_item3 *:hover {color:#CC0000;}
li.mapa_item4 *:hover {color:#CC0000;}

/*-------------------oo------------------------*/

/* MULTIMEDIA */
.video {text-align:center; margin:15px 0 0;}
.pie-video, .pie-video p {font-size:11px; margin:5px 0 0; color:#666;}

/*-------------------oo------------------------*/

/*PORTADA TAXONOMICA*/
.taxport-cont {width:93%; margin:0 0 10px; padding:0 0 10px; border-bottom:1px solid #DADADA; overflow:hidden;}
#content-art .cont-right .taxport-cont .foto {margin:0 10px 0 0; float:left; overflow:hidden;}
#content-art .cont-right .taxport-cont .foto img {border:2px solid #CCC;}
#content-art .cont-right .taxport-cont h1.tax, #content-art .cont-right .taxport-cont h1 a {font-size:12px; line-height:15px; margin:0; padding:0; font-weight:bold; color:#003366;}
#content-art .cont-right .taxport-cont h1 a:hover {color:#CC0000;}
#content-art .cont-right .taxport-cont h2.tax {margin:3px 0 0; font-size:12px; font-weight:normal; color:#666;}
#content-art .cont-right .taxport-cont h2.tax p {margin:0; font-size:12px; font-weight:normal; color:#666;}
.taxport-cont .fecha-tax {margin:0; font-size:11px; font-weight:normal; color:#333; line-height:12px;}
.taxport-msg {margin:15px 0 20px; font-size:11px; font-weight:bold; color:#666;}
.taxport-msg a {font-size:11px; font-weight:bold; color:#343671;}
.taxport-msg a:hover {color:#CC0000; text-decoration:underline;}

/*-------------------oo------------------------*/

/* CUERPO DEL ARTICULO */
p {font-family:"Myriad Web", Myriad,Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:13px; font-weight:normal; color:#333333;}
.CUERPO p {font-family:"Myriad Web", Myriad,Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:13px; font-weight:normal; color:#333333; text-align:justify; margin:0;} /* Esto es solo para que funcione el +/- letra */
.CUERPO ul, .CUERPO p ul {margin-top:8px; margin-left:50px; font-size:13px; color:#333333;}
.CUERPO ul li, .CUERPO p ul li {list-style-type:square; font-size:13px; color:#333333;}
.CUERPO ol, .CUERPO p ol {margin-top:8px; margin-left:50px; font-size:13px; color:#333333;}
.CUERPO ol li, .CUERPO p ol li {list-style-type:decimal; font-size:13px; color:#333333;}
.CUERPO blockquote {margin-left:15px;}
.CUERPO {font-family:"Myriad Web", Myriad,Tahoma,Verdana,Arial,Helvetica,Sans-Serif; margin:10px 0 0 0; padding:0 0 20px; font-size:13px; font-weight:normal; color:#333; 
         line-height:170%; text-align:justify; clear:both;}
.CUERPO table, .CUERPO table td {border-collapse:collapse; padding:1px; font-size:13px; color:#333333; line-height:12px; font-weight:normal; text-align:left;}
.CUERPO table, .CUERPO table td strong {font-weight:bold; font-size:13px; margin:0; line-height:12px;}
.CUERPO a {font-size:12px; font-weight:normal; text-decoration:underline;}
.CUERPO a:hover, .CUERPO * a:hover {text-decoration:underline;}
.CUERPO strong, .CUERPO b {font-weight:bold;}
.CUERPO sup {font-size:10px;}
ul {list-style:square; display: block; margin: 5px 5px 0px 50px; font-size:11px; color:#333333;}
ol {list-style:decimal; display: block; margin: 5px 5px 0px 50px; font-size:11px; color:#333333;}

/*-------------------oo------------------------*/

/*FORMATO VTXT*/
.CUERPO h1 {font-size:18px; font-weight:normal; color:#930000;}
.CUERPO h2 {font-size:15px; font-weight:bold; color:#666666;}
.CUERPO h3 {font-size:12px; font-weight:bold; color:#666666;}
.CUERPO h4 {font-size:11px; font-weight:bold; color:#1C2B45;}
.CUERPO h5 {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:10px; font-weight:bold; color:#1C2B45;}
.CUERPO h6 {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:9px; font-weight:bold; color:#1C2B45;}
.CUERPO address {font-size:12px; font-weight:normal; color:#000000; font-style:italic;}
.CUERPO pre {font-size:11px; font-weight:normal; color:#666666; text-align:justify; text-indent:10px;}
.CUERPO .td-estilo-fondogris {background-color:#dddddd;}
.CUERPO .td-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}
.CUERPO .tr-estilo-fondogris {background-color:#dddddd;}
.CUERPO .tr-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}

/*-------------------oo------------------------*/

/*vtxt*/
.CUERPO .subtit /* subtitulos */ {display:block; width:100%; margin:0; padding:0 0 8px 0; font-size:14px; font-weight:bold; color:#3d4b65; border-bottom:1px solid #e0e0e0;}
.CUERPO .piefoto /* pies de fotos */ {color:#404040; font-size:10px; }
.CUERPO .resalta /* texto resaltado */ {font-size:11px; font-weight:bold; color:#353535; font-style:italic;}
.CUERPO .amarillo /* texto amarillo */ {color:#F8DA07;}
.CUERPO .azul     /* texto azul */   {color:#003366;}
.CUERPO .azuldestacado     /* texto azul destacado */  {color:#003366; font-weight:bold;}
.CUERPO .blanco   /* texto blanco */ {color:#FFFFFF;}
.CUERPO .negro    /* texto negro */  {color:#000000;}
.CUERPO .rojo     /* texto rojo */   {color:#990000;}
.CUERPO .naranjo  /* texto naranjo */  {color:#FF6000;}
.CUERPO .verde    /* texto verde */  {color:#339900;}
.CUERPO .gris     /* texto gris */  {color:#5C5C5C;}
/*/vtxt*/

/*vtxt_table*/
.CUERPO .table-right {float:right;}
.CUERPO .table-left {float:left;}
.CUERPO .table-center {margin:auto;}
.CUERPO .table-gris {margin:3px; padding:2px; border-collapse:collapse; empty-cells:show; float:left; border:1px solid #ccc;}
/*/vtxt_table*/

/*vtxt_tr*/
.CUERPO .tr-estilo-fondogris {background-color:#dddddd;}
.CUERPO .tr-estilo-fondoazul {background-color:#1C2B45; color:#FFFFFF; font-weight:bold;}
/*/vtxt_tr*/

/*vtxt_td*/
.CUERPO .td-estilo-fondogris {background-color:#dddddd;}
.CUERPO .td-estilo-fondoazul {background-color:#1C2B45; color:#FFFFFF; font-weight:bold;}
/*/vtxt_td*/

/* estilos obligatorios para tablas en vtxt */
.CUERPO table {margin:3px; padding:2px; border-collapse:collapse; empty-cells:show;}
.CUERPO td {margin:1px; padding:2px;}
.CUERPO img {margin:10px;}

/* estilos  tablas especial hosting vtxt */
.CUERPO .table-gris td {margin:1px; padding:2px; text-align:center; font-size:12px; color:#666; font-family:Arial, Myriad;}
.CUERPO .table-gris td1 {margin:1px; padding:2px; text-align:left;}
.CUERPO .table-gris img {margin:3px;}


/* RECUADRO DEL ARTICULO */
#content-art .titular-recuadro {font-size:16px; color:#999999;}
.RECUADRO p, .RECUADRO {font-family:Arial,"Myriad Web", Myriad, Tahoma, Verdana, Helvetica, Sans-Serif; font-size:11px; font-weight:normal; color:#666; text-align:left; margin:0;} /* Esto es solo para que funcione el +/- letra */
.RECUADRO ul, .RECUADRO p ul {margin-top:8px; margin-left:50px; font-size:11px; color:#666;}
.RECUADRO ul li, .RECUADRO p ul li {list-style-type:square; font-size:11px; color:#666;}
.RECUADRO ol, .RECUADRO p ol {margin-top:8px; margin-left:50px; font-size:11px; color:#666;}
.RECUADRO ol li, .RECUADRO p ol li {list-style-type:decimal; font-size:11px; color:#666;}
.RECUADRO blockquote {margin-left:15px;}
.RECUADRO  {font-family:Arial, "Myriad Web", Myriad,Tahoma, Verdana, Helvetica, Sans-Serif; margin:10px 0 0 0; padding:15px; font-size:10px; font-weight:normal; color:#666; line-height:190%; text-align:justify; clear:both; background-color:#f3f6f8;border:1px solid #e0e0e0;}
.RECUADRO table, .RECUADRO table td {border-collapse:collapse; padding:1px; font-size:11px; color:#666; line-height:190%;}
.RECUADRO table, .RECUADRO table td strong {font-weight:bold; font-size:11px; margin:0; line-height:190%;}
.RECUADRO a {font-size:11px; font-weight:normal; text-decoration:underline;}
.RECUADRO a:hover, .RECUADRO * a:hover {text-decoration:underline;}
.RECUADRO strong, .RECUADRO b {font-weight:bold;}
.RECUADRO sup {font-size:10px;}

.RECUADRO .subtit /* subtitulos */ {display:block; width:100%; margin:0; padding:0 0 8px 0; font-size:14px; font-weight:bold; color:#3d4b65; border-bottom:1px solid #e0e0e0;}
.RECUADRO .piefoto /* pies de fotos */ {color:#404040; font-size:10px; }
.RECUADRO .resalta /* texto resaltado */ {font-size:11px; font-weight:bold; color:#353535; font-style:italic;}
.RECUADRO .amarillo /* texto amarillo */ {color:#F8DA07;}
.RECUADRO .azul     /* texto azul */   {color:#003366;}
.RECUADRO .azuldestacado     /* texto azul destacado */  {color:#003366; font-weight:bold;}
.RECUADRO .blanco   /* texto blanco */ {color:#FFFFFF;}
.RECUADRO .negro    /* texto negro */  {color:#000000;}
.RECUADRO .rojo     /* texto rojo */   {color:#990000;}
.RECUADRO .naranjo  /* texto naranjo */  {color:#FF6000;}
.RECUADRO .verde    /* texto verde */  {color:#339900;}
.RECUADRO .gris     /* texto gris */  {color:#5C5C5C;}

/***FIN***/
 