
/*** Tags HTML ***/
* {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; margin:0; padding:0;}
body {margin:0; padding:0; border:0; text-align:justify;}
html>body {margin:0; padding:0;}
a {text-decoration:none; color:#000000;}
a:hover {text-decoration:none; color:#CC0000;}
h1, h2, h3, h4 {margin:0px; padding:0px; font-variant:normal;}
p {font-size:12px; color:#000000; line-height:16px; text-align:justify;}


/*PRINCIPAL*/
.main {width:95%; margin:15px auto;}

/*TOP*/
.comentario {margin:10px; font-size:15px; color:#003F77;}
.comentario p {margin:0; font-size:15px; color:#003F77;}
.boton {background-color:#003366; border:1px solid #003366; font-size:12px; color:#ffffff; font-weight:bold; padding:2px; cursor:pointer;}

/* CONTENIDOS */
.titular, .titular p, .titular a {font-size:25px; line-height:27px; color:#333333; margin:0; text-decoration:none;}
.titular a:hover {color:#CC0000;}
.epigrafe {font-size:10px; color:#999999; margin:0;}
.bajada {font-size:16px; text-align:justify; line-height:25px; color:#666666; margin:5px 0 15px;}
.bajada p {margin:0; font-size:16px; color:#666666;}
.imag .imag-text p {font-size:10px; font-style:normal; font-weight:normal; color:#000000;}
.autor {margin:8px 0 0 0; font-size:11px; font-weight:bold; font-style:italic; color:#666666;}
.hora strong {font-size:16px; font-weight:bold; color:#FF9933; margin:0; padding:0;}
.hora {font-size:16px; color:#666666; margin:0; padding:0;}
p {font-size:12px; font-weight:normal; color:#666; line-height:170%; margin:0px 0 15px 0; padding:0px;}

.text-form {font-size:11px; line-height:14px; color:#006699; padding:0; margin:0; font-weight:bold;}
.text-msg {font-size:11px; line-height:14px; color:#006699; padding:0; margin:0;}
.text-cerrar {font-size:11px; line-height:14px; color:#ff0000; padding:0; margin:0; font-weight:bold;}
.combobox {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:11px; font-style:normal;font-weight:normal; color:#3C3C3C;padding: 2px 2px; border: 1px solid #b2c8d9; width:200px; background-color: #FFFFFF;}

/* ARTICULO */
.articulo {margin:15px 0 0;}
.articulo h1 {font-family:"Myriad Web", Myriad; font-size:30px; line-height:30px; color:#006699; font-weight:bold; margin:15px 0 0;}
.articulo h2 {font-family:"Myriad Web", Myriad; font-size:16px; color:#999999; font-weight:normal; margin:15px 0; text-align:justify;}
.articulo h3 {font-size:11px; color:#999999; font-weight:bold;}

/*cerrar*/
.cerrar {margin:15px 0 0; padding:0 0 15px 20px; font-size:11px;font-weight:bold; color:#0066CC;}
.cerrar a {font-size:11px; font-weight:bold; color:#EB0000; text-decoration:none;}
.cerrar a:hover {color:#666; text-decoration:underline;}

/* CUERPO DEL ARTICULO */
p {font-family:"Myriad Web",Myriad; font-size:13px; font-weight:normal; color:#333333; text-align:justify;}
.CUERPO p, .CUERPO *, .CUERPO2 p, .CUERPO2 * {font-family:"Myriad Web",Myriad; font-size:13px; font-weight:normal; color:#333333; text-align:justify; margin:0;} /* Esto es solo para que funcione el +/- letra */
.CUERPO ul, .CUERPO p ul {margin-top:8px; margin-left:50px; font-size:13px; color:#333333;}
.CUERPO ul li, .CUERPO p ul li {list-style-type:square; font-size:13px; color:#333333;}
.CUERPO ol, .CUERPO p ol {margin-top:8px; margin-left:50px; font-size:13px; color:#333333;}
.CUERPO ol li, .CUERPO p ol li {list-style-type:decimal; font-size:13px; color:#333333;}
.CUERPO blockquote {margin-left:15px;}
.CUERPO, .CUERPO2 {font-family:"Myriad Web",Myriad; margin:10px 0 0 0; padding:0 0 20px; font-size:13px; font-weight:normal; color:#333; line-height:170%; text-align:justify; clear:both;}
.CUERPO table, .CUERPO table td {border-collapse:collapse; padding:1px; font-size:13px; color:#333333; line-height:12px;}
.CUERPO table, .CUERPO table td strong {font-weight:bold; font-size:13px; margin:0; line-height:12px;}
.CUERPO a {font-size:12px; color:#000000; font-weight:bold;}
.CUERPO a:hover, .CUERPO * a:hover {color:#CC0000; text-decoration:underline;}
.CUERPO strong, .CUERPO b {font-weight:bold;}
.CUERPO sup {font-size:10px;}
ul {list-style:square; display: block; margin: 5px 5px 0px 50px; font-size:11px; color:#333333;}
ol {list-style:decimal; display: block; margin: 5px 5px 0px 50px; font-size:11px; color:#333333;}

/*-------------------oo------------------------*/

/*FORMATO VTXT*/
.CUERPO h1 {font-size:18px; font-weight:normal; color:#930000;}
.CUERPO h2 {font-size:15px; font-weight:bold; color:#666666;}
.CUERPO h3 {font-size:12px; font-weight:bold; color:#666666;}
.CUERPO h4 {font-size:11px; font-weight:bold; color:#1C2B45;}
.CUERPO h5 {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:10px; font-weight:bold; color:#1C2B45;}
.CUERPO h6 {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:9px; font-weight:bold; color:#1C2B45;}
.CUERPO address {font-size:12px; font-weight:normal; color:#000000; font-style:italic;}
.CUERPO pre {font-size:11px; font-weight:normal; color:#666666; text-align:justify; text-indent:10px;}
.CUERPO .td-estilo-fondogris {background-color:#dddddd;}
.CUERPO .td-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}

/*-------------------oo------------------------*/

/*vtxt*/
.CUERPO .subtit /* subtitulos */ {display:block; width:100%; margin:0; padding:0 0 8px 0; font-size:14px; font-weight:bold; color:#3d4b65; border-bottom:1px solid #e0e0e0;}
.CUERPO .piefoto /* pies de fotos */ {color:#404040; font-size:10px; }
.CUERPO .resalta /* texto resaltado */ {font-size:11px; font-weight:bold; color:#353535; font-style:italic;}
.CUERPO .amarillo /* texto amarillo */ {color:#F8DA07;}
.CUERPO .azul     /* texto azul */   {color:#003366;}
.CUERPO .azuldestacado     /* texto azul destacado */  {color:#003366; font-weight:bold;}
.CUERPO .blanco   /* texto blanco */ {color:#FFFFFF;}
.CUERPO .negro    /* texto negro */  {color:#000000;}
.CUERPO .rojo     /* texto rojo */   {color:#990000;}
.CUERPO .naranjo  /* texto naranjo */  {color:#FF6000;}
.CUERPO .verde    /* texto verde */  {color:#339900;}
.CUERPO .gris     /* texto gris */  {color:#5C5C5C;}
/*/vtxt*/

/*vtxt_table*/
.CUERPO .table-right {float:right;}
.CUERPO .table-left {float:left;}
.CUERPO .table-center {margin:auto;}
/*/vtxt_table*/

/*vtxt_tr*/
.CUERPO .tr-estilo-fondogris {background-color:#dddddd;}
.CUERPO .tr-estilo-fondoazul {background-color:#1C2B45; color:#FFFFFF; font-weight:bold;}
/*/vtxt_tr*/

/*vtxt_td*/
.CUERPO .td-estilo-fondogris {background-color:#dddddd;}
.CUERPO .td-estilo-fondoazul {background-color:#1C2B45; color:#FFFFFF; font-weight:bold;}
/*/vtxt_td*/

/* estilos obligatorios para tablas en vtxt */
.CUERPO table {margin:3px; padding:2px; border-collapse:collapse; empty-cells:show;}
.CUERPO td {margin:1px; padding:2px;}
.CUERPO img {margin:3px;}

/*FIN*/