
/* CSS Document - Altavoz*/
/*** Tags HTML ***/
* {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; margin:0; padding:0;}
body {margin:0; padding:0; border:0; text-align:center;}
html>body {margin:0; padding:0;}
a, a:hover {text-decoration:none;}
#content .col-left .vermas {color:#006699;font-size:20px;}
#content .col-left .vermas a {color:#006699; font-size:11px;}
#content .col-left .vermas a:hover {text-decoration:none;}



div {overflow:hidden;} 
/*
#head .head-right{overflow:visible;}
*/

form {margin:0; padding:0;}
img {border:0;}
.separa {clear:both; margin:0; padding:0; height:1px;}
.separa-area {width:100%; height:40px; clear:both; margin:0; padding:0;}

/*-------------------oo------------------------*/

/*ESTILO PARA BODY*/
.av {background:url(/modelo_minimo/imag/port/back_port.gif) repeat-x left top #dedede;}

/*-------------------oo------------------------*/

/* BLOQUES PRINCIPALES*/
#main {width:1000px; text-align:left; margin:0 auto;}
#head {width:980px; height:97px;}
#footer {width:100%; font-size:12px; color:#003366; margin:0 auto 15px; text-align:left;}
#main #footer {width:930px; border-top:none; margin:10px auto 15px; text-align:left; background:none;}

/*-------------------oo------------------------*/

/* BLOQUE PRINCIPAL HEAD*/
#head .logo {width:80px; float:left; margin:14px 0 0 30px ;}
#head .head-right {width:820px; float:right;}

/*botonera*/
#head .idioma {width:420px; height:30px; clear:both; text-align:right;}
#head .idioma a {margin:0 26px 0 0;}
#head .botones {width:850px; clear:both; padding:20px 0 0 0;}
#head .botones a {display:block; float:left; border-right:1px solid #e0e0e0; font-family:"Arial Narrow",Trebuchet,"Myriad Web",Myriad,Arial,Helvetica,Sans-Serif; background:#FFFFFF;}
#head .botones a span {display:block; font-family:"Arial Narrow",Trebuchet,"Myriad Web",Myriad,Arial,Helvetica,Sans-Serif; padding:3px 8px; font-size:15px; color:#006699;}
#head .botones a:hover {background:#e4e3e3;}
#head .botones a:hover span, 
#head .botones a span:hover {color:#CC0000;}

/*clase para manejar el menu animado*/
.visitado{color:#CC0000; background:#e4e3e3;font-size:30px;}
.menunoselec{color:#006699; background:#FFFFFF;}

/*buscador*/
#head .search {width:260px; float:right; margin:10px 0 10px;}
#head .search form {width:190px; float:right;}
#head .search .rss {float:left; margin:3px 0 0;}
#head .search .rss a {font-family:"Myriad Web",Myriad,Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:11px; color:#006699;}
#head .search .rss a  span{vertical-align:top;}
#head .search .rss a:hover {color:#000;}

#head .buscador {width:186px; height:24px; margin:0; background:url(/modelo_minimo/imag/auxi/back_search.gif) no-repeat left top;}
#head .buscador table {margin:3px auto;}
#head .buscador .campo {font-family:"Myriad Web",Myriad,Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:11px; color:#999999;
                        border:none; background:none; padding:3px 0 0;width:150px;}

/*-------------------oo------------------------*/

/* BLOQUE PRINCIPAL FOOTER*/
#footer .auxi {width:930px; margin:10px auto;}
#footer .rotulo {margin:0 0 10px; font-size:12px; font-weight:bold; border-bottom:1px solid #d9d9d9; padding:0 0 5px; color:#666666; 
                 font-family:"Myriad Web",Myriad,Tahoma,Verdana,Arial,Helvetica,Sans-Serif;}
/**/
#footer .area {margin:0; text-align:center;}
#footer .area p {font-size:11px; color:#666; margin:8px 0;}
#footer .area a {color:#003366; margin:0 0 5px; padding:0 0 0 5px;}
#footer .area a:hover {color:#CC0000;}
#footer .area .gris {color:#999;}
#footer .area .rojo {color:#CC0000;}

#footer .area .gris {margin:0; padding:0;}
#footer .area .gris a {display:inline; font-size:11px; color:#999; padding:0; background:none;}
#footer .area .gris a:hover {color:#CC0000;}
/*-------------------oo------------------------*/

/* PORTADILLA PRODUCTOS*/
.prod-art {margin:40px 0 0;}
.prod-art .rotulo {font-size:14px; color:#003366; font-weight:bold; margin:0 0 15px;}
.prod-art .left235 {width:235px; float:left;}
.prod-art .right235 {width:235px; float:right;}
.prod-art .area {margin:0 0 25px;}
.prod-art .area .foto {width:40px; float:left; margin:0 5px 0 0; padding:0 0 14px;}
.prod-art .area .titular, .prod-art .area .titular a {color:#003366; font-size:14px; font-weight:bold;}
.prod-art .area .titular a:hover, .prod-art .area .vermas a:hover {color:#CC0000;}
.prod-art .area .bajada, .prod-art .area .bajada p {font-size:11px; color:#666666; margin:0;}
.prod-art .area .vermas, .prod-art .area .vermas a {color:#288fc2; font-size:11px; margin:0;}

/*-------------------oo------------------------*/

/*AREA DOS*/
.cont-right .port-right {width:200px; margin:25px 0;}
.cont-right .rotulo {font-size:18px; color:#666666; font-family:Tahoma; margin:0 0 10px;}
.cont-right .rotulo p {font-size:18px; color:#666666; margin:0;}
.cont-right .destacada1 {margin:0 0 15px 0;}
.cont-right .destacada1 .area, .cont-right .secundaria1 .area {margin:0 0 12px 0;}
.cont-right .destacada1 .area h1 {margin:0;}
.cont-right .destacada1 .area h1 a {font-size:14px; color:#006699; margin:0;}
.cont-right .destacada1 .area h1 a:hover {color:#CC0000;}
.cont-right .destacada1 .area h2, .cont-right .destacada1 .area h2 p {color:#666; margin:0; font-size:12px; font-weight:normal; line-height:150%;}
.cont-right .destacada1 .area .foto, .cont-right .secundaria1 .area .foto {float:left; margin:0 10px 8px 0;}
.cont-right .destacada1 .area .foto img, .cont-right .secundaria1 .area .foto img {border:1px solid #e2e2e2;}

.cont-right .secundaria1 .area h1 {margin:0;}
.cont-right .secundaria1 .area h1 a {font-size:11px; color:#006699; margin:0;}
.cont-right .secundaria1 .area h1 a:hover {color:#CC0000;}
.cont-right .secundaria1 .area h2, .cont-right .secundaria1 .area h2 p {color:#666; margin:0; font-size:11px; font-weight:normal;}

.foto{margin-top:-20px;}



/*FIN*/