
/*BLOQUE NAVEGACION*/
#main-top {background:url(/modelo_minimo/imag/port/back_nav.gif) repeat-x left top;}
#head {height:97px;}
#nav {width:100%; position:absolute; height:134px; top:0; left:auto; overflow:hidden; 
      background:url(/modelo_minimo/imag/port/back_nav.gif) repeat-x left top;}
#head-total {width:1000px; margin:0 auto;}
#head-total .separa {height:1px; margin:0; padding:0;}
#nav .texto {width:258px; float:left; margin:0; padding:8px 0 0; font-size:12px; color:#000; text-align:right;}
#nav .botonera, #nav .controls {width:730px; float:right;}
#nav .botonera a, #nav .controls a {display:block; float:left; margin:0; padding:10px 20px; font-size:16px; color:#888; background-color:#e4e3e3;}
#nav .botonera a:hover, #nav .controls a:hover {color:#fff; background-color:#000;}
#nav .botonera a.sf, #nav .controls a.sf {display:block; float:left; margin:0; padding:8px 20px; font-size:11px; color:#3399cc; background:none;}
#nav .botonera a.sf:hover, #nav .controls a.sf:hover {color:#003367;}

/*PROBANDO*/
div.scroller {display:block; height:334px; width:1000px; margin:0;}
.separa-port {height:124px;}
div.scroller div.section {width:1000px; height:334px; padding:0; margin:0;}

/*FIN*/


