
/*ESTRUCTURAS PRINCIPALES - layout*/
div.wrap {height:458px; width:1000px; text-align:left;}
div.cont {height:458px; width:1000px;}

/*ESTILO PARA BODY*/
.av {background:url(/modelo_minimo/imag/port/back_port.gif) repeat-x left top #dedede;} 


/*-------------------oo------------------------*/

/*BLOQUES ESTRUCTURALES*/
#content {width:1000px; margin:20px auto 15px;}
.back-port {background:url(/modelo_minimo/imag/port/back_cont.gif) repeat-y left top; margin:0 auto; width:900px;}
.back-port-int {background:url(/modelo_minimo/imag/port/back_cont.gif) repeat-y left top #FFF; margin:0 auto; width:925px; min-height:150px; padding: 10px 0 0 0;}
#content .col {width:280px; padding:0 10px; float:left;}
/*-------------------oo------------------------*/

/*BANNER*/
#content .banner {width:1000px; height:190px; margin:0 0 15px;}
/*-------------------oo------------------------*/

/*ROTULO*/
.rotulo {font-size:18px; color:#666666; font-family:Tahoma; margin:0 0 10px;}
.rotulo p {font-size:18px; color:#666666; margin:0;}
/*-------------------oo------------------------*/

/*FOTOS*/
#content .area .foto {float:left; margin:0 10px 0 0; background:#fff;}
#content .area .foto img {border:1px solid #d7d7d7; padding:1px; margin:0; overflow:hidden; display:block;}

/*-------------------oo------------------------*/

/*AREAS 2,3 y 4*/
#content .col .area {margin:0 0 20px 0;}
#content .col .area .sep {height:7px;}
#content .col .area h1, #content .col .area h1 a {font-size:14px; color:#006699; margin:0;}
#content .col .area h1 a:hover {color:#CC0000;}
#content .col .area h2, #content .col .area h2 p {color:#666; margin:0; font-size:11px; font-weight:normal;}
/*-------------------oo------------------------*/

.rotulo-main{color:#FFFFFF;float:left;font-size:30px;margin:15px 0 15px 40px;width:50%;}

/*FIN*/


