html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
/* remember to define focus styles! */
:focus{outline:0}
/* remember to highlight inserts somehow! */
ins{text-decoration:none}
del{text-decoration:line-through}
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0}
#logo{margin:1.1em 0}
html{overflow-y:scroll}
dl,form,input{margin:0}
body{background:#FFF;color:#000;font:16px/1.25 Times,"Times New Roman",Georgia,serif;margin:.5em}
div{display:block}
blockquote{margin:1em 2.5em}
h1,h2,h3,h4,h5,h6{font-size:1.25em;margin:.75em 0}
h1{font-size:2em}
h2{font-size:1.5em}
hr{border:0 solid #BFBFBF;border-width:0 0 1px;height:0}
ol,ul{padding:0 0 0 2.5em}
ol,p,pre,ul{margin:1em 0}
a{cursor:pointer;outline:none}
abbr{border-bottom:1px dotted #000;border-bottom-color:inherit}
dfn{font-style:italic}
q:before,q:after{content:""}
img{border:0;vertical-align:text-bottom}
sub,sup{font-size:75%;line-height:0}
table{border-collapse:collapse}
.aui-lay{clear:both}
.aui-lay:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden}
* html .aui-lay{height:1%}
*+html .aui-lay{height:1%}
.aui-col{float:left;overflow:hidden;word-wrap:break-word}
* html .aui-col{margin-right:-1px}
*+html .aui-col{margin-right:-1px}
.aui-mod{overflow:hidden;zoom:1}
.aui-left{float:left}
.aui-right{float:right}
.aui-col,.aui-100{width:100%}
.aui-1-16{width:6.25%}
.aui-1-12{width:8.334%}
.aui-1-10,.aui-10{width:10%}
.aui-1-9{width:11.112%}
.aui-1-8{width:12.5%}
.aui-1-7{width:14.286%}
.aui-15{width:15%}
.aui-1-6{width:16.667%}
.aui-3-16{width:18.75%}
.aui-1-5,.aui-20{width:20%}
.aui-2-9{width:22.223%}
.aui-1-4,.aui-25{width:25%}
.aui-2-7{width:28.572%}
.aui-3-10,.aui-30{width:30%}
.aui-5-16{width:31.25%}
.aui-1-3,.aui-33{width:33.334%}
.aui-35{width:35%}
.aui-3-8{width:37.5%}
.aui-38{width:38.2%}
.aui-2-5,.aui-40{width:40%}
.aui-5-12{width:41.667%}
.aui-7-16{width:43.75%}
.aui-4-9{width:44.445%}
.aui-45{width:45%}
.aui-3-7{width:42.858%}
.aui-1-2,.aui-50{width:50%}
.aui-55{width:55%}
.aui-5-9{width:55.556%}
.aui-9-16{width:56.25%}
.aui-4-7{width:57.143%}
.aui-7-12{width:58.334%}
.aui-3-5,.aui-60{width:60%}
.aui-5-8{width:62.5%}
.aui-62{width:61.8%}
.aui-65{width:65%}
.aui-2-3,.aui-66{width:66.667%}
.aui-11-16{width:68.75%}
.aui-7-10,.aui-70{width:70%}
.aui-5-7{width:71.429%}
.aui-3-4,.aui-75{width:75%}
.aui-7-9{width:77.778%}
.aui-4-5,.aui-80{width:80%}
.aui-13-16{width:81.25%}
.aui-5-6{width:83.334%}
.aui-85{width:85%}
.aui-6-7{width:85.715%}
.aui-7-8{width:87.5%}
.aui-9-10,.aui-90{width:90%}
.aui-11-12{width:91.667%}
.aui-15-16{width:93.75%}
.aui-95{width:95%}
.grid-960{margin-left:auto;margin-right:auto;width:960px}
* html .grid-960{width:960px}
.grid-960 .aui-mod,.grid-960 .lfr-portlet-column{margin-left:10px;margin-right:10px}
.grid-960 .aui-mod .aui-lay,.grid-960 .lfr-portlet-column .aui-lay{height:auto;margin-left:-10px;margin-right:-10px;overflow:hidden}
* html .grid-960 .aui-mod .aui-lay,* html .grid-960 .lfr-portlet-column .aui-lay{zoom:1}
.callout-heading{padding:5px .7em 5px 25%;background:repeat-y}
.callout-bordered-container .callout-mod{border-right:1px solid #BABEC2}
.callout-bordered-container .last{border-right:none;padding-right:11px}
.callout-cell-heading,.margin-prod{margin-bottom:.5em;margin-top:.5em}
.display-block,.ctrl-holder label,.portlet-icons,.controls-visible .portlet-borderless-bar,.logo,.callout-image img,.callout-image-simple img,.obscured,.aside-subheading,.page-nav a,.side-nav a,.side-nav a.tlink,.tabs-nav a,.ui-tabs a,.ui-tabs span,.btn-icon,.banner-nav a,.banner-nav .menu,.tabs-slide a,.tabs-slide .has-image img,#dock a,#dock span,#dock .to-profile a,#dock .to-profile span,#dock-menu .is-menu a,.event-chart a,.event-chart .dtstart,.event-chart .summary,.event-chart .location,.event-blurb a,.partner-banner .heading-image,.partner-banner .heading-image img,.story-banner .heading-image,.story-banner .heading-image img,.portlet-blogs .blog-entry .user-img img,.portlet-blogs-aggregator .blog-entry .user-img img,.portlet-blogs .blog-entry .entry-user,.portlet-blogs-aggregator .blog-entry .entry-user,.portlet-blogs .blog-entry .suffix,.portlet-blogs-aggregator .blog-entry .suffix,.portlet-blogs .blog-entry .count,.portlet-blogs-aggregator .blog-entry .count,.portlet-message-boards .user-img img,.portlet-message-boards .navigation a,.thread-tree a{display:block}
.display-inline-block,.btn,.btn-icon,.link-bullet,.link-icon,.callout-image,.callout-image-simple,.search-pages .previous,.search-pages .next,.portlet-message-boards .previous,.portlet-message-boards .next,.portlet-blogs .comment-count,.portlet-blogs-aggregator .comment-count{display:inline-block}
* html .display-inline-block,* html .btn,* html .btn-icon,* html .link-bullet,* html .link-icon,* html .callout-image,* html .callout-image-simple,* html .search-pages .previous,* html .search-pages .next,* html .portlet-message-boards .previous,* html .portlet-message-boards .next,* html .portlet-blogs .comment-count,* html .portlet-blogs-aggregator .comment-count{display:inline;display:inline-block;zoom:1}
.clear,.obscured,.ctrl-holder,.page-nav .heading,.tabs-nav .heading,.banner-nav .heading,.callout-image,.callout-image-simple,.aside-heading,.banner-nav,.results-grid,.thread-tree .heading,.portlet-blogs .blog-entry .user-info,.portlet-blogs-aggregator .blog-entry .user-info,.portlet-wiki .hr,.wiki-body{clear:both}
.float-left,.foot-nav .copy,.portlet-title,.callout-image img,.ctrl-holder label,.columns-max .portlet-login .navigation li,.page-nav li,.tabs-nav ul,.tabs-nav li,.ui-tabs,.ui-tabs li,.banner-nav a,.footer-shortcuts li,.foot-nav li,.tabs-slide .heading,.tabs-slide .list,.tabs-slide li,.tabs-slide a,.tabs-slide .has-image img,.search .heading,.search .terms,.event-chart .dtstart,.event-chart .summary,.product-highlight .image,.product-highlight .desc,#dock li,#dock a,#dock span,#dock #dock-profile,.portlet-blogs .blog-entry .user-img,.portlet-blogs-aggregator .blog-entry .user-img,.portlet-blogs .blog-entry .user-img img,.portlet-blogs-aggregator .blog-entry .user-img img,.portlet-blogs .blog-entry .suffix,.portlet-blogs-aggregator .blog-entry .suffix,.portlet-blogs .blog-entry .count,.portlet-blogs-aggregator .blog-entry .count,.portlet-message-boards .heading-container .heading,.portlet-wiki .heading-container .heading,.portlet-wiki .heading-container form,.kb-portlet-knowledge-base .heading-container form,.portlet-message-boards .user-img,.portlet-message-boards .user-img img,.portlet-message-boards .navigation div,.portlet-message-boards .navigation a,.thread-tree a *,.commands-container li,.user-commands li,.portlet-blogs .entry-information,.portlet-blogs-aggregator .entry-information{float:left}
.float-right,.portlet-icons,.footer-shortcuts .feed,.foot-nav .legal,.event-chart .location,.portlet-message-boards .navigation,.portlet-message-boards .rss-commands,.portlet-message-boards .user-commands,#dock #dock-navigation,.portlet-blogs .edit-actions,.portlet-blogs-aggregator .edit-actions,footer{float:right}
.clear-after:after,.container:after,.callout:after,.callout-cell:after,.callout-cell-only:after,.callout-cell-first:after,.callout-cell-last:after,.callout-cell-main:after,.callout-cell-content:after,.callout-shadowed:after,.portlet:after,.page-nav ul:after,.tabs-nav:after,.ui-tabs:after,.footer-shortcuts:after,.foot-nav:after,.search:after,.event-chart a:after,.portlet-blogs .blog-entry .user-img:after,.portlet-blogs-aggregator .blog-entry .user-img:after,.thread-tree a:after,.portlet-blogs .entry-details:after,.portlet-blogs-aggregator .entry-details:after,.portlet-asset-publisher .asset-title .controls:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden}
* html .clear-after,* html .container,* html .callout,* html .callout-cell,* html .callout-cell-only,* html .callout-cell-first,* html .callout-cell-last,* html .callout-cell-main,* html .callout-shadowed,* html .landing,* html .portlet,* html .page-nav ul,* html .tabs-nav,* html .ui-tabs,* html .footer-shortcuts,* html .foot-nav,* html .search,* html .event-chart a,* html .portlet-blogs .blog-entry .user-img,* html .portlet-blogs-aggregator .blog-entry .user-img,* html .thread-tree a,* html .portlet-blogs .entry-details,* html .portlet-blogs-aggregator .entry-details,* html .portlet-asset-publisher .asset-title .controls{height:1%}
*+html .clear-after,*+html .container,*+html .callout,*+html .callout-cell,*+html .callout-cell-only,*+html .callout-cell-first,*+html .callout-cell-last,*+html .callout-cell-main,*+html .callout-cell-content,*+html .callout-shadowed,*+html .portlet,*+html .page-nav ul,*+html .tabs-nav,*+html .ui-tabs,*+html .footer-shortcuts,*+html .foot-nav,*+html .search,*+html .event-chart a,*+html .portlet-blogs .blog-entry .user-img,*+html .portlet-blogs-aggregator .blog-entry .user-img,*+html .thread-tree a,*+html .portlet-blogs .entry-details,*+html .portlet-blogs-aggregator .entry-details,*+html .portlet-asset-publisher .asset-title .controls{height:1%}
.obscured,.page-nav .heading,.tabs-nav .heading,.banner-nav .heading,.footer-shortcuts .heading,.foot-nav .heading,.logo,.page-nav .heading,.banner-nav .banner p,.banner-nav .menu a,.tabs-slide .item,.banner-nav .heading,.aside-heading,.event-chart .heading,.event-blurb .heading,.story-banner .case-study,.thread-tree .heading,.portlet-message-boards-categories-overview-heading,.portlet-message-boards-thread-overview-heading,.portlet-message-boards-thread-details-heading,.portlet-message-boards .navigation a{font-size:0;line-height:0;overflow:hidden;position:relative;text-indent:-9999em;zoom:1}
.zoom-1,.callout-heading{zoom:1}
.no-height,.page-nav .heading,.tabs-nav .heading,.banner-nav .heading,.event-chart .heading,.event-blurb .heading{height:0}
.no-break,.side-nav .heading,.side-nav ul,.banner-nav .menu,.tabs-slide .menu,.tabs-slide .list,.footer-shortcuts ul,.portlet-message-boards-categories-overview p,.portlet-blogs .blog-entry .read-more,.portlet-blogs-aggregator .blog-entry .read-more,body,h1,h2,h3,h4,h5,h6,p,ul,menu{margin:0}
.aside-subheading{margin-bottom:-0.14em;margin-top:.175em}
.margin-bottom-2,.btn{margin-bottom:2px}
.margin-bottom-4,.page-heading,.page-subheading,.section-heading,.section-subheading,.section-terheading,.asset-tag-label,.important-list li,.caption,.event-blurb .vevent,.portlet-blogs .blog-entry .user-img,.portlet-blogs-aggregator .blog-entry .user-img,.portlet-wiki .section-subheading{margin-bottom:4px}
.margin-bottom-9,.callout-shadowed,.callout-shadowed-lite,.callout-heading,.callout-image,.callout-image-simple,.portlet-blogs .blog-entry .heading,.portlet-blogs-aggregator .blog-entry .heading,p,ul{margin-bottom:9px}
ul.community ul{margin-top:9px}
.margin-bottom-12,.page-heading,.search,.aside,.basic-article,.community-start-here-hr,.portlet-message-boards .breadcrumb-container,.portlet-message-boards .user-commands,.kb-portlet-knowledge-base .commands-container,.product-highlight-container,.portlet-wiki h2,.portlet-wiki h3{margin-bottom:12px}
.margin-bottom-18,.portlet,.callout,.callout-base,.page-nav,.page-heading-desc,.side-nav,.tabs-nav,.ui-tabs,.tabs-slide,.banner-nav,.foot-nav,.partner-banner,.story-banner,.event-chart,.event-blurb,.report,.report-chart,.asset-tag-hr,#start-here .callout-heading,.portlet-message-boards .figure,.thread-tree,.portlet-wiki .toc{margin-bottom:18px}
.margin-bottom-27,.portlet-blogs .hr,.portlet-blogs-aggregator .hr,.portlet-blogs .blog-entry .continue,.portlet-blogs-aggregator .blog-entry .continue{margin-bottom:27px}
.callout-shadowed,.callout-shadowed-lite,.callout-heading,.callout-image,.aside-heading,.page-nav ul,.tabs-nav ul,.ui-tabs,.search,.banner-nav,.tabs-slide,.thread-tree a,input,textarea{margin-left:2px;margin-right:2px}
.no-padding,.page-nav li,.side-nav li,.tabs-nav li,.ui-tabs li,.tabs-slide li,.footer-shortcuts li,.foot-nav li,.plain-list li,.portlet-wiki li,.portlet-message-boards li,.kb-portlet-knowledge-base li,.commands-container li,.user-commands li,ul,menu{padding:0}
.padding-side-20{padding:0 20px}
.padding-side-10,.callout-mod{padding:0 20px}
.padding-side-5,.foot-nav .legal a{padding:0 5px}
.padding-10,.callout-base{padding:10px}
.padding-20-10,.callout-cell,.callout-cell-first,.callout-cell-last,.callout-cell-only{padding:20px 10px}
.padding-left-9,.callout-cell-first,.callout-cell-only{padding-left:9px}
.padding-right-9,.callout-cell-last,.callout-cell-only{padding-right:9px}
.padding-base-20-side-19,.callout-cell-main{padding:20px 19px}
.padding-left-20,.side-nav a,.side-nav a.tlink,.tabs-nav a,.ui-tabs a,.ui-tabs span,.important-list li,.event-chart .dtstart{padding-left:20px}
.padding-right-20,.tabs-nav a,.ui-tabs a,.ui-tabs span,.event-blurb a{padding-right:20px}
.padding-left-19,.tabs-nav .first a,.ui-tabs .current a,.ui-tabs .current span,.event-chart .dtstart{padding-left:19px}
li{padding-left:16px}
.overflow-visible,#dock .aui-col,#dock .aui-mod{overflow:visible}
.overflow-hidden,.callout,.callout-shadowed,.callout-shadowed-lite,.callout-heading,.callout-image,.callout-image img,.callout-image-simple,.side-nav li,.side-nav li a,.tabs-slide,.tabs-slide .port,.banner-nav,.partner-banner .heading-image,.story-banner .heading-image,.portlet-blogs .blog-entry .user-img,.portlet-blogs-aggregator .blog-entry .user-img,.portlet-message-boards .user-img,.thread-tree{overflow:hidden}
.obscured img,.callout-image img,.callout-image-simple img,.banner-nav .banner,.tabs-slide .has-image img,.portlet-blogs .blog-entry .user-img img,.portlet-blogs-aggregator .blog-entry .user-img img,.portlet-message-boards .user-img img{filter:alpha(opacity=0);opacity:0}
ul{list-style:none}
.no-list-style li,.plain-list li,.page-nav li,.side-nav li,.tabs-nav li,.tabs-slide li,.ui-tabs li,#dock li,#dock-menu li,.footer-shortcuts li,.foot-nav li,.portlet-wiki li,.portlet-message-boards li,.kb-portlet-knowledge-base li,.commands-container li,.user-commands li{background:none}
.circle-list li,li{background:url(/modelo_productos/imag/li_circle.png) no-repeat left .4em}
li.mapa_item3,li.mapa_item2,.arrow-list li,li li{background:url(/modelo_productos/imag/li_arrow.png) no-repeat left .5em}
.big-circle-list li,.important-list li{background:url(/modelo_productos/imag/li_big-circle.png) no-repeat left .2em}
.wiki-body{list-style:disc inside}
.alto{color:#D9D9D9}
.black-squeeze{color:#EEF4F9}
.blue-bayoux,.page-heading,.callout-heading,.section-heading a,.section-terheading,.aside-subheading,.important-list a,.event-article .summary a,.plain-list a,.basic-article .heading a,.event-chart a,.event-blurb a,.portlet-blogs .entry-title a,.portlet-blogs-aggregator .entry-title a,.portlet-wiki a {color:#446D77}
.cape-cod,.side-nav a,.side-nav a.tlink,.aside a,.heading-link,.tabs-nav a,.ui-tabs a,.ui-tabs span,.tabs-slide a,.btn-icon,#dock a,#dock-menu .is-menu a,.event-chart .location,.thread-tree a,.portlet-blogs .heading a,.portlet-blogs-aggregator .heading a,.search #term:focus,.portlet-blogs .comments a,.portlet-blogs-aggregator .comments a,.foot-nav .copy a,.portlet-message-boards td.taglib-search-iterator-highlighted a b,body{color:#474A4B}
.author,.cerulean,.highlight,.link-icon,.asset-tag-label,.portlet-site-map a,.side-nav a.selected,.side-nav a:hover,.section-subheading a,.tabs-nav .selected a,.tabs-nav a:hover,.ui-tabs .current a,.ui-tabs a:hover,.callout-container .basic-article .heading a,.user-profile-section a,.portlet-blogs .user-info a,.portlet-blogs-aggregator .user-info a,.portlet-message-boards .heading a,.thread-tree a .thread-heading,.portlet-wiki strong a,.portlet-wiki td a b,.portlet-message-boards td a b{color:#00ADEF}
.gallery{color:#F0F0F0}
.meteor,.attentive{color:#DD5F13}
.mountain-mist,.foot-nav .legal a,.search #term,.event-blurb .location{color:#908E91}
.silver-sand,.page-nav a:hover{color:#BABEC2}
.thunderbird,a.highlight:hover,a.link-icon:hover,.portlet-site-map a:hover,.btn-icon:hover,.foot-nav .legal a:hover,.section-heading a:hover,.section-subheading a:hover,.important-list a:hover,.plain-list a:hover,.event-article .summary a:hover,#dock a:hover,#dock-menu .is-menu a:hover,.basic-article .heading a:hover,.event-chart a:hover,.event-chart .dtstart,.event-blurb a:hover,.partner-banner .description a,.portlet-blogs .entry-title a:hover,.portlet-blogs-aggregator .entry-title a:hover,.portlet-wiki a:hover,.portlet-message-boards .results-row .thread-body a,a{color:#CD171D}
.white,.portlet-topper,.portlet-section-header,.portlet-icon-back,.page-nav a,.btn,.aside .btn,.partner-banner a,.story-banner a,.portlet-message-boards .figure-heading{color:#FFF}
.alto-bg,#dock .aui-col{background:#D9D9D9}
.black-bg,.banner-nav,.banner-nav .menu{background:#000}
.gallery-bg,.tabs-nav ul,.ui-tabs,.tabs-slide,.search,.thread-tree a:hover,.thread-tree a.selected,.search .search-terms #term{background:#F0F0F0}
.black-squeeze-bg,body{background:#EEF4F9}
.cape-cod-bg,.portlet-topper,.portlet-section-header,.page-nav ul,.banner-nav .menu a,.partner-banner .heading-title,.story-banner .heading-title,.portlet-message-boards .figure-heading{background:#474A4B}
.cerulean-bg,.btn{background:#00ADEF}
.meteor-bg,.btn:hover{background:#DD5F13}
.white-bg,.portlet-content,.taglib-search-iterator,.controls-visible .portlet-borderless-bar,.callout,.callout-base,.callout-shadowed,.callout-shadowed-lite,.callout-heading,.callout-image,.aside-heading,#dock .active a,#dock-menu .taglib-settings,#dock-menu .taglib-my-places,.banner-nav .menu .selected,.partner-banner .heading-image,.story-banner .heading-image,.portlet-message-boards .figure,.search .search-terms #term:focus,input,textarea{background:#FFF}
.bordered,.callout,.callout-base,.callout-image-simple,.partner-banner .heading-image,.story-banner .heading-image,.callout-report,input,textarea{border:1px solid #BABEC2}
.bordered-left{border-left:1px solid #BABEC2}
.bordered-right{border-right:1px solid #BABEC2}
.hr{border-bottom:1px solid #FFF;border-top:1px solid #BABEC2;font-size:0;position:relative;text-indent:-9999em;zoom:1}
.borderless,fieldset{border:0}
.footnote,.caption{font-style:italic}
.normal,.page-heading,.side-nav .stlink,h1,h2,h3,h4,h5,h6{font-weight:normal}
.bold,.portlet-title,.page-multiheading,.page-subheading,.section-heading,.asset-heading,.asset-tag-label,.section-subheading,.section-terheading,.callout-heading,.aside-subheading,.page-nav a,.side-nav a,.side-nav a.tlink,.tabs-nav a,.ui-tabs a,.ui-tabs span,.tabs-slide .heading a,.important-list,.basic-article .heading,.btn,.partner-banner .heading,.story-banner .heading,.event-chart a,.event-chart .summary,.event-blurb .summary,.portlet-blogs .heading,.portlet-blogs-aggregator .heading,.portlet-blogs .user-info a,.portlet-blogs-aggregator .user-info a,.portlet-blogs .count,.portlet-blogs-aggregator .count,.portlet-message-boards .figure .heading,.portlet-blogs .comments,.portlet-blogs-aggregator .comments,.portlet-blogs .entry-title,.portlet-blogs-aggregator .entry-title,.wiki-body h3,.wiki-body h4{font-weight:bold}
.size-075,.portlet-icon-back,.caption,.event-blurb .location,small{font-size:.75em}
.size-08,.controls-visible .portlet-borderless-bar,.foot-nav .legal a,.event-chart .dtstart,.event-chart .location,.event-blurb .summary,#dock a,#dock span,#dock-menu .is-menu a,.portlet-message-boards-thread-overview .threads .author{font-size:.8em}
.size-09,.page-nav a,.aside-mod,footer{font-size:.9em}
.size-1,.portlet-title,.tabs-slide .heading,.event-chart .summary,.product-highlight h2,.thread-tree .thread-heading,h1,h2,h3,h4,h5,h6{font-size:1em}
.size-12,.callout-heading,.section-subheading,.aside-subheading,.important-list,.partner-banner .heading,.story-banner .heading,.callout-container .basic-article .heading,.wiki-body h4{font-size:1.125em}
.size-13,.side-nav .heading,.page-heading-desc,.section-heading,.asset-heading,.asset-tag-label,.portlet-blogs .entry-title,.portlet-blogs-aggregator .entry-title,.wiki-body h2,h3{font-size:1.3em}
.size-14,.page-subheading,.basic-article .heading{font-size:1.4em}
.size-18,.portlet-blogs .blog-news .heading,.portlet-blogs-aggregator .blog-news .heading{font-size:1.8em}
.size-2,.portlet-blogs .heading,.portlet-blogs-aggregator .heading{font-size:2em}
.size-24,.page-multiheading{font-size:2.4em}
.size-26,.page-heading{font-size:2.6em}
.line-1,#dock a,#dock span,h1,h2,h3,h4,h5,h6{line-height:1}
.line-1-1,.aside .aside-subheading{line-height:1.1}
.line-1-2,.page-heading{line-height:1.2}
.regular-line-height,.side-nav a.tlink,.callout-heading,.page-subheading,.section-heading,.asset-heading,.asset-tag-label,.section-subheading,.section-terheading,.basic-article .heading,.btn,.portlet-blogs .user-info,.portlet-blogs-aggregator .user-info,.portlet-blogs .entry-title,.portlet-blogs-aggregator .entry-title,.wiki-body h3,.wiki-body h4{line-height:1.25}
.line-1-3,.side-nav .heading,.page-heading-desc,.section-heading,.asset-heading,.asset-tag-label,.portlet-blogs .entry-title,.portlet-blogs-aggregator .entry-title{line-height:1.3}
.line-1-15,.page-multiheading,.portlet-blogs .heading,.portlet-blogs-aggregator .heading{line-height:1.15}
.line-1-5,.event-blurb .summary,.thread-tree a,.thread-tree a *{line-height:1.5}
.line-16,.btn-icon,.event-chart .dtstart,.event-chart .summary,.event-chart .location{line-height:16px}
.text-align-left,.report .chart,.report-aside .chart,.report .chart th,.report-aside .chart th,.report .chart td,.report-aside .chart td,.report-chart th,.report-chart td,.portlet-message-boards th,.kb-portlet-knowledge-base .taglib-search-iterator th,.kb-portlet-knowledge-base .taglib-search-iterator td,.portlet-wiki .taglib-search-iterator th,.portlet-wiki .taglib-search-iterator td,.portlet-software-catalog .taglib-search-iterator th,.portlet-software-catalog .taglib-search-iterator td{text-align:left}
.text-align-center,.aside-subheading,.aside-mod,.btn,.report .label,.report-chart .label,.report-aside .label,.callout-report .label,.recent-blogger .user-image,.portlet-blogs .count,.portlet-blogs .comment-count,.portlet-blogs-aggregator .count,.portlet-blogs-aggregator .comment-count,.kb-portlet-knowledge-base .taglib-search-iterator .col-3{text-align:center}
.text-align-right,.callout-heading,.event-chart .location,.report .aside,.report-chart .aside,.report-aside th,.report-aside td,.portlet-message-boards .rss,.portlet-document-library .login .ctrl-holder label{text-align:right}
.no-text-decoration,.portlet-icon-back,.page-nav a:hover,.side-nav a:hover,.side-nav a.tlink:hover,.tabs-nav a:hover,.ui-tabs a:hover,.tabs-slide a:hover,.foot-nav .legal a:hover,.portlet-site-map a:hover,.btn:hover,.btn-icon:hover,.important-list a:hover,.plain-list a:hover,.aside a:hover,.section-heading a:hover,.section-subheading a:hover,.section-terheading a:hover,.foot-nav .copy a:hover,#dock a,#dock span,#dock-menu .is-menu a,.heading-link:hover,.btn:hover,.highlight:hover,.link-icon:hover,.event-article .summary a:hover,.basic-article .heading a:hover,.event-chart a:hover,.event-blurb a:hover,.partner-banner a:hover,.story-banner a:hover,.portlet-blogs .user-info a:hover,.portlet-blogs-aggregator .user-info a:hover,.thread-tree a:hover,.thread-tree a.selected,.portlet-blogs .comments a:hover,.portlet-blogs-aggregator .comments a:hover,.portlet-blogs .entry-title a:hover,.portlet-blogs-aggregator .entry-title a:hover,a{text-decoration:none}
a:hover{text-decoration:underline}
.btn,.text-uppercase,.side-nav .heading,.foot-nav,.footer-shortcuts,.callout-heading,.event-chart .location,footer{text-transform:uppercase}
.gradient,.tabs-nav ul,.ui-tabs,.search,.tabs-slide,.thread-tree a:hover,.thread-tree a.selected{filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#DDDDDD',EndColorStr='#F0F0F0');background:-webkit-gradient(linear,left top,left bottom,color-stop(0.0,#DDD),color-stop(1.0,#F0F0F0))}
.rounded,.callout,.callout-shadowed,.callout-shadowed-lite,.callout-heading,.callout-image,.callout-image-simple,.callout-cell-only,.callout-cell-main,.callout-report,.aside-heading,.page-nav ul,.tabs-nav ul,.ui-tabs,.tabs-slide,.search,.banner-nav,.banner-nav .menu,.banner-nav a,.portlet-blogs .user-img,.portlet-blogs-aggregator .user-img,.thread-tree a:hover,.thread-tree a.selected,.portlet-wiki .toc,input,textarea{-moz-border-radius:5px;-webkit-border-radius:5px}
.rounded-bottom,.callout-base,.partner-banner .heading-title,.partner-banner .heading-image-solo,.story-banner .heading-title,.portlet-message-boards .figure{-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px}
.rounded-top,.partner-banner .heading-image,.story-banner .heading-image,.portlet-message-boards .figure-heading{-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px}
.rounded-left,.callout-cell-first,.first .landing{-moz-border-radius-bottomleft:5px;-moz-border-radius-topleft:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-top-left-radius:5px}
.rounded-right,.callout-cell-last,.last .landing{-moz-border-radius-bottomright:5px;-moz-border-radius-topright:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-top-right-radius:5px}
.rounded-top-left{-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px}
.rounded-top-right{-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px}
.shadowed,.callout-shadowed,.callout-heading,.callout-image,.aside-heading,.banner-nav,.page-nav ul,.tabs-nav ul,.ui-tabs,.tabs-slide,.search,.btn,.thread-tree a:hover,.thread-tree a.selected{-moz-box-shadow:0 1px 2px rgba(0,0,0,0.7);-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.7)}
.shadowed-lite,.callout-shadowed-lite{-moz-box-shadow:0 0 1px rgba(0,0,0,0.35);-webkit-box-shadow:0 0 2px rgba(0,0,0,0.35)}
body{font:75%/1.5 Arial,Helvetica,sans-serif}
a{outline:0}
table{width:100%}
td{vertical-align:top}
.portlet-topper{-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;border:0 solid #BABEC2;border-top-left-radius:5px;border-top-right-radius:5px;cursor:default;height:32px;padding:0 18px;position:relative}
.portlet-icon-back{padding:0 1em 0 0}
.portlet-title{line-height:32px;margin:0}
.portlet-icons{line-height:32px;position:absolute;right:5px;top:0}
.portlet-content,.taglib-search-iterator{-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;border:1px solid #BABEC2;border-width:0 1px 1px;padding:18px}
.top-posters .taglib-search-iterator{border-width:1px}
.taglib-search-iterator-highlighted{font-weight:normal}
.wol-portlet-friends .taglib-search-iterator,.portlet-recent-bloggers .taglib-search-iterator{border:none}
.wol-portlet-friends .taglib-search-iterator td,.portlet-recent-bloggers .taglib-search-iterator td{padding:0 0 18px}
.taglib-social-activities .day-separator{font-weight:bold}
.search-pages{float:right}
.portlet-message-boards .search-pages{margin-right:20px}
.search-pages .page-selector,.search-pages .page-links{float:left}
.search-pages .page-selector{margin-right:8px}
.search-pages .previous,.search-pages .next,.portlet-message-boards .previous,.portlet-message-boards .next{height:16px;width:16px}
.portlet-message-boards .previous,.portlet-message-boards .next{margin-bottom:-3px}
.search-pages .previous,.portlet-message-boards .previous{background:url(/modelo_productos/imag/btn_prev_active_bg.png)}
.search-pages .previous:hover,.portlet-message-boards .previous:hover{background:url(/modelo_productos/imag/btn_prev_hover_bg.png)}
.search-pages span.previous,.search-pages span.previous:hover,.portlet-message-boards span.previous,.portlet-message-boards span.previous:hover{background:url(/modelo_productos/imag/btn_prev_inactive_bg.png)}
.search-pages .next,.portlet-message-boards .next{background:url(/modelo_productos/imag/btn_next_active_bg.png)}
.search-pages .next:hover,.portlet-message-boards .next:hover{background:url(/modelo_productos/imag/btn_next_active_hover_bg.png)}
.search-pages span.next,.search-pages span.next:hover,.portlet-message-boards span.next,.portlet-message-boards span.next:hover{background:url(/modelo_productos/imag/btn_next_inactive_bg.png)}
.portlet-message-boards .title{font-size:1em;font-weight:bold;line-height:30px;padding:0 20px}
.portlet-message-boards .message-container .user-info{padding-left:19px;padding-top:20px;width:20%}
.portlet-message-boards .thread-bottom{padding:20px 19px}
.user-commands{float:left}
.portlet-document-library .user-commands,.portlet-image-gallery .user-commands{margin-bottom:12px}
.portlet-message-boards .user-commands{float:right}
.portlet-software-catalog .commands-container{float:right;margin:8px 0;padding:0 20px}
.kb-portlet-knowledge-base .commands-container{padding:0}
.commands-container li,.user-commands li{padding-left:0;padding-right:8px}
.portlet-message-boards .commands-container li{padding-left:8px;padding-right:0}
.commands-container .btn{line-height:1.2;padding:3px 10px}
.portlet-borderless-bar{display:none}
.controls-visible .portlet-borderless-bar{-moz-border-radius:2px;-webkit-border-radius:2px;border:2px solid #BABEC2;margin:.5em 0;padding:.5em}
.portal-popup{margin:2em}
.grid-960 .columns-max .portlet-login{margin:0 auto;width:70%}
.ctrl-holder{margin:0 0 .7em}
.ctrl-holder label{line-height:2;padding:0 1em 0 0;width:8em}
.lfr-table td{padding:0 1em 0 0}
.columns-max .portlet-login input[type="text"],.columns-max .portlet-login input[type="password"],.columns-max .portlet-login select,.columns-max .portlet-login input[type="submit"]{padding:5px}
.columns-max .portlet-login input[type="checkbox"]{margin:5px}
.columns-max .portlet-login .taglib-captcha{margin:1.4em 0}
.columns-max .portlet-login .taglib-captcha .captcha{margin:0 0 1em}
.columns-max .portlet-login #_58_hearAboutLiferayLabel{width:16em}
.columns-max .portlet-login .navigation ul{list-style:none;padding:1em 0}
.columns-max .portlet-login .navigation li{padding:0 1em 0 0}
.portlet-message-boards .page-heading{float:left}
.portlet-wiki h3{padding:5px 0}
.portlet-wiki .toc{padding:20px 19px}
.portlet-wiki .taglib-tags-summary{margin:0}
.portlet-wiki .page-actions{float:right;font-size:.9em;margin:0 0 10px;overflow:hidden}
.portlet-wiki .page-actions span{display:block;float:left;margin-left:10px}
.portlet-wiki .section-title{margin:10px 0}
.portlet-message-boards .edit-message,.portlet-message-boards .replying-to{margin:0 20px;width:auto}
.portlet-message-boards .edit-message{margin-top:12px}
.portlet-search .section-title{-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;background:#474A4B;color:#FFF;font-weight:bold;padding:10px 19px}
.portlet-search .entry-title{color:#00ADEF;font-weight:bold}
.portlet-search .entry-title .highlight{background:none;font-style:normal}
.portlet-search .highlight{background:#FF0;color:inherit;font-style:italic}
.portlet-search .more-results,.portlet-search .search-results,.portlet-search .search-pages{padding:12px 0}
.portlet-search .results-grid td{border-bottom:1px solid #BABEC2;padding:10px 19px}
.portlet-search .results-grid .last td{border-bottom:none}
.portlet-search .taglib-search-iterator{border:none}
.portlet-search .results-grid{-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;border:1px solid #BABEC2;border-width:0 1px 1px}
fieldset,.uni-form fieldset{margin:0;padding:0}
.lfr-meta-actions{padding:0}
.portlet-journal-content .icons-container{margin:-9px 0 27px}
.btn-icon{cursor:pointer;padding:8px 8px 8px 24px;background:no-repeat 4px center}
.btn-icon-rss,.btn-icon-news,.btn-icon-blog{background:url(/modelo_productos/imag/icon_rss.png) no-repeat 0 .73em}
.btn-icon-facebook{background:url(/modelo_productos/imag/icon_facebook.png) no-repeat 0 .73em}
.btn-icon-twitter{background:url(/modelo_productos/imag/icon_twitter.png) no-repeat 0 .73em}
.link-bullet{padding-left:18px;background:url(/modelo_productos/imag/link-bullet.png) no-repeat 0 .2em}
.page-heading{margin-left:-0.03em;padding-top:.1em}
.aside-heading{height:87px;background:no-repeat center}
.aside .aside-subheading{padding-bottom:.4em}
#dock .aui-col{-moz-box-shadow:0 1px #E0E5E9;-webkit-box-shadow:0 1px #E0E5E9;border-bottom:1px solid #999A9C;filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#D9D9D9',EndColorStr='#BABEC2');height:23px;background:-webkit-gradient(linear,left top,left bottom,color-stop(0.0,#D9D9D9),color-stop(1.0,#BABEC2))}
#dock .aui-mod{margin:0 auto;width:940px}
#dock ul,#dock-menu ul{margin-bottom:0}
#dock li,#dock-menu li{padding-left:0}
#dock a,#dock span{padding:6px 12px}
#dock .to-liferay a{margin-left:-18px}
#dock #dock-profile,#dock #dock-navigation{height:23px;position:relative;top:0}
#dock #dock-profile{left:-12px}
#dock #dock-navigation{right:-12px}
#dock .to-profile a,#dock .to-profile span{background:url(/modelo_productos/imag/dock-profile_icon.png) no-repeat 12px center;padding-left:32px}
#dock .active a{border:1px solid #999A9C;border-bottom:0;margin:-1px -1px 0;padding:6px 12px 8px}
#dock-menu .is-menu{display:none;left:0;position:absolute;top:0;z-index:10}
#dock-menu .taglib-settings,#dock-menu .taglib-my-places{-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;border:1px solid #999A9C;border-top:0;padding:5px 0}
#dock-menu .is-menu a{padding:5px 15px}
.logo-container{position:relative}
.logo-container h1{margin:1.1em 0}
.community-name{color:#AAA;font-size:1.2em;font-weight:bold;position:absolute;right:0;text-transform:uppercase;top:1em}
.page-nav{position:relative}
.page-nav ul{height:30px;padding:0 8px;background:url(/modelo_productos/imag/page-nav_bg.png)}
.page-nav a{padding:.7em 10px}
.tabs-nav a,.ui-tabs a,.ui-tabs span{border-color:#FFF #FEFEFE #FFF #CACACA;border-style:solid;border-width:0 1px}
.ui-tabs a,.ui-tabs span{font-weight:normal;height:14px;padding:8px 13px}
.ui-tabs a.scaled,.ui-tabs span.scaled{height:auto;padding:1em 20px}
.tabs-nav a{padding-bottom:1em;padding-top:1em}
.tabs-nav .first,.ui-tabs .first,.tabs-nav .only,.ui-tabs .only{margin-left:-2px}
.tabs-nav .first a,.ui-tabs .first a,.ui-tabs .first span,.tabs-nav .only a,.ui-tabs .only a,.ui-tabs .only span{border-left:none}
.tabs-nav .last a,.ui-tabs .last a,.ui-tabs .last span,.tabs-nav .only a,.ui-tabs .only a,.ui-tabs .only span{border-right:none}
.ui-tabs .first a.scaled,.ui-tabs .first span.scaled,.ui-tabs .only a.scaled,.ui-tabs .only span.scaled{height:auto;padding-left:19px}
.ui-tabs .last a.scaled,.ui-tabs .last span.scaled,.ui-tabs .only a.scaled,.ui-tabs .only span.scaled{height:auto;padding-right:19px}
.ui-tabs .scaled label{margin-right:1em}
.event-chart{border-bottom:1px solid #FFF;border-top:1px solid #BABEC2}
.event-chart a{border-bottom:1px solid #BABEC2;border-top:1px solid #FFF}
.event-chart .dtstart{padding-bottom:8px;padding-top:8px;width:50px}
.event-chart .summary{padding:8px 0 8px 10px}
.event-chart .location{padding:8px 0;background:no-repeat 4px center}
.event.chart{width:150px}
.event-chart .locality{padding-left:24px}
.event-chart .region{padding-right:30px}
.event-blurb a{background:no-repeat 20px 2px;padding-bottom:4px;padding-left:48px;padding-top:4px}
.side-nav{margin-right:30px}
.side-nav .heading a{padding-top:.5em}
.side-nav .heading a,.side-nav ul ul{padding-bottom:.5em}
.side-nav a.tlink{padding-bottom:.35em;padding-top:.35em}
.side-nav .stlink{padding-bottom:.125em;padding-left:30px;padding-top:.125em}
.side-nav li,.side-nav li a{position:relative;zoom:1}
.basic-article{position:relative;zoom:1}
.basic-article-with-image{padding-left:40px}
.basic-article .heading-image{left:0;position:absolute;top:4px;width:36px}
.basic-article .heading-image img{float:right}
.basic-article .heading{padding:.3em 0}
.callout-container .basic-article-with-image{padding-left:0}
.callout-container .basic-article .heading{padding-left:40px}
.callout-bordered-container .heading-image{position:absolute}
.callout-mod .section-subheading{padding-left:22px}
.callout-mod-first{padding-left:10px}
.callout-mod-last{padding-right:10px}
.callout-report th,.callout-report td{border-bottom:1px solid #CCC;padding:10px 20px}
.callout-report tr .first{padding-left:19px}
.callout-report tr .last{padding-right:19px}
.callout-report .last th,.callout-report .last td{border-bottom:none}
.callout-report .label{vertical-align:middle}
.callout-report tr.first th.first,.callout-report tr.first td.first{-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px}
.callout-report tr.first th.last,.callout-report tr.first td.last{-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px}
.callout-report tr.last th.first,.callout-report tr.last td.first{-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px}
.callout-report tr.last th.last,.callout-report tr.last td.last{-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px}
.callout-report .odd .col-1{background:#FFF}
.callout-report .odd .col-2{background:#E4ECF5}
.callout-report .odd .col-3{background:#D9E9F7}
.callout-report .even .col-1{background:#EEF4F9}
.callout-report .even .col-2{background:#D8E5F1}
.callout-report .even .col-3{background:#CEE2F3}
.landing{overflow:hidden}
.aui-1-2 .landing .inset{padding-left:48px;padding-right:56px}
.aui-1-3 .landing .inset{padding-left:38px;padding-right:32px}
.landing h1{font-size:2.2em;margin-bottom:14px}
.landing p{font-size:1.15em;margin-bottom:12px}
.landing a:hover{color:#D9D9D9;text-decoration:none}
.section-heading-title{color:#6A6A6C;font-size:1.6em;line-height:1.2;margin-bottom:0;margin-left:.0125em}
.hr-title{margin-bottom:9px}
.section-container{margin-bottom:3px;overflow:hidden;zoom:1}
.event-article{font-size:.9em;margin-bottom:12px;position:relative}
.event-article .summary{font-size:1em;font-weight:bold}
.event-article .location{color:#747070;font-size:.9em}
ul.documentation{list-style-type:decimal;padding-left:2em}
ul.documentation li{padding-left:0;background:none}
ul.documentation a{color:#474A4B}
ul.documentation a.selected{font-weight:bold;text-decoration:underline}
ul.documentation ul{list-style-type:lower-alpha;padding-left:2em}
.vertical-line{background:url(/modelo_productos/imag/vertical-line.png) repeat-y 239px 0}
.recent-blogger{-moz-border-radius:5px;-webkit-border-radius:5px;background:#DBE1E5;font-size:.9em;margin-bottom:4px;overflow:hidden;position:relative;zoom:1}
.recent-blogger .link{color:#747070;display:block;padding:6px 6px 6px 36px}
.recent-blogger .link:hover{text-decoration:none}
.recent-blogger .user-image{background:#CCC;border:2px solid #FFF;font-size:0;height:22px;left:6px;line-height:22px;position:absolute;top:6px;width:22px}
.recent-blogger .user-image img{height:22px;vertical-align:middle;width:100%}
.recent-blogger h1{color:#000;font-size:1em;font-weight:bold}
.recent-blogger p{margin:0}
.portlet-tags-navigation .community{padding:12px}
.portlet-tags-navigation .community li{margin-bottom:9px}
.portlet-tags-navigation .community a{color:#6A6A6C}
.portlet-tags-navigation .community a.selected{font-weight:bold}
.portlet-tags-navigation .community a.selected:hover{text-decoration:none}
.portlet-asset-publisher .asset-abstract{margin-bottom:9px;overflow:hidden;zoom:1}
.portlet-asset-publisher .asset-title{font-size:1em;font-weight:bold}
.portlet-asset-publisher .asset-title a{color:#0BBFE0}
.banner-nav,.banner-nav .banner{height:253px}

.banner-nav a{left:0;position:absolute;top:0;width:100%}
.banner-nav .banner{position:absolute;width:100%;z-index:1}
.banner-nav .menu{bottom:6px;opacity:1;padding:3px;position:absolute;right:6px;z-index:5;width:72px}
.banner-nav .menu a{-moz-border-radius:9px;-webkit-border-radius:9px;height:18px;margin:0 3px;width:18px}
.banner-nav .menu .item{height:9px;margin:4px 3px;width:9px;z-index:1}
#marketing-slogan{margin-bottom:18px;margin-left:20px}
#start-here{margin-left:15px;margin-right:15px}
#start-here .callout-heading{background:url(/modelo_productos/imag/start-here_bg.png)}
#start-here .important-list,#start-here .plain-list{margin:10px}
#start-here li{margin:8px 0}
#start-here .important-list li{padding-left:24px}
#start-here .hr{margin:18px 10px}
.footer-shortcuts{margin-top:32px}
.footer-shortcuts .copy{font-size:.9em;margin-top:8px}
.footer-shortcuts ul{margin-right:-8px}
.footer-shortcuts li{margin-left:8px}
.foot-nav .copy,.foot-nav .legal{margin-top:9px}
.foot-nav .legal{margin-right:-5px}
.tabs-slide{zoom:1}
.tabs-slide,.tabs-slide .heading{line-height:50px}
.tabs-slide .content,.tabs-slide .port,.tabs-slide .pan{position:relative}
.tabs-slide a,.tabs-slide .content{height:50px}
.tabs-slide .heading a,.search .search-heading{padding:0 20px}
.tabs-slide .port a{padding:0 15px;background:no-repeat center}
.tabs-slide .heading,.search .search-heading{border-right:1px solid #F0F0F0}
.tabs-slide .content{border-left:1px solid #CACACA;padding:0 32px}
.tabs-slide .item{position:absolute;width:16px}
.tabs-slide .prev{background:url(/modelo_productos/imag/tabs-slide_prev.png) no-repeat center;left:8px}
.tabs-slide .next{background:url(/modelo_productos/imag/tabs-slide_next.png) no-repeat center;right:8px}
.tabs-slide .port{width:100%}
.tabs-slide .pan{left:40px;width:99999em}
.report th,.report td,.report-chart th,.report-chart td,.report-aside th,.report-aside td{border-bottom:1px solid #CCC;padding:8px;vertical-align:top}
.report tfoot td,.report-aside tfoot td,.report-chart tfoot td,.report .last td{border-bottom:none;padding-bottom:0}
.report .first,.report-aside .first,.report-chart .first{padding-left:0}
.report .last,.report-aside .last,.report-chart .last{padding-right:0}
.report-chart-lite{margin-bottom:0}
.report-chart-last{margin-bottom:36px}
.report-chart-lite td{border:1px solid #CCC;border-width:1px 0;vertical-align:middle}
.report-chart-lite th{font-size:1.2em}
.report-chart-lite p{margin-bottom:0}
.btn{-moz-border-radius:3px;-webkit-border-radius:3px;cursor:pointer;padding:3px 20px}
.portlet-blogs .user-img,.portlet-blogs-aggregator .user-img,.portlet-message-boards .user-img{-moz-border-radius:8px;-webkit-border-radius:8px;border:2px solid #474A4B}
.portlet-blogs .user-info,.portlet-blogs-aggregator .user-info{margin-bottom:12px}
.portlet-blogs .suffix,.portlet-blogs-aggregator .suffix{padding-left:.5em;padding-top:16px}
.portlet-blogs .comment-count,.portlet-blogs-aggregator .comment-count{background:url(/modelo_productos/imag/blog-comments-count_bg.png);height:36px;line-height:32px;width:42px}
.portlet-blogs,.portlet-blogs-aggregator{position:relative}
.portlet-blogs .rss,.portlet-blogs-aggregator .rss{position:absolute;right:0;top:-45px}
.portlet-blogs .rss a,.portlet-blogs-aggregator .rss a{line-height:16px}
.portlet-blogs .rss a:hover,.portlet-blogs-aggregator .rss a:hover{text-decoration:none}
.portlet-blogs .hr,.portlet-blogs-aggregator .hr,.portlet-wiki .divider .hr,.portlet-wiki .taglib-discussion .hr{margin:18px 0}
.portlet-wiki .page-title{padding:9px 0 0}
.portlet-asset-publisher .taglib-page-iterator{border-top:1px solid #BFBFBF;padding-bottom:18px;padding-top:18px}
.portlet-login .navigation{border-top:1px solid #BFBFBF;margin-top:18px}
.portlet-blogs .entry-author,.portlet-blogs-aggregator .entry-author{padding-right:5px}
.portlet-login .lfr-table,.portlet-blogs .lfr-table,.portlet-blogs-aggregator .lfr-table,.taglib-ratings{width:auto}
.portlet-blogs .stats,.portlet-blogs-aggregator .stats,.portlet-blogs .trackback,.portlet-blogs-aggregator .trackback,.portlet-blogs .taglib-ratings,.portlet-blogs-aggregator .taglib-ratings{margin:10px 0}
.kb-portlet-knowledge-base .taglib-search-iterator,.portlet-wiki .taglib-search-iterator,.portlet-software-catalog .taglib-search-iterator{background:none;border:none;border-collapse:separate;border-spacing:0;padding:0}
.kb-portlet-knowledge-base .portlet-section-header,.portlet-software-catalog .portlet-section-header{background:none}
.kb-portlet-knowledge-base .portlet-section-header th,.portlet-wiki .portlet-section-header th,.portlet-software-catalog .portlet-section-header th{background:#474A4B}
.portlet-software-catalog .portlet-section-header a{color:#FFF}
.kb-portlet-knowledge-base .taglib-search-iterator th,.kb-portlet-knowledge-base .taglib-search-iterator td,.portlet-wiki .taglib-search-iterator th,.portlet-wiki .taglib-search-iterator td,.portlet-software-catalog .taglib-search-iterator th,.portlet-software-catalog .taglib-search-iterator td{padding:8px 19px}
.kb-portlet-knowledge-base .results-row td,.portlet-wiki .results-row td,.portlet-software-catalog .results-row td{background:#FFF;border-color:#BABEC2;border-style:solid;border-width:0 0 1px}
.kb-portlet-knowledge-base .results-row .first,.portlet-wiki .results-row .first,.portlet-software-catalog .results-row .first{border-left-width:1px}
.kb-portlet-knowledge-base .results-row .last,.portlet-wiki .results-row .last,.portlet-software-catalog .results-row .last{border-right-width:1px}
.kb-portlet-knowledge-base .results-row .only,.portlet-wiki .results-row .only,.portlet-software-catalog .results-row .only{border-left-width:1px;border-right-width:1px}
.kb-portlet-knowledge-base .results-row td a,.portlet-software-catalog .results-row td a{color:#474A4B}
.kb-portlet-knowledge-base .results-row td a:hover,.portlet-wiki .results-row td a:hover,.portlet-software-catalog .portlet-section-header a:hover,.portlet-software-catalog .results-row td a:hover{text-decoration:none}
.kb-portlet-knowledge-base .results-row .col-1 a,.portlet-software-catalog .results-row .col-1 a b{color:#00ADEF;font-weight:bold}
.kb-portlet-knowledge-base .portlet-section-header th:first-child,.portlet-wiki .portlet-section-header th:first-child,.portlet-software-catalog .portlet-section-header th:first-child{-moz-border-radius-topleft:5px;-webkit-border-top-left-radius:5px}
.kb-portlet-knowledge-base .portlet-section-header th:last-child,.portlet-wiki .portlet-section-header th:last-child,.portlet-software-catalog .portlet-section-header th:last-child{-moz-border-radius-topright:5px;-webkit-border-top-right-radius:5px}
.kb-portlet-knowledge-base .results-row:last-child td:first-child,.portlet-wiki .results-row:last-child td:first-child,.portlet-software-catalog .results-row:last-child td:first-child{-moz-border-radius-bottomleft:5px;-webkit-border-bottom-left-radius:5px}
.kb-portlet-knowledge-base .results-row:last-child td:last-child,.portlet-wiki .results-row:last-child td:last-child,.portlet-software-catalog .results-row:last-child td:last-child{-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px}
.portlet-wiki .taglib-search-iterator-page-iterator-bottom{padding:10px 0 0}
.kb-portlet-knowledge-base .heading-details{-moz-border-radius:5px;-webkit-border-radius:5px;background:#FFF;border:1px solid #B3B5B7;margin-bottom:12px;padding:12px 19px}
.kb-portlet-knowledge-base .heading-details .article-title{font-size:1.5em;font-weight:bold;margin-bottom:4px}
.kb-portlet-knowledge-base .heading-details table{font-size:.9em;text-transform:uppercase;width:auto}
.kb-portlet-knowledge-base .heading-details td{padding-right:12px}
.kb-portlet-knowledge-base .heading-details strong{font-weight:normal}
.story-banner{margin-left:3px;margin-right:3px;margin-top:3px;position:relative}
.partner-banner .heading-image,.story-banner .heading-image{padding:8px}
.partner-banner .heading-image img,.story-banner .heading-image img{margin:0 auto}
.partner-banner .heading-title,.story-banner .heading-title{padding:7px 20px}
.story-banner .case-study{background:url(/modelo_productos/imag/case-study.png);height:75px;left:-3px;position:absolute;top:-3px;width:75px}
.page-search{background:url(/modelo_productos/imag/page-nav-search_bg.png);float:right;height:17px;padding-left:20px;position:absolute;right:12px;top:6px;width:174px}
.page-search legend,.page-search .submit{display:none}
.page-search .text{-webkit-appearance:textfield;-webkit-box-sizing:content-box;background:none;border:none;color:#DDD;font-size:.9em;outline:0;padding:0;width:170px}
.active-area .lfr-portlet-column{background:#FFA;min-height:100px}
.search .heading{cursor:default;height:14px;padding:8px 13px}
.search .terms{border-left:1px solid #CACACA;padding:0 12px}
.search .terms #term{-moz-border-radius:12px;-webkit-border-radius:12px;font-size:.9em;margin:5px 0;outline:0;padding:.25em 9px;width:15em}
.search #type{border:1px solid #BABEC2;float:left;font-size:.9em;margin:5px 12px 5px 0;outline:0;padding:1px 0}
.search .terms #term:focus{-moz-box-shadow:0 0 3px 0 #999;-webkit-box-shadow:0 0 3px 0 #999}
.product-highlight .image{margin-right:20px}
.portlet-wiki .basic-article-with-image{padding-left:42px;padding-top:12px}
.portlet-wiki .basic-article-with-image p{margin-bottom:4px}
.portlet-asset-publisher .controls .back,.portlet-asset-publisher .controls .asset-actions{float:left;margin-right:12px}
.asset-title .back{font-size:11px;font-weight:normal}
.large-break{margin-bottom:18px}
.field:after{clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden}
.field{clear:both;margin-bottom:9px}
.field .label,.field .input{float:left}
.field .label .required{font-size:.8em}
.field .label{padding-top:.25em;width:6em}
.field .input{margin-right:1em}
.field .input input,.field .input select,.field .input textarea{font-size:.9em;padding:.4em 9px;width:14em}
.field .input select{width:16em}
.field .input textarea{height:12em;width:60em}
.portlet-document-library .preview-image{margin-right:18px}
.portlet-document-library .description{margin-bottom:32px}
.portlet-document-library .action{margin-top:22px}
.portlet-document-library .login .ctrl-holder{color:#00ADEF}
.portlet-document-library .login .ctrl-holder label{font-weight:bold;padding-right:.5em;width:7em}
.portlet-document-library .login .ctrl-holder input{color:#333;font-size:1em;padding:3px}
.portlet-document-library .login .inline-label,.portlet-document-library .login .button-holder,.portlet-document-library .create-account{float:left;margin-right:1em}
.portal-tool-tip{-moz-border-radius:5px;-webkit-border-radius:5px;border:2px solid #D9D9D9;color:#474A4B;padding:0 10px;background:#FFF}
.portlet-msg-error{-moz-border-radius:3px;-webkit-border-radius:3px;background:#FDD url(/modelo_productos/imag/error.png) no-repeat scroll 6px 50%;border:1px solid #F00;display:block;font-weight:bold;margin:2px auto 14px;padding:6px 6px 6px 30px}
.portlet-msg-success{-moz-border-radius:3px;-webkit-border-radius:3px;background:#F4FDEF url(/modelo_productos/imag/success.png) no-repeat scroll 6px 50%;border:1px solid #ACDFA7;color:#384F34;display:block;font-weight:bold;margin:2px auto 14px;padding:6px 6px 6px 30px}
input[type="button"],input[type="submit"]{-moz-border-radius:3px;-moz-box-shadow:0 1px 2px rgba(0,0,0,0.7);border:none;color:#FFF;cursor:pointer;display:inline-block;margin-bottom:2px;margin-left:0;margin-right:0;padding:2px 17px;font:bold 1em/1.25 Arial,Helvetica,sans-serif;background:#00ADEF}
input[type="button"]:hover+,input[type="submit"]:hover{background:#DD5F13}
.unique-article{margin-bottom:32px}
.link-icon{font-weight:bold;margin-bottom:8px;min-height:20px;padding-bottom:4px;padding-left:32px;padding-top:4px;background:no-repeat left center}
.link-icon-title{line-height:22px}
.link-icon-jpg{background:url(/modelo_productos/imag/icon-jpg.png)}
.link-icon-jpg-locked{background:url(/modelo_productos/imag/icon-jpg-lock.png)}
.link-icon-mp3{background:url(/modelo_productos/imag/icon-mp3.png)}
.link-icon-mp3-locked{background:url(/modelo_productos/imag/icon-mp3-lock.png)}
.link-icon-pdf{background:url(/modelo_productos/imag/icon-pdf.png)}
.link-icon-pdf-locked{background:url(/modelo_productos/imag/icon-pdf-lock.png)}
.link-icon-ppt{background:url(/modelo_productos/imag/icon-ppt.png)}
.link-icon-ppt-locked{background:url(/modelo_productos/imag/icon-ppt-lock.png)}
.link-icon-xls{background:url(/modelo_productos/imag/icon-xls.png)}
.link-icon-xls-locked{background:url(/modelo_productos/imag/icon-xls-lock.png)}
ol.toc li{padding:0}
ol.toc ol{color:#474A4B;font-size:.9em;list-style:none;margin:-0.25em 0 .5em;padding-left:0}
.toc a{color:#446D77}
.toc a:hover{color:#CD171D;text-decoration:none}
.wol-portlet-jira .jira-summary .activity-details .progress-bar{white-space:nowrap}
.chat-tabs li{background:none}
.delta-selector{float:left;padding-right:5px}
#marketing-slogan p{color:#446D77;font-size:19px;line-height:1.3em}
div.slideshow a.advance-link{line-height:0px}
li.thumbs{float:left}
.product-img{text-align:center}
.product-summary{position:relative;margin:30px auto;width:400px}
.product-summary{color:#000}
.product{width:100%;overflow:hidden;height:auto;margin-top:2.5em;clear:both}
.column-right{width:50%;height:auto;float:right}
.column-left{width:40%;height:auto;float:left;margin:10px 40px}
* html .column-left{display:inline}
/* SUBTITULOS */
/*ancore*/
.subtitulos a{display:block;padding-left:20px;color:#474A4B;font-weight:bold;line-height:1.25;padding-bottom:.35em;padding-top:.35em}
.subtitulos a:hover{text-decoration:none;color:#00ADEF}
/*subtítulo en el cuerpo*/
.contSubtit{display:table;width:100%;margin-bottom:4px;border-bottom:1px solid #e3e3e3;clear:both}
.contSubtit .titSubtit{font-size:13px;font-weight:bold;color:#474A4B;line-height:1.25;margin:0;padding:0;float:left;width:82%}
.contSubtit .titSubtit div,.contSubtit .titSubtit a,.contSubtit{font-size:1.3em;color:#00ADEF;line-height:1.25}
.contSubtit .linkSubtit{margin:0 6px 0 0;padding:4px 0 0 0;font-size:12px;font-weight:normal;color:#1b92b4;text-align:right}
.contSubtit .linkSubtit a{margin:0;font-size:11px;font-weight:normal;color:#446D77;text-align:right}
.contSubtit .linkSubtit a:hover{color:#00ADEF;text-decoration:none}
/* MAPA DEL SITIO */
.box-mapa{text-align:left;margin:15px 0}
ul.map{margin-bottom:0px}
li.mapa_item1{list-style-type:none;text-align:left}
li.mapa_item2{list-style-type:none;margin-left:20px;text-align:left}
li.mapa_item3{list-style-type:none;margin-left:40px;text-align:left;font-size:11px}
li.mapa_item4{list-style-type:none;margin-left:60px;text-align:left}
/*-------------------oo------------------------*/
.breadcrumbs img{margin:3px}
.breadcrumbs  a{text-decoration:none}
.breadcrumbs  a:hover{color:#00ADEF}
.pan img{margin:6px 20px}
h1.heading{color:white}
.destacado{color:red;font-weight:bold}
.basic-article-with-image h1.heading{color:#474A4B}