/*CSS Articulo*/

/* sociales */
.sociales a {
    color: #217CC2;
    float: left;
    font-size: 11px;
    margin: 5px 3px 0 0;
    overflow: hidden;
}
.sociales a img {
    vertical-align:middle;
}
/* sociales */
a{
    text-decoration:none;
    color:#125DA3;
  }

/*ESTRUCTURALES*/
#cont-left {width:680px; float:left;}
#cont-right {width:240px; margin:20px 0 0; float:right; background:url(/modelo_simple/imag/bg/menu_top.jpg) no-repeat left top #FFF;}
#cont-right .menu-bottom {width:240px; height:15px; margin:0; background:url(/modelo_simple/imag/bg/menu_bottom.jpg) no-repeat left top #FFF;}
#cont-right .auxi {margin:0 15px 15px;}
#cont-right h1.rotulo {font-size:11px; margin:0 0 6px; padding:15px 0 6px; color:#666; text-transform:uppercase; font-weight:normal; border-bottom:1px dashed #c0c0c0;}
#cont-right h3.links-menu {margin:0 0 15px; background:url(/modelo_simple/imag/auxi/flecha_menu.gif) no-repeat left top;}
#cont-right h3.links-menu a {display:block; margin:0 0 0 10px; text-transform:uppercase; font-weight:normal; color:#125da3; font-size:11px;}
#cont-right h3.links-menu a:hover {color:#CC0000;}

/*-------------------oo------------------------*/

/*CALENDARIO*/
#cont-right form#formCalendar {width:230px; background:#fff; margin:8px auto 8px;}
#cont-right form#formCalendar table {width:215px; margin:8px auto;}
#cont-right form#formCalendar table table.cal-tabla {width:215px; margin:0; border-collapse:collapse; font-size:11px; background:#fafafa;}

/*MIGAS DE PAN*/
.breadcrumbs {display:block; margin:0 0 3px; font-size:11px; color:#333;}
.breadcrumbs a {font-size:11px; color:#333;}
.breadcrumbs b {font-weight:normal;}
.breadcrumbs a.azul {color:#02507f;}
.breadcrumbs a:hover {text-decoration:underline;}
.breadcrumbs .back {width:50px; float:right; margin:0; text-align:right;}

/*-------------------oo------------------------*/

/*AUXILIARES*/
.subir {margin:15px 15px 0 0; padding:0 0 30px; text-align:right; font-size:12px; font-weight:bold; color:#1B92B4;}
.subir a {font-size:11px; color:#1B92B4;}
.subir a:hover {color:#ccc;}

/*-------------------oo------------------------*/

/*HERRAMIENTAS*/
.tools {width:100%; margin:0 0 10px; padding:0 0 3px;display:block; font-size:11px; color:#666; text-transform:uppercase; border-bottom:1px dashed #cfcfcf; font-weight:normal;}
.tools .tools-left {width:500px; float:left; margin:3px 0 0;}
.tools .tools-right {width:150px; float:right;}
.tools .tools-right-form {width:20px; float:right;}
.tools .volver {float:right; width:27px;}

/*-------------------oo------------------------*/

/*ESTILOS H*/
.date {font-size:11px; color:#666;}
#cont-left .epigrafe {color:#003366; font-size:12px; font-style:italic;}
#cont-left h1.titular {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:28px; color:#125da3; font-weight:normal;}
#cont-left h2.bajada {font-size:14px; color:#999; text-align:justify; margin:4px 0 15px; line-height:160%;}
#cont-left .bajada {font-size:14px; color:#999; text-align:justify; margin:4px 0 15px; line-height:160%;}
#cont-left .bajada strong {font-size:14px; color:#CC0000; text-align:justify; margin:4px 0 15px; line-height:160%;}

/*-------------------oo------------------------*/

/* SUBTITULOS */
/*ancore*/
.subtitulos {margin:0 0 5px 0; padding:0; font-size:11px; color:#0f1281; font-weight:normal; text-align:left; clear:both;}
.subtitulos a {margin:0 5px 0 0; font-size:11px; color:#0f1281;}
.subtitulos a:hover {color:#CC0000;}
/*subtítulo en el cuerpo*/
.contSubtit {display:table; width:100%; margin:0 0 15px 0; padding:18px 0 8px 0; border-bottom:1px solid #e3e3e3; clear:both;}
.contSubtit .titSubtit {font-family:Myriad Pro,Myriad,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; margin:0; padding:0; font-size:20px; color:#0369a6; float:left; width:82%;}
.contSubtit .titSubtit div, .contSubtit .titSubtit a, .contSubtit .titSubtit a:hover {font-family:Myriad Pro,Myriad,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:20px; color:#0369a6; line-height:110%; text-decoration:none;}
.contSubtit .linkSubtit {margin:0 6px 0 0; padding:4px 0 0 0; font-size:12px; font-weight:normal; color:#1b92b4; text-align:right;}
.contSubtit .linkSubtit a {margin:0; font-size:11px;  font-weight:normal;  color:#1b92b4; text-align:right;}
.contSubtit .linkSubtit a:hover {color:#ccc; text-decoration:none;}

/*-------------------oo------------------------*/
/*MULTIMEDIA*/
.media {width:690px; margin:0 0 30px; text-align:center;}
.media .pie-media {margin:5px 0 0; font-size:11px; color:#003366;}
.media .pie-media {margin:5px 0 0; font-size:11px; color:#003366}

/*-------------------oo------------------------*/

/*ARTICULOS RELACIONADOS*/
.box-relac {margin:15px 0; background:#ecf2f8;}
.box-relac .rot {font-size:11px; margin:15px;color:#666; text-transform:uppercase;}
.box-relac .link-item {margin:0 15px 10px; border-bottom:1px dashed #cfcfcf; padding:0 0 10px;}
.box-relac .link-item a {display:block; margin:0 0 0 12px; font-size:11px; color:#125da3; text-transform:uppercase;}
.box-relac .link-item a:hover {color:#CC0000;}
.box-relac .vermas {width:200px; margin:0 auto 10px; text-align:right; float:right;}
.box-relac .vermas a {background:url(/modelo_simple/imag/auxi/flecha_azul.gif) no-repeat left 2px; font-size:11px; color:#125da3; text-transform:uppercase; text-indent:10px; padding:0 13px;}
.box-relac .vermas a:hover {color:#CC0000;}

/*-------------------oo------------------------*/

/*DESCARGAS*/
.box-descargas {margin:15px 0; background:#ecf2f8;}
.box-descargas .rot {font-size:11px; margin:15px;color:#666; text-transform:uppercase;}
.box-descargas .file {margin:0 15px 10px; border-bottom:1px dashed #cfcfcf; padding:0 0 10px;}
.box-descargas .file a {font-size:11px; color:#125da3; text-transform:uppercase;}
.box-descargas .file a:hover {color:#CC0000;}
.box-descargas .file img {float:left; margin:0 10px 0 0;}

/*-------------------oo------------------------*/

/*Tablas Forms*/
.formulario-prontus {background-color:#E5EAEF; border:0;}
.tableform {margin:15px 0 0;}
.tableform td {padding:4px; font-size:13px; font-weight:bold; color:#1B92B4;}
.tableform td table td {padding:0;}
.tableform p {padding:4px; font-size:18px; font-weight:bold; color:#01377d;}
.tableform .notas {font-size:13px; font-weight:normal; color:#999999;}
.tableform .txtnotas {font-size:13px; font-weight:normal; color:#4D4D4D;}
.tableform .fieldform {width:90%; padding:4px 4px; font-size:13px; font-weight:normal; color:#4D4D4D; background-color:#FCFCFC; border:1px solid #CCC;}
.tableform .fieldformFech {width:25px; padding:4px 4px; font-size:13px; font-weight:normal; color:#4D4D4D; background-color:#FCFCFC; border:1px solid #CCC;}
.tableform .fieldformShort {width:150px; padding:4px 4px; font-size:13px; font-weight:normal; color:#4D4D4D; background-color:#FCFCFC; border:1px solid #CCC;}
.tableform .buttonform {width:86px; height:37px; font-size:14px; font-weight:bold; color:#FCFCFC; background: #1B92B4;  border:1px solid #ffffff; cursor:pointer;}
.gris {font-size:12px; font-weight:normal; color:#666;}
/*-------------------oo------------------------*/

/* PORTADA TAXONOMICA - BUSCADOR */
.taxport-item {margin:15px 0 5px; padding:0 0 10px; border-bottom:1px dashed #cfcfcf; overflow:hidden; text-align:left;}
.taxport-item .fecha {font-size:11px; font-weight:normal; color:#666;}
.taxport-item .titular, .taxport-item .titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:14px; color:#125da3; text-transform:uppercase; font-weight:normal; margin:2px 0 0 0;}
.taxport-item .titular a:hover {color:#CC0000;}
.taxport-item .epigrafe {font-style:italic; font-size:11px; font-weight:normal; color:#666;}
.taxport-item .bajada, .taxport-item .bajada-tax {font-size:12px; font-weight:normal; color:#666;  padding:4px 0 0 0;}
.taxport-item .foto { border:2px solid #ececec; margin:0 10px 0 0; float:left;}
.taxport-item .nro {width:20px; float:left; font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:20px; line-height:16px; color:#125da3; text-transform:uppercase; font-weight:normal;}
.taxport-item .text-res {width:660px; float:right; margin:0;}
.taxport-item .seccion {font-size:11px; color:#666; text-transform:uppercase; font-weight:normal;}
/**/
.taxportmsg {margin:15px 0 0; padding:15px 0 40px; font-size:14px; color:#666; text-align:left; clear:both;}
.taxportmsg a {font-size:14px; color:#FFF; font-weight:bold; background-color:#125DA3; padding:2px 6px;}
.taxportmsg a:hover {background-color:#CC0000;}

/*-------------------oo------------------------*/

/*BUSCADOR*/
.box-search {margin:10px 0; font-size:12px; font-weight:normal; color:#666; padding:0; background:#ecf2f8;}
.box-search .auxi {margin:20px;}
.box-search .item {border-bottom:1px dashed #cfcfcf; padding:0 0 10px; margin:0 0 10px;}
.box-search .text-label {display:inline; font-size:12px; color:#666; text-transform:uppercase; margin:0 0 5px;}
.box-search .bloq-campos {display:inline; font-size:11px; color:#125da3;}
.box-search .bloq-campos input, .box-search .bloq-campos select {background:#fff; border:1px solid #d5d9dd; font-size:11px; color:#125da3; padding:4px;}
.box-search .bloq-campos .boton {width:84px; height:25px; font-size:11px; font-weight:bold; color:#FCFCFC; background:url(/modelo_simple/imag/bg/back_buscar.gif) no-repeat left top; border:none;}
/*-------------------oo------------------------*/

/* MAPA DEL SITIO */
.box-mapa {text-align:left; margin:15px 0;}

li.mapa_item1 {font-size:12px; font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; text-transform:uppercase; background:url(/modelo_simple/imag/auxi/flecha_menu.gif) no-repeat 0 3px; color:#125da3; line-height:20px; list-style-type:none; margin:10px 0; text-align:left;}
li.mapa_item2 {color:#666; font-size:11px; text-transform:uppercase; list-style-type:disc; margin:0 0 8px 50px; text-align:left;}
li.mapa_item3 {list-style-type:circle; margin:0 0 5px 60px; text-align:left; color:#666; font-size:11px;}
li.mapa_item4 {list-style-type:square; margin-left:90px; text-align:left; color:#fff;}

li.mapa_item1 * {font-size:12px; font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; margin:0 0 0 15px; color:#125da3;}
li.mapa_item2 * {color:#666; font-size:11px; text-transform:uppercase;}
li.mapa_item3 * {font-weight:normal; color:#666; font-size:11px;}
li.mapa_item4 * {font-weight:normal; color:#999; font-size:11px;}

li.mapa_item1 *:hover {text-decoration:underline;}
li.mapa_item2 *:hover {text-decoration:underline;;}
li.mapa_item3 *:hover {text-decoration:underline;}
li.mapa_item4 *:hover {text-decoration:underline;}

/*-------------------oo------------------------*/

/* CUERPO DEL ARTICULO */
.CUERPO p {font-size:12px; margin:0 0 15px; font-weight:normal; color:#666; line-height:160%;} /* Esto es solo para que funcione el +/- letra */
.CUERPO ul, .CUERPO p ul {margin-top:8px; margin-left:50px; line-height:160%; font-size:12px; color:#666;}
.CUERPO ul li, .CUERPO p ul li {list-style-type:square; line-height:160%; font-size:12px; color:#666;}
.CUERPO ol, .CUERPO p ol {margin-top:8px; margin-left:50px; line-height:160%; font-size:12px; color:#666;}
.CUERPO ol li, .CUERPO p ol li {list-style-type:decimal; line-height:124%; font-size:12px; color:#666; padding:2px 0;}
.CUERPO blockquote {margin-left:15px;}
.CUERPO {border-top:1px dashed #cfcfcf; font-weight:normal; margin:15px 0 0 0; padding:10px 0 0; font-size:12px; font-weight:normal; color:#666; line-height:160%; text-align:justify;}
.CUERPO table, .CUERPO table td {border-collapse:collapse; padding:5px; font-size:12px; color:#666;}
.CUERPO a {font-size:12px; color:#0f1281; font-weight:bold; }
.CUERPO a:hover, .CUERPO * a:hover {color:#CC0000; text-decoration:none;}
.CUERPO strong, .CUERPO b {font-weight:bold;}
.CUERPO sup {font-size:10px;}

/*-------------------oo------------------------*/

/*FORMATO VTXT*/
.CUERPO h1 {font-size:18px; font-weight:normal; color:#4D4D4D;}
.CUERPO h2 {font-size:15px; font-weight:bold; color:#4D4D4D;}
.CUERPO h3 {font-size:12px; font-weight:bold; color:#4D4D4D;}
.CUERPO h4 {font-size:11px; font-weight:bold; color:#1C2B45;}
.CUERPO h5 {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:10px; font-weight:bold; color:#1C2B45;}
.CUERPO h6 {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:9px; font-weight:bold; color:#1C2B45;}
.CUERPO address {font-size:12px; font-weight:normal; color:#4D4D4D; font-style:italic;}
.CUERPO pre {font-size:11px; font-weight:normal; color:#4D4D4D; text-align:justify; text-indent:10px;}
.CUERPO .td-estilo-fondogris {background-color:#f6f6f6;}
.CUERPO .td-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}
.CUERPO .td-estilo-fondoceleste {color:#FCFCFC; font-weight:bold; background-color:#01a4c9;}
.CUERPO .tr-estilo-fondogris {background-color:#ededed;}
.CUERPO .tr-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}
.CUERPO .tr-estilo-fondoceleste {color:#FCFCFC; font-weight:bold; background-color:#01a4c9;}

/*-------------------oo------------------------*/

/*vtxt*/
.CUERPO .subtit /* subtitulos */ {font-family:Myriad Pro,Myriad,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:20px; color:#0369a6; line-height:110%; text-decoration:none; display:table; width:100%; margin:0 0 8px 0; padding:18px 0 8px 0; border-bottom:1px solid #c3c3c3;}
.CUERPO .subtitsinlink /* subtitulos extra */ {font-size:14px; font-weight:normal; color:#1b92b4; line-height:110%; text-decoration:none; display:table; width:100%; margin:0 0 8px 0; padding:18px 0 8px 0;}
.CUERPO .piefoto /* pies de fotos */ {color:#666666; font-size:11px; }
.CUERPO .resalta /* texto resaltado */ {font-size:11px; font-weight:bold; color:#353535; font-style:italic;}
.CUERPO .amarillo /* texto amarillo */ {color:#F8DA07;}
.CUERPO .azul     /* texto azul */   {color:#003366;}
.CUERPO .celeste     /* texto celeste */   {color:#0389A7;}
.CUERPO .azuldestacado     /* texto azul destacado */  {color:#003366; font-weight:bold;}
.CUERPO .blanco   /* texto blanco */ {color:#FCFCFC;}
.CUERPO .rojo     /* texto rojo */   {color:#cc0000;}
.CUERPO .naranjo  /* texto naranjo */  {color:#ff6600;}
.CUERPO .naranjo  /* texto naranjo */  {color:#4D4D4D;}
.CUERPO .verde    /* texto verde */  {color:#339900;}
.CUERPO .gris     /* texto gris */  {color:#5C5C5C;}
/*/vtxt*/

/*vtxt_table*/
.CUERPO .table-right {float:right;}
.CUERPO .table-left {float:left;}
.CUERPO .table-center {margin:auto;}
/*/vtxt_table*/

/*vtxt_tr*/
.CUERPO .tr-estilo-fondogris {background-color:#f6f6f6;}
.CUERPO .tr-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}
.CUERPO .tr-estilo-fondoceleste {color:#FCFCFC; font-weight:bold; background-color:#01a4c9;}
/*/vtxt_tr*/

/*vtxt_td*/
.CUERPO .td-estilo-fondogris {background-color:#f6f6f6;}
.CUERPO .td-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}
.CUERPO .td-estilo-fondoceleste {color:#FCFCFC; font-weight:bold; background-color:#01a4c9;}
/*/vtxt_td*/

/* estilos obligatorios para tablas en vtxt */
.CUERPO table {margin:3px; padding:2px; border-collapse:collapse; empty-cells:show;}
.CUERPO td {margin:1px; padding:2px; border:0px solid #d9d9d9; border-collapse:collapse;}
.CUERPO img {margin:3px;}

.CUERPO .table-datos {margin:3px; padding:0; border-collapse:collapse; empty-cells:show;}
.CUERPO .table-datos td {margin:1px; padding:2px; border-bottom:1px solid #d9d9d9; border-collapse:collapse;}
.CUERPO .table-datos img {margin:0px;}

.CUERPO .table2 {margin:0; padding:0; border:1px solid #FCFCFC; border-collapse:collapse;}
.CUERPO .table2 td {margin:0; padding:2px 0; border:1px solid #FCFCFC; border-collapse:collapse;}
.CUERPO .table2 img {margin:0px;}


/*-------------------oo------------------------*/

/*FIN*/               