/* CSS Document - Enviar */
/*** Tags HTML ***/
* {font-family:Arial,Helvetica,Sans-Serif,Verdana,Tahoma; margin:0; padding:0;}
body {margin:0; padding:0; border:0;}
html>body {margin:0; padding:0;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
a:hover * {text-decoration:none;}
form {margin:0; padding:0;}
.separa, .spacer {clear:both; overflow:hidden;}

/*Formulario*/
.tituEnviar {margin:25px 0 15px; font-size:20px; font-weight:normal; color:#FCFCFC;}
.textEnviar, .textEnviar p {font-size:12px; font-weight:normal; color:#4D4D4D;}
.textEnviar a {font-size:12px; font-weight:normal; color:#ff4D4D4D0;}
.textEnviar a:hover {color:#ff4D4D4D0; text-decoration:underline;}
.field {padding:3px; font-size:12px; font-weight:normal; color:#666; width:90%; border:1px solid #ccc;}
.buttonform {font-size:11px; border:0; color:#125da3; text-transform:uppercase; background:#d0dceb; border:1px solid #125da3; padding:4px; cursor:pointer;}

/*Imprimir*/
B {font-weight:bold;}
p {font-family:Arial,Tahoma,Verdana,Helvetica,sans-serif; font-size:12px; color:#666; line-height:150%; margin:8px 0 15px 0; padding:0px;}
.bloqueprint {width:700px; text-align:left;}
.coment, .coment p {margin:0 0 20px; font-size:12px; color:#4D4D4D; font-weight:bold;}

.fecha {margin:0 0 10px 1px; font-size:11px; font-weight:normal; color:#066CA8;}
.epigrafe {margin:0 0 5px 1px; font-size:12px; font-weight:normal; color:#066CA8;}
.epigrafe p {font-size:12px; font-weight:normal; color:##066CA8;}
.titular {margin:0 0 8px 0; font-size:30px; font-weight:bold; color:#1E557A; line-height:120%;}
.titular p {font-size:30px; font-weight:bold; color:#1E557A; line-height:120%;}
.bajada {margin:0 0 8px; font-size:15px; font-weight:normal; color:#4D4D4D; line-height:130%;}
.bajada p {margin:0; font-size:15px; font-weight:normal; color:#4D4D4D; line-height:130%;}

.texto, .texto p {font-family:Arial,Tahoma,Verdana,Helvetica,sans-serif; font-size:11px; color:#28231F; line-height:150%; margin:8px 0 15px 0; padding:0px;}
.texto a {font-family:Arial,Tahoma,Verdana,Helvetica,sans-serif; font-size:11px;}

.cerrar {margin:15px 0 0; padding:0 0 15px 20px; font-size:11px; font-weight:bold; color:#ff4D4D4D0;}
.cerrar a {font-size:11px; font-weight:bold; color:#ff4D4D4D0; text-decoration:none;}
.cerrar a:hover {color:#ff4D4D4D0; text-decoration:underline;}

/*Estilos articulo GALERIA*/
.imagen {width:146px; padding:10px 0 0; overflow:hidden; text-align:center;}
.imagen .foto {border:6px solid #A59F98; margin:10px 0 5px 0px; clear:both;}
.imagen p {margin:0 20px 0 20px; font-size:11px;}
.imagen a {color:#4D4D4D; font-size:11px; font-weight:normal;}
.imagen a:hover {color:#ff4D4D4D0; text-decoration:none;}
.tablaGal {margin-bottom:15px; margin-left:15px;}
.tablaGal td .foto {border:6px solid #A59F98; margin:10px 0 5px 0; clear:both;}
.tablaGal td p {margin:0 20px; font-size:11px;}
.tablaGal td a {color:#4D4D4D; font-size:11px; font-weight:normal;}
.tablaGal td a:hover {color:#ff4D4D4D0; text-decoration:none;}
.text {width:100px; clear:both;}
.text img {margin:0;}

/*-------------------oo------------------------*/

/* CUERPO DEL ARTICULO */
p {font-size:12px; font-weight:normal; color:#4D4D4D;}
.CUERPO p, .CUERPO {font-size:13px; font-weight:normal; color:#4D4D4D; line-height:140%; text-align:justify;} /* Esto es solo para que funcione el +/- letra */
.CUERPO ul, .CUERPO p ul {margin-top:8px; margin-left:50px; line-height:140%; font-size:13px; color:#4D4D4D;}
.CUERPO ul li, .CUERPO p ul li {list-style-type:square; line-height:140%; font-size:13px; color:#4D4D4D;}
.CUERPO ol, .CUERPO p ol {margin-top:8px; margin-left:50px; line-height:140%; font-size:13px; color:#4D4D4D;}
.CUERPO ol li, .CUERPO p ol li {list-style-type:decimal; line-height:124%; font-size:13px; color:#4D4D4D; padding:8px 0;}
.CUERPO blockquote {margin-left:15px;}
.CUERPO {margin:10px 0 0 0; padding:0 0 20px; font-size:13px; font-weight:normal; color:#4D4D4D; line-height:124%; text-align:justify;}
.CUERPO table, .CUERPO table td {border-collapse:collapse; padding:5px; font-size:11px; color:#333;}
.CUERPO a {font-size:13px; color:#336633; font-weight:bold;}
.CUERPO a:hover, .CUERPO * a:hover {color:#004D95; text-decoration:underline;}
.CUERPO strong, .CUERPO b {font-weight:bold;}
.CUERPO sup {font-size:10px;}

/*-------------------oo------------------------*/

/*FORMATO VTXT*/
.CUERPO h1 {font-size:18px; font-weight:normal; color:#934D4D4D0;}
.CUERPO h2 {font-size:15px; font-weight:bold; color:#4D4D4D;}
.CUERPO h3 {font-size:12px; font-weight:bold; color:#4D4D4D;}
.CUERPO h4 {font-size:11px; font-weight:bold; color:#1C2B45;}
.CUERPO h5 {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:10px; font-weight:bold; color:#1C2B45;}
.CUERPO h6 {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:9px; font-weight:bold; color:#1C2B45;}
.CUERPO address {font-size:12px; font-weight:normal; color:#4D4D4D; font-style:italic;}
.CUERPO pre {font-size:11px; font-weight:normal; color:#4D4D4D; text-align:justify; text-indent:10px;}
.CUERPO .td-estilo-fondogris {background-color:#ededed;}
.CUERPO .td-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}
.CUERPO .td-estilo-fondoceleste {color:#FCFCFC; font-weight:bold; background-color:#01a4c9;}
.CUERPO .tr-estilo-fondogris {background-color:#ededed;}
.CUERPO .tr-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}
.CUERPO .tr-estilo-fondoceleste {color:#FCFCFC; font-weight:bold; background-color:#01a4c9;}

/*-------------------oo------------------------*/

/*vtxt*/
.CUERPO .subtit /* subtitulos */ {font-size:16px; font-weight:bold; color:#0369A6; line-height:110%; text-decoration:none; display:table; width:100%; margin:0 0 8px 0; padding:18px 0 8px 0; border-bottom:1px solid #E5E5E5;}
.CUERPO .subtitsinlink /* subtitulos extra */ {font-size:16px; font-weight:bold; color:#0369A6; line-height:110%; text-decoration:none; display:table; width:100%; margin:0 0 8px 0; padding:18px 0 8px 0; border-bottom:1px solid #E5E5E5;}
.CUERPO .piefoto /* pies de fotos */ {color:#666666; font-size:10px; }
.CUERPO .resalta /* texto resaltado */ {font-size:11px; font-weight:bold; color:#353535; font-style:italic;}
.CUERPO .amarillo /* texto amarillo */ {color:#F8DA07;}
.CUERPO .azul     /* texto azul */   {color:#003366;}
.CUERPO .azuldestacado     /* texto azul destacado */  {color:#003366; font-weight:bold;}
.CUERPO .blanco   /* texto blanco */ {color:#FCFCFC;}
.CUERPO .negro    /* texto negro */  {color:#4D4D4D;}
.CUERPO .rojo     /* texto rojo */   {color:#CC4D4D4D0;}
.CUERPO .naranjo  /* texto naranjo */  {color:#FF64D4D4D;}
.CUERPO .verde    /* texto verde */  {color:#339900;}
.CUERPO .gris     /* texto gris */  {color:#5C5C5C;}
/*/vtxt*/

/*vtxt_table*/
.CUERPO .table-right {float:right;}
.CUERPO .table-left {float:left;}
.CUERPO .table-center {margin:auto;}
/*/vtxt_table*/

/*vtxt_tr*/
.CUERPO .tr-estilo-fondogris {background-color:#ededed;}
.CUERPO .tr-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}
.CUERPO .tr-estilo-fondoceleste {color:#FCFCFC; font-weight:bold; background-color:#01a4c9;}
/*/vtxt_tr*/

/*vtxt_td*/
.CUERPO .td-estilo-fondogris {background-color:#ededed;}
.CUERPO .td-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}
.CUERPO .td-estilo-fondoceleste {color:#FCFCFC; font-weight:bold; background-color:#01a4c9;}
/*/vtxt_td*/

/* estilos obligatorios para tablas en vtxt */
.CUERPO table {margin:3px; padding:2px; border-collapse:collapse; empty-cells:show;}
.CUERPO td {margin:1px; padding:2px; border:0px solid #d9d9d9; border-collapse:collapse;}
.CUERPO img {margin:3px;}
/*-------------------oo------------------------*/


/*FIN*/