/* CSS Document - MSGG*/
/*** GALERIA DE FOTOS ***/

/* BLOQUE PRINCIPAL MAIN*/
#main #cont-center {width:980px; margin:0 auto; padding:0; clear:both;}

/*-------------------oo------------------------*/

/*Rótulo*/
h1.rotulo {margin:0 0 5px; padding:0 0 10px; font-size:16px; color:#666; font-weight:normal; text-transform:uppercase;}
h1.rotulo p {margin:0; font-size:16px; color:#666; font-weight:normal;}

/*AREA 1 - dentro de cont-center*/
/*Galeria*/
#cont-center .cont-foto {width:215px; height:200px; margin:0 20px 15px 0; float:left; text-align:right; background-color:#eef2f4; }
#cont-center .cont-foto .rec {width:180px; padding:15px 0 0 0; margin:0 auto;}
#cont-center .cont-foto .rec .foto {width:150px; padding:0; float:left; margin:0 auto;}
#cont-center .cont-foto .rec img {border:none;}
#cont-center .cont-foto .titular {width:180px; margin:5px 0 0 18px; font-size:11px; line-height:160%; text-align:left;}
#cont-center .cont-foto .titular a {font-size:11px; font-weight:normal; color:#003366;}
#cont-center .cont-foto .titular a:hover {color:#cc0000;}
#cont-center .cont-foto .rec .link {width:30px; margin:0; padding:0; float:right;}

/*FIN*/