/*
ARTICULO GALERIA
*/
/*-------------------oo------------------------*/

/*APARIENCIA*/
#gallery {width:680px; margin:10px auto 25px; background:#F5F5F5;}
#gallery .gal-left {width:515px; float:left; overflow:hidden;}
#gallery div.thumbnails {width:160px; float:right; overflow:hidden; border-left:1px solid #fff;}
#gallery div.thumbnails h2 {margin:5px; padding:0 0 5px; font-size:11px; color:#666; text-transform:uppercase; border-bottom:1px dashed #cfcfcf; font-weight:normal;}

/*-------------------oo------------------------*/

/*MINIATURAS*/
.thumbs {margin:0px; padding:0px;}
.thumbs li {display:block; list-style:none; margin:0 0 5px 5px; padding:0px; width:75px; float:left;}
.thumbs li img {border:1px solid #FFF;}
.thumbs li.selected img {border:1px solid #125da3;}

/*-------------------oo------------------------*/

/*TEXTOS*/
#controls {background:#F5F5F5; margin:0 0 1px; font-size:11px; color:#125da3; padding:5px;}
.nav-controls {float:right; font-size:11px; color:#125da3;}
.nav-controls a {padding:2px 4px; font-size:11px; color:#125da3;}
.nav-controls a:hover {text-decoration:underline;}
/**/
#caption {width:500px;}
div.caption {margin:7px 0 0 10px; font-size:75%;}
div.caption .image-title {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:12px; color:#125da3; text-transform:uppercase;}
div.caption .image-description {color:#666; font-size:11px; margin:0 0 5px;}
/**/
.pagination {clear:both; background:#F5F5F5; margin:0 0 1px; font-size:11px; color:#125da3; padding:5px;}
.pagination a {font-size:11px; color:#125da3; display:inline; padding:0; margin:0 5px;}
.pagination a:hover {text-decoration:underline;}


/*-------------------oo------------------------*/

/*FUNCIONAMIENTO*/
#gallery .loader {width:500px; height:500px; background:url(/modelo_simple/imag/gale/loader.gif) no-repeat left center;}
#gallery .thumbs .caption {display:none;}
.caption img {border:1px solid #ccc; width:380px;height:280px; margin:2px 0px; padding:10px;}
.divMulti {display:none;}
.thumbs .caption {display:none;}
#thumbs .top, #loading {display:none;}
/**/
#slideshow {width:515px; margin:0 auto;}
#slideshow span.image-wrapper {display:block; width:500px; margin:0 auto;}

