/* CSS Document - MSGG*/
/*** Tags HTML ***/
* {font-family:Arial,Helvetica,Sans-Serif,Tahoma,Verdana; margin:0; padding:0;}
body {margin:0; padding:0; border:0; text-align:center;}
html>body {margin:0; padding:0;}
a, a:hover {text-decoration:none;}
div {overflow:hidden;}
form {margin:0; padding:0;}
img {border:0;}
.separa {clear:both; height:1px; margin:0; padding:0;}
#top {display:none;}

/*-------------------oo------------------------*/

/*ESTILO PARA BODY*/
.msgg {background:url(/modelo_simple/imag/bg/back_body.jpg) repeat-x left top #fff;}

/*-------------------oo------------------------*/

/* BLOQUES PRINCIPALES*/
#main {width:980px; text-align:left; margin:15px auto 15px;}
#head {width:980px; margin:0 auto; text-align:left; height:164px;}
#footer {width:100%; margin:0; padding:0 0 25px; background:#ecf2f8;}
#banners-accesos {width:100%; margin:0; padding:0 0 25px; background:url(/modelo_simple/imag/foot/back_footer.jpg) repeat-x left top;}

/*-------------------oo------------------------*/

/* BLOQUE PRINCIPAL HEAD*/
#head .head-left {width:415px; height:128px; float:left; margin:0;}
#head .head-right {width:450px; float:right; text-align:right;}
/*botonera*/
#head .botonera {width:980px; margin:6px auto 0;}
#head .botonera a {display:block; float:left; height:20px; font-size:14px; color:#125da3; background:none; padding:0 0 0 13px;}
#head .botonera a span {display:block; height:20px; font-size:14px; color:#125da3; background:none; text-align:center; padding:0 13px 0 0;}
#head .botonera a span span {display:block; height:20px; font-size:14px; color:#125da3; background:none; text-align:center; padding:0; line-height:20px;}
#head .botonera a:hover {font-size:14px; color:#FFF; background:url(/modelo_simple/imag/head/left_boto.gif) no-repeat left top; padding:0 0 0 13px;}
#head .botonera a:hover span {font-size:14px; color:#FFF; background:url(/modelo_simple/imag/head/right_boto.gif) no-repeat right top; text-align:center;}
#head .botonera a:hover span span {font-size:14px; color:#FFF; text-align:center; cursor:pointer; background:#125da3;}

/*-------------------oo------------------------*/
/*LOGO Y FECHA*/
#head .head-left .logo {margin:0;}
#head .head-left .hora {color:#999999; font-size:11px; margin:10px 0 0 0;}

/*links*/
#head .head-right .head-links {margin:8px 0 15px 0;}
#head .head-right, #head .head-right a {font-size:11px; color:#006699; font-weight:bold;}
#head .head-right a:hover {text-decoration:underline;}

/*SEARCH*/
#head .head-right .mod-search {width:450px; margin:20px 0 0;}
#head .head-right .mod-search table {width:260px; height:29px; margin:0 0 2px; background:url(/modelo_simple/imag/head/back_buscador.jpg) no-repeat left top;}
#head .head-right .mod-search input.campo {border:none; background:none; font-size:11px; color:#999; padding:7px;}
#head .head-right .mod-search a {font-size:10px; color:#719ec8;}
#head .head-right .mod-search a:hover {text-decoration:underline;}

/*-------------------oo------------------------*/

/* BANNERS-ACCESOS Y FOOTER*/
#banners-accesos .box-banner {width:980px; margin:0 auto; padding:25px 0 0; background:url(/modelo_simple/imag/foot/back_banner.jpg) no-repeat left top;}
#banners-accesos .box-banner .banner {float:left; width:195px; margin:0;}
/**/
#banners-accesos .box-acces {width:980px; margin:38px auto 15px; text-align:left;}
#banners-accesos .box-acces h1.rotulo {border-bottom:none !important; padding:0; font-size:11px; color:#666; text-transform:uppercase; font-weight:normal;}
#banners-accesos .box-acces .foot-left {width:335px; float:left;}
#banners-accesos .box-acces .foot-center {width:310px; float:left;}
#banners-accesos .box-acces .foot-right {width:310px; float:right;}
#banners-accesos .box-acces .area-foot {width:310px; background:#f7fafc; border-bottom:1px solid #e7e9ea;}
#banners-accesos .box-acces .area-foot .auxi {margin:14px;}
#banners-accesos .box-acces .area-foot .foto {float:left; margin:0 12px 0 0;}
#banners-accesos .box-acces .area-foot h4.titular, #banners-accesos .box-acces .area-foot h4.titular a {font-size:11px; color:#006699; text-transform:uppercase; margin:0;}
#banners-accesos .box-acces .area-foot h4.titular a:hover {color:#CC0000;}
#banners-accesos .box-acces .area-foot p.bajada {margin:5px 0 0; font-size:11px; color:#666;}
/**/
#footer .box-copyright {width:980px; margin:25px auto; text-align:center; font-size:11px; color:#999999;}
#footer .box-copyright b, #footer .box-copyright strong {font-size:12px; color:#333333; font-weight:normal; display:block; margin:15px 0 5px;}
#footer .box-copyright a {font-size:11px; color:#999999;}
#footer .box-copyright a:hover {text-decoration:underline;}

/*-------------------oo------------------------*/

/*CALENDARIO*/
form#formCalendar {width:175px; background:#fff; margin:8px 0 8px 4px;}
form#formCalendar table {width:160px; margin:8px auto;}
form#formCalendar table table.cal-tabla {width:160px; margin:0; border-collapse:collapse; font-size:11px; background:#fafafa;}
form#formCalendar table table.cal-tabla td {border-collapse:collapse; font-size:11px; padding:2px; color:#666;}
form#formCalendar table table.cal-tabla td.cal-top {background:#F0F0F0; color:#000;}
form#formCalendar table table.cal-tabla td.cal-rotulo {background:url(/modelo_simple/imag/bg/cal_azul.jpg) repeat-x left top; font-size:11px; font-weight:bold;  color:#fff; padding-top:4px; padding-bottom:4px;}
form#formCalendar table table.cal-tabla td.cal-rotulo a {font-size:10px; color:#003366;}
form#formCalendar table table.cal-tabla td.cal-rotulo span.rot {margin:0 5px;}
form#formCalendar table table.cal-tabla td.cal-rotulo a:hover {text-decoration:underline;}
form#formCalendar table table.cal-tabla td.cal-cont {color:#666; background:#fff;}
form#formCalendar table table.cal-tabla td.cal-cont a {font-weight:bold; color:#fff; background:url(/modelo_simple/imag/bg/cal_red.jpg) repeat-x left top; display:block; padding:2px;}
form#formCalendar table table.cal-tabla td.cal-cont a:hover {text-decoration:underline;}
form#formCalendar table table.cal-tabla tr.combo-fecha {background:#F0F0F0; padding:4px 0;}
form#formCalendar table table.cal-tabla .mini-cal {border:1px solid #d9d9d9; font-size:11px; color:#666;}

/*-------------------oo------------------------*/
/*MENU*/
#cont-right-port {width:240px; margin:20px 0 0; float:right; background:url(/modelo_simple/imag/bg/menu_top.jpg) no-repeat left top #FFF;}
#cont-right-port .menu-bottom {width:240px; height:15px; margin:0; background:url(/modelo_simple/imag/bg/menu_bottom.jpg) no-repeat left top #FFF;}
#cont-right-port .auxi {margin:0 15px 15px;}
#cont-right-port h1.rotulo {font-size:11px; margin:0 0 6px; padding:15px 0 6px; color:#666; text-transform:uppercase; font-weight:normal; border-bottom:1px dashed #c0c0c0;}
#cont-right-port h3.links-menu {margin:0 0 15px; background:url(/modelo_simple/imag/auxi/flecha_menu.gif) no-repeat left top;}
#cont-right-port h3.links-menu a {display:block; margin:0 0 0 10px; text-transform:uppercase; font-weight:normal; color:#125da3; font-size:11px; }
#cont-right-port h3.links-menu a:hover {color:#CC0000;}

/*-------------------oo------------------------*/

/*Rótulo Inicio*/
.box-rotulo {margin:10px 0 25px;}
.box-rotulo .breadcrumbs {font-size:11px; color:#333; text-transform:uppercase; margin:0 0 14px;}
.box-rotulo .breadcrumbs p {display:inline; font-size:11px; color:#333; font-family:Arial,Helvetica,Sans-Serif,Tahoma,Verdana;}
.box-rotulo .breadcrumbs a {color:#02507f; font-size:11px;}
.box-rotulo .breadcrumbs a:hover {color:#CC0000;}
.box-rotulo .rotulo {display:block; overflow:hidden; border-bottom:1px dashed #cfcfcf; margin:0 0 10px; padding:0 0 5px; font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#006699; text-transform:uppercase; font-size:22px; font-weight:normal;}
.box-rotulo .rotulo .volver {width:80px; float:right; margin:0 0 0 15px;}
.box-rotulo .rotulo .volver img {float:left; margin:0;}
.box-rotulo .rotulo .volver a span {line-height:25px;}
.box-rotulo .rotulo .volver a {font-size:10px; color:#999; text-transform:none;}
.box-rotulo .rotulo .volver a:hover {color:#CC0000;}
.box-rotulo p {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#666; font-size:16px; font-weight:normal;}


/*FIN*/

