/* CSS Document - MSGG*/
/*** HOME ***/

/* BLOQUE PRINCIPAL MAIN*/
#main #cont-left {width:280px; float:left;}
#main #cont-center {width:425px; float:left;}
#main #cont-right {width:240px; float:right;}
/**/
#main #cont-left .auxi-left {width:240px;}
/*-------------------oo------------------------*/

/*Rótulo*/
h1.rotulo {margin:0 0 15px; padding:0 0 10px; font-size:11px; color:#666; text-transform:uppercase; border-bottom:1px dashed #cfcfcf; font-weight:normal;}
h1.rotulo p {margin:0; font-size:11px; color:#666;}
/**/
div.rotulo {margin:0 0 15px;}
div.rotulo h1.rotulo {font-size:11px; color:#666; text-transform:uppercase; margin:0; padding:0; border:none;}
div.rotulo .links {width:305px; float:right; font-size:11px; color:#ccc; text-align:right;}
div.rotulo .links p {margin:0; font-size:11px; color:#ccc;}
div.rotulo .links a {color:#125da3; font-size:11px;}
div.rotulo .links a:hover {color:#CC0000;}
/**/
h1.rotulo-dos {width:100%; margin:0; padding:5px 0; background:#dce7f1; overflow:hidden;}
h1.rotulo-dos span {margin:12px 12px 7px; font-size:11px; color:#666; text-transform:uppercase; font-weight:normal;}
/**/
h1.rotulo-tres {margin:0 0 5px 5px; padding:0; font-size:11px; color:#666; text-transform:uppercase; font-weight:normal;}
/**/
h1.rotulo-cuatro {width:100%; margin:8px 0; padding:5px 0; background:#dce7f1; overflow:hidden; text-align:right;}
h1.rotulo-cuatro span {margin:0 8px 0; font-size:11px; color:#333; text-transform:uppercase; font-weight:normal; text-align:right;}

/*-------------------oo------------------------*/

/*Area 1 y Area 6*/
.area-uno {margin:0 0 15px; padding:0 0 10px; border-bottom:1px dashed #cfcfcf;}
.area-uno .foto {background:#f0f0f0; margin:10px 0 10px;}
.area-uno .foto img {margin:5px;}
.area-uno h2.titular, .area-uno h2.titular a {font-size:12px; color:#125da3; font-weight:bold; text-transform:uppercase;}
.area-uno h2.titular a:hover, .area-uno span a:hover {color:#CC0000; font-weight:bold;}
.area-uno h2.titular2, .area-uno h2.titular2 a {font-size:12px; color:#125da3; text-transform:uppercase; font-weight:bold;}
.area-uno h2.titular2 a:hover, .area-uno span a:hover {color:#CC0000; font-weight:bold;}
.area-uno span, .area-uno span a {color:#999; font-size:11px;}
.area-uno h3.bajada {font-size:12px; color:#666; font-weight:normal; margin:4px 0;}
#cont-right .banner {margin:8px 0 15px 0;}
/**/
.area-unob {margin:0 0 12px; background:url(/modelo_simple/imag/auxi/flecha_azul.gif) no-repeat left top;}
.area-unob h3.titular, .area-unob h3.titular a {color:#125da3; font-size:11px; font-weight:normal; margin:0 0 0 15px;}
.area-unob h3.titular a {margin:0;}
.area-unob h3.titular a:hover {color:#CC0000;}

/*-------------------oo------------------------*/

/*Área 2*/
.area-dos {margin:0 0 15px 0; background:#eef2f4; padding:15px 0;}
.area-dos .media {width:380px; margin:0 auto 5px;}
.area-dos .epigrafe {font-size:11px; color:#666; margin:0 22px;}
.area-dos h2.titular {margin:10px 22px 15px; padding:0 0 0 35px; background:url(/modelo_simple/imag/auxi/comillas1.gif) no-repeat left top;}
.area-dos h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:18px; font-weight:normal; text-transform:uppercase; margin:0;}
.area-dos h2.titular2 {margin:5px 15px 8px; padding:0 0 0 8px;}
.area-dos h2.titular2 a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:18px; font-weight:normal; text-transform:uppercase; margin:0;}
.area-dos h2.titular span {padding:0 25px 0 0; background:url(/modelo_simple/imag/auxi/comillas2.gif) no-repeat right bottom;}
.area-dos h2.titular a:hover, .area-dos h2.titular2 a:hover {color:#CC0000;}
.area-dos h3.bajada {font-size:14px; color:#666; font-weight:normal; margin:0 22px;}

/*-------------------oo------------------------*/

/*Área 3*/
.area-tres {width:425px; margin:0 0 15px; height:66px; background:url(/modelo_simple/imag/bg/back_links_ministra.jpg) no-repeat left top;}
.area-tres a {display:inline; padding:0 8px; background:url(/modelo_simple/imag/auxi/flecha_morada.gif) no-repeat left top; color:#006699; font-size:11px;}
.area-tres a:hover {text-decoration:underline;}
.area-tres .auxi {margin:22px 0 0 82px;}

/*-------------------oo------------------------*/

/*Área 5*/
.box-agenda {width:425px; margin:0 0 15px; margin:0; background:#ecf2f8;}
div.area-cinco {width:385px; margin:0 0 5px; padding:0 20px 0 20px; border-bottom:1px dotted #999999;}
div.area-cinco .dia {width:30px; float:left; margin:0 7px 0 0; text-align:center;}
div.area-cinco .dia .mes {font-size:12px; color:#0066cc; font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; text-transform:uppercase; margin:0;}
div.area-cinco .dia .nro {font-size:20px; color:#666; font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana;}
div.area-cinco h2.titular, div.area-cinco h2.titular a {font-size:11px; color:#666; font-weight:normal;}
div.area-cinco h2.titular a:hover {color:#CC0000;}
div.area-cinco .hora {font-size:11px; color:#0066cc;}
/**/
.box-agenda .vermas {float:right; margin:7px 3px 0 0;}
.box-agenda .vermas a {font-size:10px; font-weight:bold; text-transform:uppercase; color:#666;}
.box-agenda .vermas a:hover {color:#CC0000;}

/*-------------------oo------------------------*/

/*Area 7*/
.area-siete {margin:0; padding:0; background:#dce7f1;}
.area-siete .auxi {margin:0 12px 12px;}
.area-siete .foto {float:left; margin:0 10px 0 0;}
.area-siete .foto img {border:3px solid #fff;}
.area-siete h2.titular, .area-siete h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:11px; color:#125da3; text-transform:uppercase; font-weight:normal;}
.area-siete h2.titular a:hover {color:#CC0000; font-weight:normal;}

/*-------------------oo------------------------*/

/*Area 8*/
#box-alert {width:100%; height:65px; margin:0; background:url(/modelo_simple/imag/bg/back_alerta.jpg) repeat-x left top; text-align:Left;}
#box-alert .auxi {width:980px; margin:13px auto;}
#box-alert .area {width:720px; margin:0 auto; background:url(/modelo_simple/imag/auxi/flecha_alert.gif) no-repeat left top;}
#box-alert h2 {font-size:12px; font-weight:bold; color:#FFF; text-transform:uppercase; margin:0 0 3px 28px;}
#box-alert h2 a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:12px; font-weight:normal; color:#FFF; text-transform:uppercase;}
#box-alert h2 a:hover {text-decoration:underline;}
#box-alert h3.epigrafe {font-size:12px; color:#ededed; font-weight:normal; margin:0 0 0 28px;}
#box-alert .vermas {width:96px; height:18px; float:right; background:url(/modelo_simple/imag/bg/back_boto77.gif) no-repeat right top; margin:10px 0 0;}
#box-alert .vermas a {margin:3px 0 0 39px; display:block; color:#125da3; font-size:11px;}
#box-alert .vermas a:hover {color:#CC0000;}
#box-alert #cerrar {width:80px; height:19px; float:right; margin:0; background:url(/modelo_simple/imag/bg/back_cerrar.gif) no-repeat left top;}
#box-alert #cerrar a {line-height:20px; font-size:11px; color:#125da3; margin:0 0 0 19px;}
#box-alert #cerrar a:hover {text-decoration:underline;}
/**/