/* CSS Document - MSGG*/
/*** OFICINAS MINISTERIALES ***/
.box-scroll {width:660px; height:180px; overflow:auto; background-color:#eef2f4;}
.box-scroll .boton {width:454px; margin:30px auto 0 auto;}

/*-------------------oo------------------------*/

.box-scroll h1.titular {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:21px; color:#125da3; font-weight:normal; margin:0; padding:0;}
.box-scroll h2.bajada {font-size:14px; color:#999; text-align:justify; margin:4px 0 15px; line-height:20px;}

/* CUERPO DEL ARTICULO */
.CUERPO p {font-size:12px; margin:0 0 15px; font-weight:normal; color:#666; line-height:160%; text-align:justify;} /* Esto es solo para que funcione el +/- letra */
.CUERPO ul, .CUERPO p ul {margin-top:8px; margin-left:50px; line-height:160%; font-size:12px; color:#666;}
.CUERPO ul li, .CUERPO p ul li {list-style-type:square; line-height:160%; font-size:12px; color:#666;}
.CUERPO ol, .CUERPO p ol {margin-top:8px; margin-left:50px; line-height:160%; font-size:12px; color:#666;}
.CUERPO ol li, .CUERPO p ol li {list-style-type:decimal; line-height:124%; font-size:12px; color:#666; padding:2px 0;}
.CUERPO blockquote {margin-left:15px;}
.CUERPO {border-top:1px dashed #cfcfcf; font-weight:normal; margin:8px 0 0 0; padding:10px 0 0; font-size:12px; font-weight:normal; color:#666; line-height:124%; text-align:justify;}
.CUERPO table, .CUERPO table td {border-collapse:collapse; padding:5px; font-size:12px; color:#666;}
.CUERPO a {font-size:12px; color:#0f1281; font-weight:bold; }
.CUERPO a:hover, .CUERPO * a:hover {color:#CC0000; text-decoration:none;}
.CUERPO strong, .CUERPO b {font-weight:bold;}
.CUERPO sup {font-size:10px;}

/*-------------------oo------------------------*/

/*FORMATO VTXT*/
.CUERPO h1 {font-size:18px; font-weight:normal; color:#4D4D4D;}
.CUERPO h2 {font-size:15px; font-weight:bold; color:#4D4D4D;}
.CUERPO h3 {font-size:12px; font-weight:bold; color:#4D4D4D;}
.CUERPO h4 {font-size:11px; font-weight:bold; color:#1C2B45;}
.CUERPO h5 {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:10px; font-weight:bold; color:#1C2B45;}
.CUERPO h6 {font-family:Tahoma,Verdana,Arial,Helvetica,Sans-Serif; font-size:9px; font-weight:bold; color:#1C2B45;}
.CUERPO address {font-size:12px; font-weight:normal; color:#4D4D4D; font-style:italic;}
.CUERPO pre {font-size:11px; font-weight:normal; color:#4D4D4D; text-align:justify; text-indent:10px;}
.CUERPO .td-estilo-fondogris {background-color:#f6f6f6;}
.CUERPO .td-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}
.CUERPO .td-estilo-fondoceleste {color:#FCFCFC; font-weight:bold; background-color:#01a4c9;}
.CUERPO .tr-estilo-fondogris {background-color:#ededed;}
.CUERPO .tr-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}
.CUERPO .tr-estilo-fondoceleste {color:#FCFCFC; font-weight:bold; background-color:#01a4c9;}

/*-------------------oo------------------------*/

/*vtxt*/
.CUERPO .subtit /* subtitulos */ {font-family:Myriad Pro,Myriad,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:20px; color:#0369a6; line-height:110%; text-decoration:none; display:table; width:100%; margin:0 0 8px 0; padding:18px 0 8px 0; border-bottom:1px solid #c3c3c3;}
.CUERPO .subtitsinlink /* subtitulos extra */ {font-size:14px; font-weight:normal; color:#1b92b4; line-height:110%; text-decoration:none; display:table; width:100%; margin:0 0 8px 0; padding:18px 0 8px 0;}
.CUERPO .piefoto /* pies de fotos */ {color:#666666; font-size:11px; }
.CUERPO .resalta /* texto resaltado */ {font-size:11px; font-weight:bold; color:#353535; font-style:italic;}
.CUERPO .amarillo /* texto amarillo */ {color:#F8DA07;}
.CUERPO .azul     /* texto azul */   {color:#003366;}
.CUERPO .celeste     /* texto celeste */   {color:#0389A7;}
.CUERPO .azuldestacado     /* texto azul destacado */  {color:#003366; font-weight:bold;}
.CUERPO .blanco   /* texto blanco */ {color:#FCFCFC;}
.CUERPO .rojo     /* texto rojo */   {color:#cc0000;}
.CUERPO .naranjo  /* texto naranjo */  {color:#ff6600;}
.CUERPO .naranjo  /* texto naranjo */  {color:#4D4D4D;}
.CUERPO .verde    /* texto verde */  {color:#339900;}
.CUERPO .gris     /* texto gris */  {color:#5C5C5C;}
/*/vtxt*/

/*vtxt_table*/
.CUERPO .table-right {float:right;}
.CUERPO .table-left {float:left;}
.CUERPO .table-center {margin:auto;}
/*/vtxt_table*/

/*vtxt_tr*/
.CUERPO .tr-estilo-fondogris {background-color:#f6f6f6;}
.CUERPO .tr-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}
.CUERPO .tr-estilo-fondoceleste {color:#FCFCFC; font-weight:bold; background-color:#01a4c9;}
/*/vtxt_tr*/

/*vtxt_td*/
.CUERPO .td-estilo-fondogris {background-color:#f6f6f6;}
.CUERPO .td-estilo-fondoazul {background-color:#1C2B45; color:#FCFCFC; font-weight:bold;}
.CUERPO .td-estilo-fondoceleste {color:#FCFCFC; font-weight:bold; background-color:#01a4c9;}
/*/vtxt_td*/

/* estilos obligatorios para tablas en vtxt */
.CUERPO table {margin:3px; padding:2px; border-collapse:collapse; empty-cells:show;}
.CUERPO td {margin:1px; padding:2px; border:0px solid #d9d9d9; border-collapse:collapse;}
.CUERPO img {margin:3px;}

.CUERPO .table-datos {margin:3px; padding:0; border-collapse:collapse; empty-cells:show;}
.CUERPO .table-datos td {margin:1px; padding:2px; border-bottom:1px solid #d9d9d9; border-collapse:collapse;}
.CUERPO .table-datos img {margin:0px;}

.CUERPO .table2 {margin:0; padding:0; border:1px solid #FCFCFC; border-collapse:collapse;}
.CUERPO .table2 td {margin:0; padding:2px 0; border:1px solid #FCFCFC; border-collapse:collapse;}
.CUERPO .table2 img {margin:0px;}


/*-------------------oo------------------------*/


/*FIN*/