/* CSS Document - MSGG*/
/*** OFICINAS MINISTERIALES ***/

/* BLOQUE PRINCIPAL MAIN*/
#main #cont-left {width:730px; float:left;}
#main #cont-right-port {width:240px; float:right;}
/**/
#main .cont-center {width:700px; height:410px; margin:0 auto; padding:0; clear:both;  background:url(/modelo_simple/imag/bg/mapa_oficinas.gif) no-repeat left top;}

/*-------------------oo------------------------*/

/*Rótulo*/
h1.rotulo {margin:0 0 5px; padding:0 0 10px; font-size:16px; color:#666; font-weight:normal; text-transform:uppercase;}
h1.rotulo p {margin:0; font-size:16px; color:#666; font-weight:normal;}

/*mapa*/
.mapa-oficinas {width:700px; margin:0 auto; padding:0; clear:both;}

/*iframe*/
.cont-oficinas {width:660px; margin:15px auto; padding:0; clear:both; }


/*FIN*/