/*Para RSS*/

rss {
	display: block;
	font-family: verdana, arial;
}
channel {display:block; margin:15px;}

title {display:block; font-size:14px; font-weight:bold; color:#930000;	border-bottom: 1px solid #666;}

link {display:block; font-size:11px; color:#1C2B45;}

image {display:block; margin:0 0 10px;}

item {
	display: block;
	padding: 0 0 10px;
	margin: 15px 0 0;
}
fecha {display:block; font-size:10px; font-weight:normal; color:#666666;}
description {display:block; font-size:12px; font-weight:normal; color:#333333;}

/* Elementos ocultos */
language, lastBuildDate, ttl, guid, category, pubDate, generator {
	display: none;
}

h3, h3 a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:12px; text-transform:uppercase;}

/*FIN*/