/* CSS Document - MSGG*/
/*** MINISTERIO ***/

/* BLOQUE PRINCIPAL MAIN*/
#main #cont-left {width:730px; float:left;}
#main #cont-right-port {width:240px; float:right;}
/**/
#main #cont-left .col340 {width:340px; float:left;}
#main #cont-left .left {float:left;} 
#main #cont-left .right {float:right;} 
/*-------------------oo------------------------*/

/*Rótulo*/
.right h1.rotulo {margin:0 0 5px; padding:0 0 10px; font-size:11px; color:#666; text-transform:uppercase; border-bottom:1px dashed #cfcfcf; font-weight:normal;}
.right h1.rotulo p {margin:0; font-size:11px; color:#666;}
.left h1.rotulo {margin:0; padding:0 0 10px; font-size:11px; color:#666; text-transform:uppercase; border-bottom:0px dashed #cfcfcf; font-weight:normal;}
.left h1.rotulo p {margin:0; font-size:11px; color:#666;}

/*-------------------oo------------------------*/

/*Area 2*/
.area-dos {margin:0; padding:0; background:#f0f0f0;}
.area-dos .foto {margin:0; display:block; float:left;}
.area-dos .foto img {margin:5px;}
.area-dos .auxi {margin:0 15px 0;}
.area-dos h2.titular, .area-dos h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:12px; color:#125da3; text-transform:uppercase; font-weight:normal;}
.area-dos h2.titular a:hover, .area-dos span a:hover {color:#CC0000; font-weight:normal;}
.area-dos span, .area-dos span a {color:#006699; font-size:12px;}
.area-dos p.bajada {font-family:Arial,Georgia,Helvetica,Sans-Serif,Tahoma,Verdana; color:#666666; font-size:11px; font-weight:normal; padding:0 0 3px 0;}
.area-dos .fecha {font-family:Arial,Georgia,Helvetica,Sans-Serif,Tahoma,Verdana; color:#666666; font-size:11px; font-weight:normal; font-style:italic; line-height:18px;}
.area-dos .separa2 {margin:8px 0 8px 0;}
.area-dos h3.titular, .area-dos h3.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:12px; color:#125da3; text-transform:uppercase; font-weight:normal;}
.area-dos h3.titular a:hover, .area-dos span a:hover {color:#CC0000; font-weight:normal;}

/**/
.area-dosc {margin:0; padding:0; background:#f0f0f0;}
.area-dosc .foto {background:#f0f0f0; margin:0; display:block; float:left;}
.area-dosc .foto img {margin:5px;}
.area-dosc .auxi {margin:0 15px 0;}
.area-dosc h2.titular, .area-dosc h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:18px; color:#125da3; text-transform:uppercase; font-weight:normal;}
.area-dosc h2.titular a:hover, .area-dosc span a:hover {color:#CC0000; font-weight:normal;}
.area-dosc span, .area-dosc span a {color:#006699; font-size:12px;}
.area-dosc .vermas {margin:0;}
.area-dosc .vermas a {color:#006699; font-size:12px; margin:0;}
.area-dosc .vermas a:hover {color:#CC0000;}
.area-dosc .separa2 {margin:8px 0 8px 0;}
/**/


/*-------------------oo------------------------*/
/*Área 3*/
.area-tres {margin:0 0 15px;}
.area-tres .foto {float:left; margin:0 10px 0 0;}
.area-tres h2.titular {margin:0;}
.area-tres h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:18px; font-weight:normal;}
.area-tres h2.titular a:hover {color:#CC0000;}
.area-tres p.bajada {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#666666; font-size:14px; font-weight:normal;}
.area-tres .vermas {margin:0;}
.area-tres .vermas a {color:#006699; font-size:12px; margin:0;}
.area-tres .vermas a:hover {color:#CC0000;}

/*-------------------oo------------------------*/

/*Área 4*/
.area-cuatro {margin:0 0 12px;}
.area-cuatro h2.titular {margin:0 0 10px; background:url(/modelo_simple/imag/auxi/flecha_ministerio.gif) no-repeat left 5px;}
.area-cuatro h2.titular a {display:block; color:#006699; font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-weight:normal; font-size:12px; margin:0 0 0 12px; }
.area-cuatro h2.titular a:hover {color:#CC0000;}
.area-cuatro span, .area-cuatro span a {color:#006699; font-size:12px;}
.area-cuatro span, .area-cuatro span a:hover {color:#CC0000;}

/*-------------------oo------------------------*/

/*FIN*/