/* CSS Document - MSGG*/
/*** MINISTERIO ***/

/* BLOQUE PRINCIPAL MAIN*/
#main #cont-left {width:730px; float:left;}
#main #cont-right-port {width:240px; float:right;}
/**/
#main #cont-left .col340 {width:340px; float:left;}
#main #cont-left .left {float:left;} 
#main #cont-left .right {float:right;} 
/*-------------------oo------------------------*/

/*Rótulo*/
h1.rotulo {margin:0 0 5px; padding:0 0 10px; font-size:11px; color:#666; text-transform:uppercase; border-bottom:1px dashed #cfcfcf; font-weight:normal;}
h1.rotulo p {margin:0; font-size:11px; color:#666;}


/*-------------------oo------------------------*/

/*Area 2*/
.area-dos {margin:0; padding:0;}
.area-dos .foto {margin:0; display:block; float:left;}
.area-dos .foto img {margin:5px;}
.area-dos .auxi {margin:0 0 20px 0;}
.area-dos h2.titular, .area-dos h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:12px; color:#125da3; text-transform:uppercase; font-weight:normal;}
.area-dos h2.titular a:hover, .area-dos span a:hover {color:#CC0000; font-weight:normal;}
.area-dos span, .area-dos span a {color:#006699; font-size:12px;}
.area-dos p.bajada {font-family:Arial,Georgia,Helvetica,Sans-Serif,Tahoma,Verdana; color:#666666; font-size:11px; font-weight:normal; padding:0 0 3px 0;}
.area-dos .fecha {font-family:Arial,Georgia,Helvetica,Sans-Serif,Tahoma,Verdana; color:#666666; font-size:11px; font-weight:normal; font-style:italic; line-height:18px;}
.area-dos .separa2 {margin:8px 0 8px 0;}
.area-dos h3.titular, .area-dos h3.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:11px; color:#125da3; text-transform:uppercase; font-weight:normal; padding:0 0 20px 0; text-align:right;}
.area-dos h3.titular a:hover, .area-dos span a:hover {color:#CC0000; font-weight:normal;}

/**/


/*-------------------oo------------------------*/


/*FIN*/