/* CSS Document - MSGG*/
/*** NOTICIAS SUBSECRETARIO ***/

/* BLOQUE PRINCIPAL MAIN*/
#main #cont-left {width:710px; float:left;}
#main #cont-right-port {width:240px; float:right;}
/*auxi*/
.fl-left {float:left;}
.fl-right {float:right;}
/**/
.col345-left {width:340px; float:left;}
.col345-right {width:340px; float:right;}

/*-------------------oo------------------------*/

/*Rótulo*/
h1.rotulo {margin:0 0 15px; display:block; overflow:hidden; padding:0 0 20px; font-size:11px; color:#666; text-transform:uppercase; border-bottom:1px dashed #cfcfcf; font-weight:normal;}
h1.rotulo p {margin:0; font-size:11px; color:#666;}

/**/

/*-------------------oo------------------------*/

/*Area 2*/
.area-dos {margin:0 0 20px; background:#eef2f4;}
.area-dos .auxi {margin:15px;}
.area-dos .foto {float:left; margin:0 20px 0 0;}
.area-dos .fecha {font-size:12px; color:#666; margin:0 0 5px;}
.area-dos h2.titular {margin:0 0 5px;}
.area-dos h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:18px; font-weight:normal; text-transform:uppercase; margin:0;}
.area-dos h2.titular a:hover {color:#CC0000;}
.area-dos p.bajada {font-size:12px; color:#666; margin:0; line-height:16px; text-align:justify;}
.area-dos span, .area-dos span a {color:#006699; font-size:12px;}

/*-------------------oo------------------------*/





/*FIN*/