/* CSS Document - MSGG*/
/*** MINISTERIO ***/

/* BLOQUE PRINCIPAL MAIN*/
#main #cont-left {width:730px; float:left;}
#main #cont-right-port {width:240px; float:right;}
/**/
#main #cont-left .col460 {width:460px; float:left;}
#main #cont-left .col240 {width:240px; float:right;} 
/*-------------------oo------------------------*/

/*Rótulo*/
h1.rotulo {margin:0 0 5px; padding:0 0 10px; font-size:11px; color:#666; text-transform:uppercase; border-bottom:1px dashed #cfcfcf; font-weight:normal;}
h1.rotulo p {margin:0; font-size:11px; color:#666;}

/*-------------------oo------------------------*/

/*Área 2*/
.area-dos {margin:0; background:#eef2f4;}
.area-dos .auxi {margin:15px;}
.area-dos .foto {margin:0 0 5px;}
.area-dos h2.titular {margin:0 0 10px;}
.area-dos h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:18px; font-weight:normal; text-transform:uppercase; margin:0;}
.area-dos h2.titular a:hover {color:#CC0000;}
.area-dos p.bajada {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#666666; font-size:12px; font-weight:normal; margin:0;}

/*-------------------oo------------------------*/

/*Área 3*/
.area-tres {margin:0; background:#eef2f4;}
.area-tres .auxi {margin:0 15px 10px;}
.area-tres h3.titular {margin:0; background:url(/modelo_simple/imag/auxi/flecha_ministerio.gif) no-repeat left 5px;}
.area-tres h3.titular a {display:block; color:#006699; font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; text-transform:uppercase; font-size:12px; margin:0 0 0 12px; font-weight:normal;}
.area-tres h3.titular a:hover {color:#CC0000;}

/*-------------------oo------------------------*/

/*Área 4*/
.area-cuatro {margin:0 0 15px;}
.area-cuatro .foto {float:left; margin:0 10px 0 0;}
.area-cuatro h2.titular {margin:0;}
.area-cuatro h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:18px; font-weight:normal;}
.area-cuatro h2.titular a:hover {color:#CC0000;}
.area-cuatro p.bajada {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#666666; font-size:14px; font-weight:normal;}
.area-cuatro .vermas {margin:0;}
.area-cuatro .vermas a {color:#999; font-size:11px; margin:0;}
.area-cuatro .vermas a:hover {color:#CC0000;}

/*-------------------oo------------------------*/

/*Área 5*/
.area-cinco {margin:0 0 12px;}
.area-cinco h2.titular {margin:0; background:url(/modelo_simple/imag/auxi/flecha_ministerio.gif) no-repeat left 5px;}
.area-cinco h2.titular a {display:block; color:#006699; font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:12px; margin:0 0 0 12px; font-weight:normal;}
.area-cinco h2.titular a:hover {color:#CC0000;}

/*-------------------oo------------------------*/

/*FIN*/