/* CSS Document - MSGG*/
/*** NOTICIAS SUBSECRETARIO ***/

/* BLOQUE PRINCIPAL MAIN*/
#main #cont-left {width:710px; float:left;}
#main #cont-right-port {width:240px; float:right;}
/*auxi*/
.fl-left {float:left;}
.fl-right {float:right;}
/**/
.col345-left {width:340px; float:left;}
.col345-right {width:340px; float:right;}

/*-------------------oo------------------------*/

/*Rótulo*/
h1.rotulo {margin:0 0 15px; display:block; overflow:hidden; padding:0 0 20px; font-size:11px; color:#666; text-transform:uppercase; border-bottom:1px dashed #cfcfcf; font-weight:normal;}
h1.rotulo p {margin:0; font-size:11px; color:#666;}

/**/
.col345-right h1.rotulo  {margin:0 0 15px; display:block; overflow:hidden; padding:0 0 5px; font-size:11px; color:#666; text-transform:uppercase; border-bottom:0px dashed #cfcfcf; font-weight:normal;}
.col345-right h1.rotulo p {margin:0; font-size:11px; color:#666;}

/*-------------------oo------------------------*/

/*Area 2*/
.area-dos {margin:0 0 20px; background:#eef2f4;}
.area-dos .auxi {margin:15px;}
.area-dos .media {float:left; margin:0 20px 0 0;}
.area-dos .fecha {font-size:12px; color:#666; margin:0 0 5px;}
.area-dos h2.titular {margin:0 0 5px;}
.area-dos h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:18px; font-weight:normal; text-transform:uppercase; margin:0;}
.area-dos h2.titular a:hover {color:#CC0000;}
.area-dos p.bajada {font-size:12px; color:#666; margin:0; line-height:16px; text-align:justify;}

/*-------------------oo------------------------*/

/*Área 3*/
.area-tres {margin:0 0 20px;}
.area-tres .foto {float:left; margin:0 10px 20px 0;}
.area-tres h2.titular {margin:0 0 5px;}
.area-tres h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:12px; font-weight:bold; text-transform:uppercase; margin:0; line-height:18px;}
.area-tres h2.titular a:hover {color:#CC0000;}
.area-tres span {font-size:11px; color:#999999;}

/*-------------------oo------------------------*/

/*Área 4*/
.area-cuatro {margin:0 0 20px; background:#f0f0f0;}
.area-cuatro .auxi {margin:15px;}
.area-cuatro h2.titular {margin:0;}
.area-cuatro h2.titular a {display:block; font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#666666; font-size:16px; margin:5px 0 0 0; font-weight:normal;}
.area-cuatro h2.titular a:hover {color:#CC0000;}
.area-cuatro .cuerpo {display:block; font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:12px; margin:5px 0 5px 0; font-weight:normal;}
.area-cuatro .vermas {margin:0 0 5px 0;}
.area-cuatro .vermas a {font-family:Arial,Georgia,Helvetica,Sans-Serif,Tahoma,Verdana; color:#006699; font-size:11px; margin:0;}
.area-cuatro .vermas a:hover {color:#CC0000;}

/*-------------------oo------------------------*/

/*Área 5*/
.area-cinco {margin:20px 0 20px 0; background:#f0f0f0;}
.area-cinco .auxi {margin:15px;}
.area-cinco .foto {float:left; margin:0 10px 0 0; border:3px solid #fff;}
.area-cinco h2.titular {margin:0 0 5px;}
.area-cinco h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:12px; font-weight:bold; text-transform:uppercase; margin:0;}
.area-cinco h2.titular a:hover {color:#CC0000;}
.area-cinco span {font-size:11px; color:#666;}
.area-cinco p.bajada {font-size:12px; color:#666; margin:0; line-height:16px; text-align:justify;}

/*-------------------oo------------------------*/


/*FIN*/