/* CSS Document - MSGG*/
/*** NOTICIAS SUBSECRETARIO - NOTICIAS MINISTRA - NOTICIAS DOS - NOTICIAS REGIONALES - SALA DE PRENSA ***/

/* BLOQUE PRINCIPAL MAIN*/
#main #cont-left {width:710px; float:left;}
#main #cont-right-port {width:240px; float:right;}
/*auxi*/
.fl-left {float:left;}
.fl-right {float:right;}
/**/
.col345-left {width:340px; float:left;}
.col345-right {width:340px; float:right;}
/**/
.col380-left {width:380px; float:left;}
.col280-right {width:280px; float:right;}

/*-------------------oo------------------------*/

/*Rótulo*/
h1.rotulo {margin:20px 0 15px; display:block; overflow:hidden; padding:0 0 5px; font-size:11px; color:#666; text-transform:uppercase; border-bottom:1px dashed #cfcfcf; font-weight:normal;}
h1.rotulo p {margin:0; font-size:11px; color:#666;}
/**/
div.rotulo {margin:0 0 5px;}
div.rotulo h1.rotulo {font-size:12px; color:#666; text-transform:uppercase; margin:0; padding:0; border:none;}
div.rotulo .links {width:305px; float:right; font-size:11px; color:#ccc; text-align:right;}
div.rotulo .links p {margin:0; font-size:11px; color:#ccc;}
div.rotulo .links a {color:#125da3; font-size:11px;}
div.rotulo .links a:hover {color:#CC0000;}
/**/
.col280-left h1.rotulo, .col360-right h1.rotulo {margin:0 0 5px; display:block; overflow:hidden; padding:0; font-size:15px; color:#808080; text-transform:none; border-bottom:none; font-weight:bold;}
.col280-left h1.rotulo p, .col360-right h1.rotulo p {margin:0; font-size:15px; color:#808080;}

/*-------------------oo------------------------*/

/*Area 2*/
.area-dos {margin:0 0 20px; background:#eef2f4;}
.area-dos .auxi {margin:15px;}
.area-dos .media {float:left; margin:0 20px 0 0;}
.area-dos .fecha {font-size:12px; color:#666; margin:0 0 5px;}
.area-dos .date {font-size:11px; color:#666; margin:0 0 5px;}
.area-dos h2.titular {margin:0 0 5px;}
.area-dos h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:18px; font-weight:normal; text-transform:uppercase; margin:0;}
.area-dos h2.titular a:hover {color:#CC0000;}
.area-dos p.bajada {font-size:12px; color:#666; margin:0; line-height:16px; text-align:justify;}

/*-------------------oo------------------------*/

/*Área 3*/
.area-tres {margin:0 0 20px;}
.area-tres .foto {float:left; margin:0 10px 0 0;}
.area-tres h2.titular {margin:0; line-height:13px;}
.area-tres h2.titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:12px; font-weight:normal; text-transform:uppercase; margin:0; line-height:14px;}
.area-tres h2.titular a:hover {color:#CC0000;}
.area-tres span.date {font-size:10px; color:#666; line-height:10px; margin:4px 0; display:block; overflow:hidden;}
.area-tres span, .area-tres span a {color:#999; font-size:11px;}

/*-------------------oo------------------------*/

/*Área 4*/
.area-cuatro {margin:0 0 10px;}
.area-cuatro h2.titular {margin:0; background:url(/modelo_simple/imag/auxi/flecha_ministerio.gif) no-repeat left 5px;}
.area-cuatro h2.titular a {display:block; color:#006699; font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:12px; margin:0 0 0 12px; font-weight:normal;}
.area-cuatro h2.titular a:hover {color:#CC0000;}
.area-cuatro .fecha {font-size:11px; color:#666; margin:0 0 0 12px;}
/*banner*/
.col280-right .banner {margin:10px 0;}

/*-------------------oo------------------------*/

/*Área 5 - Sala de Prensa*/
.area-cinco {margin:0 0 10px;}
.area-cinco .titular {margin:0; display:block; overflow:hidden; background:url(/modelo_simple/imag/auxi/flecha_ministerio.gif) no-repeat left 6px; padding:0 0 5px 12px; font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:12px;}
.area-cinco .titular a {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; color:#125da3; font-size:12px; font-weight:normal; margin:0; padding:0;}
.area-cinco .titular a:hover {color:#CC0000;}
.area-cinco .titular span.fecha {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:12px; color:#666; margin:0; padding:0; font-weight:normal;}
.area-cinco .adjuntos span, .area-cinco .adjuntos span a {color:#999; font-size:11px;}

/*area multimedia*/
.media-center {width:245px; overflow:hidden; margin:15px 0 0; padding:0; background:url(/modelo_simple/imag/mult/back_boxm.jpg) no-repeat left top;}
.media-center-foot {width:245px; height:398px; overflow:hidden; margin:0; padding:0; background:url(/modelo_simple/imag/mult/foot_boxm.gif) no-repeat left bottom;}
.media-center-top {width:245px; height:378px; overflow:hidden; margin:0 0 10px; padding:0; background:url(/modelo_simple/imag/mult/top_boxm.gif) no-repeat left top;}
.media-center-top .titular {overflow:hidden; margin:13px 15px 7px 30px; font-size:15px; color:#fcfcfc; font-weight:bold;}
.botones-media {width:243px; margin:0 0 15px; overflow:hidden;}
.botones-media .boton-foto {float:left; overflow:hidden; width:112px; height:28px; margin:0; padding:0; font-size:12px; font-weight:bold; color:#fcfcfc;}
.botones-media .boton-foto a {display:block; padding:5px; font-size:12px; font-weight:bold; color:#fcfcfc; background-color:#b0b0b0; border-top:1px solid #b9b9b9;}
.botones-media .boton-foto a:hover, .botones-media .boton-foto p {padding:5px; font-size:12px; font-weight:bold; color:#fcfcfc; background-color:#606060; border-top:1px solid #737373;}
/**/
.botones-media .boton-video {float:left; overflow:hidden; width:130px; height:28px; margin:0; padding:0; font-size:12px; font-weight:bold; color:#fcfcfc;}
.botones-media .boton-video a {display:block; padding:5px; font-size:12px; font-weight:bold; color:#fcfcfc; background-color:#b0b0b0; border-top:1px solid #b9b9b9;}
.botones-media .boton-video a:hover, .botones-media .boton-video p {padding:5px; font-size:12px; font-weight:bold; color:#fcfcfc; background-color:#606060; border-top:1px solid #737373;}
/**/
.foto-tab {position:absolute; width:243px; z-index:1; margin:0 0 0 1px; padding:0px; border:0; text-align:left;}
.video-tab {position:absolute; display:none; width:243px; z-index:1; margin:0 0 0 1px; padding:0px; border:0; text-align:left;}
/**/
.fotorama-datos {margin:5px 0 0;}
/**/
element.style {display:inline; margin:0; overflow:hidden;}

/*FIN*/