/* CSS Document - MSGG*/
/*** AUTORIDADES ***/

/* BLOQUE PRINCIPAL MAIN*/
#main #cont-left {width:710px; float:left;}
#main #cont-right-port {width:240px; float:right;}
/*auxi*/
.fl-left {float:left;}
.fl-right {float:right;}
/**/
.col280-left {width:280px; float:left;}
.col360-right {width:360px; float:right;}

/*-------------------oo------------------------*/

/*Rótulo*/
h1.rotulo {margin:0 0 15px; display:block; overflow:hidden; padding:0 0 5px; font-size:13px; color:#666; text-transform:uppercase; border-bottom:1px dashed #cfcfcf; font-weight:normal;}
h1.rotulo p {margin:0; font-size:13px; color:#666;}
/**/
.col280-left h1.rotulo, .col360-right h1.rotulo {margin:0 0 5px; display:block; overflow:hidden; padding:0; font-size:15px; color:#808080; text-transform:none; border-bottom:none; font-weight:bold;}
.col280-left h1.rotulo p, .col360-right h1.rotulo p {margin:0; font-size:15px; color:#808080;}

/*-------------------oo------------------------*/

/*Area 2*/
.area-dos {width:340px; height:215px; margin:0 0 30px; background:#eef2f4;}
.area-dos .auxi {margin:15px;}
.area-dos .foto {float:left; margin:0 8px 0 0;}
.area-dos h2.rotulo {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:16px; color:#666; font-weight:normal; display:block; overflow:hidden; margin:0 0 5px;}
.area-dos h3.titular {font-family:Georgia,Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-size:14px; color:#006699;}
.area-dos h3.titular a:hover, .area-dos .links a:hover {color:#CC0000;}
.area-dos .links {margin:10px 0 0;}
.area-dos .links a {color:#006699; display:block; margin:0 0 10px; font-size:11px;}

/*-------------------oo------------------------*/

/*Área 4 - 5*/
.area-cuatro {width:275px; margin:0 0 18px;}
.area-cuatro h2.titular, .area-cuatro h2.titular a {font-size:12px; color:#006699; margin:0;}
.area-cuatro h2.titular a:hover {color:#CC0000;}
.area-cuatro .foto {float:left; margin:3px 10px 0 0;}
.area-cuatro .texto {font-size:11px; color:#666; margin:0;}
.area-cuatro .texto p {font-size:11px; color:#666; margin:0;}
.area-cuatro .texto a {color:#006699;}
.area-cuatro .texto a:hover {color:#CC0000;}

/*-------------------oo------------------------*/


/*FIN*/