/*comentarios*/
.coment {width:100%; background:#FFFFFF; overflow:hidden; padding:15px 0 0 0; margin:50px auto 0; font-size:12px; color:#454545;}
.coment .titu {font-size:18px; overflow:hidden; color:#999999; margin:0 0 10px 15px; padding:0;}
.coment .form-coment {overflow:hidden; margin:15px 0; }
.coment .intro {margin:0; padding:0; height:66px;}
.coment .intro p {padding:28px 15px 12px 15px; margin:0; font-size:25px; color:#ff3300; font-weight:normal;}
.coment .intro p.ayuda {float:right;}
.coment .intro p.ayuda a {font-size:11px; color:#666666;}
.coment .intro p.ayuda a:hover {color:#ff6600;}
.coment .form-coment table {width:93%; margin:0 0 10px 16px; font-size:11px; color:#000000; font-weight:bold;}
.coment .form-coment .enviar {margin:5px 0;}
.coment .form-coment .restantes {font-size:11px; overflow:hidden; color:#666666; padding:0; margin:0 0 0 16px;}
.coment .campo {font-family:Arial; font-size:12px; font-weight:normal; color:#000; width:98%; clear:both; border:1px solid #cccccc; background-color:#f1e5d9; padding:5px; margin:5px 0 0 0;}
.coment .opina {width:100%; overflow:hidden; clear:both; background:#f1e5d9; padding:0; margin:0;}
.coment .opina .fecha {float:right; padding:10px 0 0 15px; overflow:hidden; font-size:10px; color:#666; font-weight:normal; margin:0;}
.coment .nick {float:left; margin:0 0 5px; padding:0 5px 0;}
.coment .nick * {margin:0px; padding:0px;}
.coment .nick, nick a {font-size:11px; color:#454545;}
.coment .nick a:hover, a.nick:hover {color:#ff6600;}
.coment .texto {font-size:12px; color:#000000; margin:0 15px; padding:15px 0;}
.coment .letras {font-size:11px; color:#666; font-weight:normal;}
.coment #opiniones {width:95%; margin:0 auto; padding:0px;}
.coment .separa_coment {width:100%; overflow:hidden; clear:both; margin:0 0 3px 0; padding:0; clear:both;}
.total {width:433px; overflow:hidden; clear:both; margin:0 0 10px 0; padding:0; clear:both; font-size:18px; color:#ff3300; font-weight:bold;}
.fin-coment {width:560px; height:15px; overflow:hidden; padding:0; margin:0 auto;}