/* TAB grises verticales en Conf. */
#tabs-config {width: 170px; margin-top:10px; position: absolute;}
.boton-gris1 a.button2 { display:block; height:30px; color:#FFFFFF; font-size:14px; font-weight:bold; margin-bottom: 3px;}
.boton-gris1 a.button2 span {background: url("../imag/boto/boto_gris2_cfg_left.jpg") no-repeat; display:block; line-height:26px; height: 30px; padding:3px 0 0 10px;}
.boton-gris1 a.button2:hover {display:block; height:30px;  color:#0097fb; font-size:14px; font-weight:bold;}
.boton-gris1 a.button2:hover span {background: url("../imag/boto/boto_gris1_cfg_left.gif") no-repeat;}
.boton-gris1 a.button2.selected { display:block; height:30px;  color:#0097fb; font-size:14px; font-weight:bold; margin-bottom: 3px;}
.boton-gris1 a.button2.selected span {background: url("../imag/boto/boto_gris1_cfg_left.gif") no-repeat; display:block; line-height:26px; height: 30px; padding:3px 0 0 10px;}
.contenido-config {width:760px; float: left; font-size: 15px; color: #888888; margin-top: 5px; border: 1px solid #f1f1f0; margin-left: 169px;}
.contenido-config .listado .tableform td {border:1px solid #f0f0f0;}
.contenido-config .listado .head td {background-color:#e0e0e0;}
.contenido-config .listado .head2 td {background-color:#c1c1c1;}
.contenido-config > div {display:none;}
.tableform td .help {font-size:12px; color:#aaaaaa;}
.tableform td .ayuda {font-size:12px; color:#aaaaaa;}


#cfg-tab1 {display:block;}
.col960 > .auxi {display:none;}
#tab7 {display:block;}

.msg-alert {width:240px; font-size:11px; color:#c00; font-weight:normal; display:none; float:right;}
.msg-alert span {font-weight:bold;}

select.disabled-field {color:#999999; background-color:#dddddd; text-decoration:line-through;}
input.disabled-field {color:#999999; background-color:#dddddd; text-decoration:line-through;}
.select-tax { width: 164px;}