.edi_ficha table tr td {text-align:left; font-size:14px; color:#333333; margin:0; padding:8px 25px 3px 0; font-weight: bold;}
.edi_ficha table tr td select {width: 130px; font-size: 14px;}
.edi_ficha table tr td input {font-size: 14px;}
.edi_ficha .rotulo {width:417px; height:25px; margin:0; padding:0; float:left; background: url("../imag/auxi/rot470_azul.jpg") no-repeat left top;}
.edi_ficha .rotulo .titulo {width:200px; float:left; font-size:15px; color:#FFFFFF; font-weight:bold; float:left; margin:0 0 0 10px; padding:5px 0 0 0;}
.edi_ficha .rotulo .flecha {width:25px; float:right; text-align:center; padding:5px 0 0 0;}
.edi_ficha .botones a.button {background: url("../imag/boto/boto_gris3_right.gif") no-repeat scroll top right;  display:block; float:left; height:26px; margin:0 3px 0 0; padding:0 10px 3px 0; color:#666666; font-size:12px; font-weight:bold;}
.edi_ficha .botones a.button span {background: url("../imag/boto/boto_gris3_left.gif") no-repeat; display:block; line-height:17px; padding:3px 0 3px 10px;}
.edi_ficha .botones a.button:hover {background: url("../imag/boto/boto_azul2_right.jpg") no-repeat scroll top right; display:block; float:left; height:26px; margin:0 3px 0 0; padding:0 10px 3px 0; color:#FFFFFF; font-size:12px; font-weight:bold;}
.edi_ficha .botones a.button:hover span {background: url("../imag/boto/boto_azul2_left.jpg") no-repeat;}
.fila_loading {display: none;}
.edi_ficha .texto-td {font-size:14px; font-weight: normal;}
.edic_msg {float:right; font-size:13px; font-weight:bold; margin-right:15px;}
.list-unstyled {list-style: none;}
.list-inline {}
.list-inline li {float: left;padding: 5px;}