/*------------------- FID -----------------------*/

.col685 .cabecera {display:none; margin:0; padding:7px 0; background-color:#fafafa; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6;}

/* Titulo */
.content .top-fid {width:100%; margin:0 0 20px 0; padding:0; float:left;}
.content .top-fid .botones {float:right; margin:5px;}
.content .top-fid .botones img {float:left; margin:0 3px 0 0;}
.content .top-fid .fieldform-top {width:540px; margin:0 10px 0 0; padding:7px 5px; font-size:22px; font-weight:normal; color:#000000; background-color:#fafaf9; border:1px solid #CCC;}
.content .top-fid .numero-id {min-width:45px; float:left; font-family:Georgia, Arial,Helvetica,Sans-Serif,Tahoma,Verdana; font-style:italic; font-size:16px; color:#999999; margin:8px 0;}
.content .top-fid .numero-id .copiar {width:24px; height:24px;}
.content .top-fid .numero-id .copiar-url {width:24px; height:24px; cursor:pointer; position:absolute; background:url(../imag/boto/copylink_of.png) no-repeat left top;}
.content .top-fid .numero-id .copiar-url.hover {background:url(../imag/boto/copylink_on.png) no-repeat left top;}
/* slug */
.content .top-fid .slug {margin-top:4px;}
.content .top-fid .slug .numero-id {font-size:12px; margin:6px 0;}
.content .top-fid .slug .fieldform-top {width:542px; float:left; margin:0 7px 0 0; padding:4px; font-size:13px; font-style:italic; font-weight:normal; color:#999999; background-color:#f4f4f4; border:1px solid #f0f0f0;}
.content .top-fid .slug .fieldform-top.active {
    background-color: #ffffff; color:#000000; border:1px solid #CCC;
}
.content .top-fid .slug img {margin-top:4px; opacity: .7;}
.content .col685 .tabs ul li {clear:none;}
.content .col685 .tabs ul {list-style:none;}

/* Estilos Para el articulo */
.tableform .nombre {text-align:left; vertical-align:middle; width:20%;}
.tableform .campo {vertical-align:middle; width:80%;}
.tableform .campo-titu-center {text-align:center; vertical-align:top;}
.tableform .campo-titu {vertical-align:top;}
.tableform .foto-recuadro {height:90px; width:90px; border:1px solid #e6e6e6; background:#FFFFFF; margin:4px 0; display:block;}
/*.tableform .check_cuadrar label {font-size:12px; font-weight:normal; color:#bbb;}*/
.tableform .ayuda {color:#aaaaaa; font-size:12px;}
.tableform .ayuda a {color:#0099ff; font-size:12px;}
.tableform .ayuda a:hover {text-decoration:underline;}
.tableform .fieldform2 {width:50%; padding:6px; font-size:12px; color:#666666; background-color:#FFFFFF; border:1px solid #CCC;}
.tableform .fieldform3 {width:70%; padding:6px; font-size:12px; color:#666666; background-color:#FFFFFF; border:1px solid #CCC;}
.tableform .fieldform4 {width:30%; padding:6px; font-size:12px; color:#666666; background-color:#FFFFFF; border:1px solid #CCC;}
.tableform .fieldform5 {width:15%; padding:6px; font-size:12px; color:#666666; background-color:#FFFFFF; border:1px solid #CCC;}
.tableform .number-list {font-size:36px; color:#ccc; text-align:right; width:80px;}
.tableform .list-odd td {background-color:#f0f0f0;}
.tableform .nombre2 {text-align:left; vertical-align:middle;}
.tableform .campo2 {vertical-align:middle;}
.tableform .table-interna {width:100%;}
.tableform .table-interna th {background-color:#aaa; border:1px solid #eee; padding:4px; text-align:center;}
.tableform .table-interna td {border:1px solid #eee; padding:2px; text-align:center;}
.tableform .table-interna td.clear {border:0px; text-align:left; padding:2px 2px 10px;}
.tableform .radio-horiz {float:left; margin-left:15px; text-align:center;}

/* estilos para las combos de taxonomia */
.tableform .tabtax {margin:0px;}
.tableform .tabtax .nivel {clear:both; padding-bottom:2px;}
.tableform .tabtax .item {float:left; margin:2px; width:165px;}
.tableform .tabtax .item select {width:164px;}

/* informacion del articulo */
.info_artic {display:none;}
#info_artic .col685 .titulo {color:#FFFFFF; font-size:14px; font-weight:bold; padding-top:5px;}
#info_artic .col685 .box-gris {width:685px;}
#info_artic .tableform .nombre {width:210px;}
#info_artic .tableform .campo {width:470px; text-align:left; font-weight:normal;}

/* informacion del articulo en conflicto */
#info_url_conflict .col685 .titulo {color:#FFFFFF; font-size:14px; font-weight:bold; padding-top:5px;}
#info_url_conflict .col685 .box-gris {width:685px;}
#info_url_conflict .tableform .nombre {width:210px;}
#info_url_conflict .tableform .campo {width:470px; text-align:left; font-weight:normal;}

/* oculta los elementos con class hide-new-artic cuando el articulo es nuevo */
.hide-new-artic {display:none;}

/* para el upload */
.upload, .ipad-mult td {vertical-align:middle;}
.upload input, .ipad-mult input {padding:5px; margin-right:2px; font-size:11px; color:#666666; background-color:#FFFFFF; border:1px solid #CCC;}
.tableform .file-link {display:block; margin:2px 0px; padding:0;}
.tableform .file-link input {vertical-align:middle;}
.tableform .file-link a {font-weight:bold; color:#0099ff;}

/* para el respaldo de archivos */
.tableform .backup-link {display:block; margin:2px 0px; padding:0;}
.tableform .backup-link input {vertical-align:middle;}
.tableform .backup-link a {font-weight:bold; color:#0099ff;}

/* link */
.tableform .fid-link a {font-weight:bold; color:#0099ff;}
.tableform .fid-item {margin:4px 2px;}

/* Para los tags en el articulo */
#_tags4fid_tag {width:120px; border:#f0f0f0 1px solid;}
#_tags4fid_tagsinput span.tag {font-size:12px; padding:3px 4px 3px 8px; margin-right:4px; margin-bottom:5px; background:#b2cce5; border:#73a1d0; color:#FFF;}
#_tags4fid_tagsinput span.tag:hover {background:#008DEB;}
#_tags4fid_tagsinput span.tag a {display:block; float:right; margin-left:4px; width:16px; height:16px; color:#FFF; background: url("../imag/boto/close-msg_of.png") no-repeat left top;}
#_tags4fid_tagsinput span.tag a:hover {background: url("../imag/boto/close-msg_on.png") no-repeat left top;}
#_tags4fid_tagsinput input {width:100px; font-size:13px; padding:2px; margin-right:4px; margin-bottom:3px; border:solid #aaa 1px;}
#lasttags {margin-top:10px;}
#lasttags div {width:168px; margin-right:6px; float:left; overflow:hidden;}
#lasttags div a {padding-left:18px; white-space:nowrap; vertical-align:middle; }
#lasttags .unused a {background: url("../imag/boto/add_of.png") no-repeat left top;}
#lasttags .unused a:hover {background: url("../imag/boto/add_on.png") no-repeat left top;}
#lasttags .used a {background: url("../imag/boto/add_on.png") no-repeat left top;}
.nombre .ayuda.tags {font-size:11px;}
#linkTags4Fids {font-size:11px;}


/* para el banco de imágenes */
#banco-img .butBancoImg {cursor:pointer;}
#banco-img .banco-total{margin-left:5px; margin-top:4px; font-size:12px; font-weight:bold; color:#aaa;}
#banco-img .foto-icon {width:80px;padding-top:4px;}
.foto-icon img, .fotodrag.ui-draggable {max-width:80px;max-height:80px;}
#banco-img .datos-foto {padding-left:4px;}
#banco-img .datos-foto span{font-size:11px;}
#banco-img .datos-foto .sin-usar {color:#ff0000; font-size:10px;}
#banco-img .botonera {margin:4px 2px 2px 4px;}
#banco-img .banco-vermas {margin:20px 0 40px 10px;}
#banco-img .banco-vermas img{display:none; margin:0 auto;}
#banco-img .banco-vermas a{color:#FF8000;font-weight:normal;}
#banco-img .banco-vermas a:hover{color:#FF0000;}
#banco-content {display:none;}
/* sobre-escribe el scroll del banco de imagenes */
.box-gris {padding:2px 0px;}
.box-gris .box-auxi .box-scroll {height:320px; margin:4px 2px;}
.box-gris .box-auxi .item {margin:8px 5px;}


/* para el administrar archivos de respaldo en formularios */
.formbackup .box-gris {width:958px;}
.formbackup .tableback {width:100%; margin-bottom:4px;}
.formbackup .hint {font-size:14px; font-weight:normal; padding:4px 2px;}
.formbackup .hint .form_icon {width:45%; float:left;}
.formbackup .hint .form_icon a {font-size:18px; color:#003366; font-weight:bold;}
.formbackup .hint .form_icon a span {margin:10px 0px; display:block;}
.formbackup .hint .form_icon a img {float:left; margin-right:10px; border:0px;}
.formbackup .separador {border-top:1px solid #E6E6E6; border-bottom:1px solid #E6E6E6;}
.formbackup .head td {padding:2px; text-align:left; font-weight:bold; vertical-align:middle; background-color:#E6E6E6;}
.formbackup .valor td {padding:2px; text-align:left; border:1px solid #E6E6E6; }

.formbackup .msg {font-size:14px; font-weight:normal; padding:4px 2px; width:400px; margin: auto;}
.formbackup .msg .icon {display: none;}
.formbackup .msg .icon span {margin:4px 0px; float:left; font-size:18px; color:#003366; font-weight:bold; width: 360px;}
.formbackup .msg .icon a img {margin-right:10px; border:0px;}
.formbackup .msg .icon img {float:left; margin-right:10px; border:0px;}

/* Para los archivos multiples */
.cabecera .tabs-alt {width:100%}
.cabecera .tabs-alt ul li {float:left; clear:none; margin:2px 10px; list-style: none;}
.cabecera .tabs-alt ul li a {font-weight:bold; color:#0099ff; font-size:12px;}
.cabecera .tabs-alt ul li a.selected {color:#333333; text-decoration:underline;}

/* Para la barra lateral derecha del articulo */
.opciones .box-gris {padding:4px 0px;}
.opciones .tableform {margin-bottom:4px;}
.opciones .combo-right {width:49%; padding-bottom:0px; margin-bottom:0px;}
.opciones .combo-right select {width:99%; padding:2px;}
.opciones .label-fid {width:90%; border:1px solid #CCCCCC; padding:3px; font-weight:normal; overflow:hidden; background-color:white; color:#666666; font-size:12px;}
.opciones .check-item {vertical-align:middle;}
.opciones .fechahora {width:100%; padding:0px; margin:0px;}
.opciones .fechahora td {font-size:11px; padding:2px 0px;}
.opciones .fechahora td .fecha {width:60px;}
.opciones .fechahora td .hora {width:32px;}
.opciones .fechahora td .actualizar {width:10px; background-color:#FF8000; cursor:pointer; margin-left:2px; background:url(../imag/reload-10px.png) no-repeat left top;}
.opciones .fieldform {padding:2px; font-size:11px; color:#666666; background-color:#FFFFFF; border:1px solid #CCC;}
.opciones .fecha {width:65px;}
.opciones .hora {width:35px;}

/* Comentarios. */
.comentarios .box-gris {padding:4px 0px;}
.comentarios .tableform {margin-bottom:4px;}
.comentarios .combo-right {width:49%; padding-bottom:0px; margin-bottom:0px;}
.comentarios .combo-right select {width:99%; padding:2px;}
.comentarios .label-fid {width:90%; border:1px solid #CCCCCC; padding:3px; font-weight:normal; overflow:hidden; background-color:white; color:#666666; font-size:12px;}
.comentarios .check-item {vertical-align:middle;}
.comentarios .fechahora {width:100%; padding:0px; margin:0px;}
.comentarios .fechahora td {font-size:11px; padding:2px 0px;}
.comentarios .fieldform {padding:2px; font-size:11px; color:#666666; background-color:#FFFFFF; border:1px solid #CCC;}
.comentarios .fecha {width:65px;}
.comentarios .hora {width:35px;}

/* transcodificacion */
#linkVideo {margin-top:4px;}
.tablexcode video {margin:0px auto;}
.tablexcode .nombre {width:25%;}
.tablexcode .campo {width:75%;}
.tablexcode .status-xcode {vertical-align:middle;}
.tablexcode .status-xcode img {float:left; display:block; margin-right:8px;}
.tablexcode .status-xcode div {padding-top:3px;}
.tablexcode .panel-xcode {display:none;}
.tablexcode .panel-player {width:460px; float:left;}
.tablexcode .panel-buttons {width:160px; float:right; text-align:left;}
.tablexcode .panel-embed {text-align:left; margin:10px 30px; clear:both;}
.tablexcode .panel-embed textarea {width:590px; height:100px; margin-top:5px; font-family:monospace;}
.tablexcode .item {margin-bottom:5px;}
.tablexcode .item a {font-size:14px; color:#AAAAAA;}
.tablexcode .item a:hover {color:#000000;}
.tablexcode .item img {vertical-align:middle;}

/** Upload de Imagenes **/
#uploadDragDrop .input-fileupload {display:none;}
#imagenescargadas .item-uploaded {margin-left:10px;margin-top:16px;width:120px;height:135px;overflow:auto;display:inline;float:left}
.uploadify {position: relative;overflow:visible !important; margin:0px auto;}
.uploadify object {left: 0;}
.uploadify .uploadify-button {background-color: #505050; background-image: linear-gradient(bottom, #505050 0%, #707070 100%); background-image: -o-linear-gradient(bottom, #505050 0%, #707070 100%); background-image: -moz-linear-gradient(bottom, #505050 0%, #707070 100%); background-image: -webkit-linear-gradient(bottom, #505050 0%, #707070 100%); background-image: -ms-linear-gradient(bottom, #505050 0%, #707070 100%); background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #505050), color-stop(1, #707070));background-position: center top;background-repeat: no-repeat;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;border: 2px solid #808080;color: #FFF;font: bold 12px Arial, Helvetica, sans-serif;text-align: center;text-shadow: 0 -1px 0 rgba(0,0,0,0.25);width: 100%;}
.uploadify:hover .uploadify-button {background-color:#606060; background-image: linear-gradient(top, #606060 0%, #808080 100%);background-image: -o-linear-gradient(top, #606060 0%, #808080 100%); background-image: -moz-linear-gradient(top, #606060 0%, #808080 100%);background-image: -webkit-linear-gradient(top, #606060 0%, #808080 100%);background-image: -ms-linear-gradient(top, #606060 0%, #808080 100%);background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #606060), color-stop(1, #808080));background-position: center top;-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.uploadify-button.disabled {background-color: #D0D0D0;color: #808080;}
.uploadify-queue {margin-bottom: 1em; width:100%; margin-top:5px;}
.uploadify-queue-item {float:left; background-color: #F5F5F5;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;font: 11px Verdana, Geneva, sans-serif;margin-top: 5px; width:300px; max-width:280px;padding: 10px; margin-left:20px;}
.uploadify-error {background-color: #FDE5DD !important;}
.uploadify-queue-item .cancel a {background: url('../js-local/uploadify/img/uploadify-cancel.png') 0 0 no-repeat;float: right;height: 16px;text-indent: -9999px;width: 16px;}
.uploadify-queue-item.completed {background-color: #E5E5E5;}
.uploadify-progress {background-color: #E5E5E5;margin-top: 10px;width: 100%;}
.uploadify-progress-bar {background-color: #0099FF;height: 3px;width: 1px;}
#dropZone, #_galeria_dropZone {background-color: #3A3935; height: 200px; margin: 0 auto; width: 315px; border-radius: 10px 10px 10px 10px; border: 1px solid #000000;}
#dropZone .draghere, #_galeria_dropZone .draghere {color: #FFFFFF; margin-top: 87px; text-shadow: 1px 1px 2px #E6E6E6; text-transform: uppercase;}
#uploadProgress, .uploadProgress {margin: 4px auto 0; width: 185px; display: none; height: 18px; width: 186px;}
#uploadProgressPercent, .uploadProgressPercent {margin-left: 145px; position: absolute; width: 35px;}
.uploadProgressContainer {width:182px; height:15px;border:1px solid #666666; float: left;}
.uploadProgressBar {width:0%; height:15px; float:left;}
.prontus-imagenescargadas {margin-left:5px;margin-top:10px;width:120px;height:135px;overflow:hidden;display:inline;float:left}
.prontus-imagenescargadas div.img-error {color:#FFA500;}
.prontus-imagenescargadas img {max-height: 120px;max-width: 120px;}


/* Editor de fotos fijas. */
.preview-fotofija {width: 100%;height: 451px;border-bottom: 1px solid #cecece;position: relative;}
.preview-fotofija .barra {width: 100%;height: 30px;border-bottom: 1px solid #cecece;}
.preview-fotofija .barra h3 {padding: 5px; font-size: 15px; float: left; color: #4D4D4D;}
.preview-fotofija .barra .botones {float: right;padding: 5px; display: none;}
.preview-fotofija .barra .botones a {padding: 2px 2px;float: right;}
.preview-fotofija .barra .botones a img {}
.preview-fotofija .barra .botones .crop-aplicar {display: none;}
.preview-fotofija .barra .botones .crop-aplicar a {padding: 0 10px 0 0; margin-right: 10px;}
.preview-fotofija .work-area {position: relative;height: 420px;width: 683px;}
.preview-fotofija .work-area .img {width: 683px;height: 420px;position: relative;}
.preview-fotofija .work-area .img img {max-height: 100%; max-width: 100%;margin: 0 auto;position: relative;left: 0;right: 0;top: 0;bottom: 0;margin-top: auto;margin-bottom: auto;}
.preview-fotofija .work-area.cropping .img img {opacity: 0.5;}
.preview-fotofija .work-area.cropping .img .crop-box .crop-sizer {width: 683px;height: 420px;position: absolute;}
.preview-fotofija .work-area.cropping .img .crop-box {display: none; position: absolute;z-index: 100;outline: 1px solid;}
.preview-fotofija .work-area.cropping .img .crop-box .crop-sizer img {opacity: 1;}
.preview-fotofija .work-area.cropping .img-drag {cursor: move;}

.preview-fotofija .work-area .zoom {display: none;z-index: 200;}
.preview-fotofija .alert {display: none;position: absolute;width: 650px;height: 50px;background-color: #fcf8e3;margin: 15px;color: #8a6d3b;border:1px solid #faebcc;z-index: 1;}
.preview-fotofija .alert div {text-align: center;margin: 15px;}
/*.preview-fotofija .work-area .zoom .plus {background: url('../imag/boto/slider_plus.png') no-repeat; position: absolute;top: 140px; left: 10px; width: 16px; height: 16px;cursor: pointer;}*/
/*.preview-fotofija .work-area .zoom .minus {background: url('../imag/boto/slider_minus.png') no-repeat; position: absolute;top: 264px; left: 10px; width: 16px; height: 16px;cursor: pointer;}*/
.preview-fotofija .work-area .zoom .plus {width: 14px;height: 30px;background: #d4d4d4;top: 120px;position: absolute;left: 5px;font-size: 20px;text-align: center;cursor: pointer;z-index: 190;}
.preview-fotofija .work-area .zoom .minus {width: 14px;height: 24px;background: #d4d4d4;top: 270px;position: absolute;left: 5px;font-size: 20px;text-align: center;padding-top: 5px;cursor: pointer;z-index: 190;}
.preview-fotofija .work-area .zoom .range {margin-top: auto;margin-bottom: auto;bottom: 0;top: 0;position: absolute;left: 5px;border: 1px solid #ccc;background: #D4D4D4;height: 120px; overflow: visible; border-radius:0;border:0;z-index: 200;}
.preview-fotofija .work-area .zoom .range .ui-slider-handle {height: 18px; width: 18px;margin-left: 3px;background: #0097fb !important;border-radius: 3px 3px 3px; border: 1px solid #ccc;z-index: 200;}
.preview-fotofija .foto-list-container {top:0px; left:0px; display: none; width: 100%;height: 100%;position: absolute;background-image:
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgOAMAAM8AzbfAeUUAAAAASUVORK5CYII=);z-index: 100;color: #4D4D4D;}
.preview-fotofija .foto-list-container .foto-list {background-color: #fafafa;width: 300px; height: 300px; overflow: hidden;margin: 40px auto;outline: 5px solid #ccc;}
.preview-fotofija .foto-list-container h3 {font-size: 15px;padding: 5px;text-align: center;}
.preview-fotofija .foto-list-container ul {width: 250px;margin: 5px auto;overflow: auto;overflow-x:visible;height: 195px;}
.preview-fotofija .foto-list-container ul li {list-style: none;}
.preview-fotofija .foto-list-container .foto-list-botones {width: 140px;margin: 10px auto;}

.fotofija-container {padding: 2px;display: inline-block;}
.fotofija-container .name {text-align: center;font-size: 12px;color:#aaaaaa;width: 120px;}
.fotofija-container .size {text-align: center;font-size: 12px;color:#aaaaaa;}
.fotofija-container .fotofija {width: 120px;height: 120px;outline: 1px solid #e6e6e6;position: relative;}
.fotofija-container .fotofija .foto-recuadro {width: 120px; height: 120px;border:0;padding: 0;margin: 0;position: relative;}
.fotofija-container .fotofija .ui-state-active {background: url('../imag/edi/bg_drop.png') no-repeat;}
.fotofija-container .fotofija .foto-recuadro img {position: absolute;left: 0;right: 0;top: 0;bottom: 0;margin: auto;max-width: 100%;max-height: 100%;}
.fotofija-container .fotofija .botones {height: 20px; display: none;position: absolute;bottom: 0;width: 100%;background-image:
  url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mO4cO32TAAIFgMbq4lc+QAAAABJRU5ErkJggg==);outline: 1px solid #ccc;}
.fotofija-container .fotofija .botones a {float: left;display: block;padding: 2px;}
.fotofija-container .fotofija .botones input {float: left;margin: 4px 2px 0px 2px;display: block;}
.fotofija-container .fotofija .botones .cuadrar {position: absolute;right: -4px;width:60px;}
.fotofija-container .fotofija .botones label {font-size: 9px;margin: 4px 0px 0px 0px;display: block;}
.fotofija-container .fotofija.active {outline: 2px solid #0097fb;}
.hidde-crop {display: none !important;}

/* seleccion de multitag */
#multitag {width: 100%;}
#multitag .col {width: 33.3%;float: left;height: 200px;}
#multitag .col .box {width: 95%;height: 95%; padding: 2px;margin: 3px;border: 1px solid #ccc;}
#multitag .col .box h3 {text-align: center;font-size: 13px; margin-bottom: 5px;border-bottom: 1px solid #ccc;}
#multitag .col .box .lista {height: 170px;overflow-y: scroll;}
#multitag .col .box .lista .item {padding: 2px 5px;}
#multitag .col .box .lista .item input {float: left;margin: 2px 4px;}
#multitag .col .box .lista .item label {font-weight: normal;float: left;width: 80%;}
#divCombinaciones {height: 100%;background-color: #fafafa;overflow-y: visible !important;position: relative;}
#divCombinaciones table {padding: 10px;}
#divCombinaciones h3 {color: #4D4D4D;}
#divCombinaciones table tr th {text-align: left;font-size: 12px;text-align: left;font-weight: bold;}
#divCombinaciones table tr td {text-align: left;font-size: 12px;text-align: left;}
#divCombinaciones table tr td .copiar-link-mtag {}
