/** #E6FFE6 #E6FFFF #FEF5D3 #FFFFCE**/
body {margin:0px; padding:0px;}
.spacer {clear:both; height:0px;}
img {border:0;}

#contenedor {width:1000px; margin:0px auto;}
#cont-top {width:1000px; z-index:100; position:fixed; top:0px; height:50px; background-color:#E6FFFF; border:1px solid #888;}
#cont-pub {width:490px; float:left; position:relative; top:50px; background-color:#FEF5D3; border:1px solid #888;}
#cont-nopub {width:490px; float:right; position:relative; top:50px; background-color:#E6FFFF; border:1px solid #888;}

/** Botones del Head **/
#cont-top img.boton {margin:5px;}


#cont-pub .item {background-color:#FEF5D3;}
#cont-pub .moved .item h2.handler-left {background-color:#FFB66C;}
#cont-nopub .item {background-color:#E6FFFF;}
#cont-nopub .moved .item h2.handler-left {background-color:#FFB66C;}

#cont-pub h2.handler-right { background-position: -48px -192px; }
#cont-nopub h2.handler-right { background-position: -96px -192px; }

/*.placeholder {background-color:#FFFFCE; height:2px; margin:2px; border: 1px dashed #F2BC00;}
.placeholder {background:inherit url('imag/button_left.png') repeat top left;}
#cont-nopub .ui-sortable-placeholder {border: 1px dashed #F2BC00; visibility:visible;}*/
.area-list li.disabled h2 {cursor:'default';}

.area-list {list-style-type:none; margin:4px 0; padding:4px 0;}

.list-artic {margin:4px; padding:4px 0px;}
.list-artic h1 {font-size:16px; font-weight:bold;}
.list-artic h2 {margin:5px 0;}
.list-artic h2.handler-left {float:left; margin:10px 10px 0 0; border-right:1px solid #bbb;}
.list-artic h2.handler-right {float:right; margin:10px 0 0 10px; border-left:1px solid #bbb;}

.list-artic .controles {float:right; margin-top:5px; font-size:11px;}

.list-artic .item {margin:4px; height:35px; padding:0px;}
.list-artic .item-content {border:1px solid #bbb; height:34px;}
.list-artic .item-content .autoinc {font-size:20px;}
.list-artic .item-content .titular {font-size:12px;}

.list-artic .titulo-area {font-size:14px; font-weight:bold; padding:4px 5px; margin-top:5px;}
.list-artic .titulo-area a span  {float:left;}
.list-artic .titulo-area a {text-decoration:none; color:#004080;}

.list-artic .links-utiles {padding:0px 5px;}
.list-artic .links-utiles a {font-size:10px; color:#004080; text-decoration:none;}
.list-artic .links-utiles a:hover {color:#d00;}
