.box-olvidopass {width:550px; margin:100px auto;}
.box-olvidopass .logo {clear:both; margin:0 0 8px 0;}
.box-olvidopass .auxi {width:350px; height:220px; clear:both; font-size:12px; color:#FFFFFF; background: url("../imag/auxi/login_back.jpg") no-repeat left top; margin: 0 auto;}
.box-olvidopass .auxi p { margin:20px 0 10px 22px; text-align:left; }
.box-olvidopass .auxi .fieldform {width:290px; margin:0; padding:7px 5px; font-size:15px; font-weight:normal; color:#000000; background-color:#FFFFFF; border:none;}
.box-olvidopass .auxi .fieldform2 {width:160px; margin:1px 0 0; padding:7px 5px; font-size:15px; font-weight:normal; color:#000000; background-color:#FFFFFF; border:none;}
.box-olvidopass .celeste a {font-size:11px;}
.box-olvidopass .auxi h3 { padding-top: 5px; }
.box-olvidopass .info {background-color: #DEDEDE; border:1px solid #AAAAAA; margin-bottom:15px;}
.box-olvidopass .info p {font-size:12px; padding-bottom:5px; padding-left:20px; padding-top:5px; text-align:left;}
.box-olvidopass .auxi p .captchaimg {margin-left:17px; position: absolute;}
.box-olvidopass .auxi .botonIngresar {margin-left: 38px; margin-top: 40px;}
.box-olvidopass .auxi .loading-action {display:none; margin-top:33px; margin: 0 auto;}
#prontus_captcha_content img {vertical-align:middle;}
